@import "./vars";

.flex {
    display: flex;
    @media (max-width: $md) {
        flex-direction: column;
    }
}

.column {
    display: flex;
    flex-direction: column;
}

.flex-end {
    align-items: flex-end;
    justify-content: flex-end;
}

.self-end {
    align-self: flex-end;
}

.space-between {
    justify-content: space-between;
}