@import "../../../styles/vars";

.title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
  line-height: 39px;
}

.content {
  max-width: 960px;
  justify-content: center;
  margin: 0 auto;
  .top-block {
    display: flex;
    justify-content: space-between;
    margin-top: 125px;
    @media (max-width: $md) {
      flex-direction: column;
      max-width: 100%;
      margin: 0 auto;
      margin-top: 85px;
    }
    &__item {
      width: 100%;
      .header {
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
      }
      @media (max-width: $md) {
        width: 100%;
      }
      .desc {
        color: #bacdea;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .join-link {
        display: block;
        width: 180px;
        height: 70px;
        background: linear-gradient(256deg, #00fdb9 0%, #00e5fd 100%);
        color: #081b31;
        border-radius: 8px;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 70px;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        text-align: center;
      }
      .join-link:hover {
        filter: brightness(1.3);
      }
    }
    .last {
      width: 30%;
      max-width: 100%;
      height: 585px;
      min-width: 413px;
      background: url("../../../assets/fundraising/main.svg") center/cover
        no-repeat;
      position: relative;
      left: -20px;
      top: -20px;
      @media (max-width: $md) {
        margin: 0 auto;
      }
      .image {
        position: relative;
        top: 40px;
        left: 50px;
      }
    }
  }
}
.advantages-wrap {
  .title {
    text-align: center;
    line-height: 50px;
    margin-top: 45px;
    margin-bottom: 50px;
  }
  .steps-wrap {
    width: 900px;
    height: 120px;
    background: url("../../../assets/fundraising/steps-bg.png") center/cover
      no-repeat;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .step {
      width: 140px;
      height: 140px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 150%;
      background-position-y: -15px;
      border-radius: 50%;
    }
  }
  .steps-content-wrap {
    width: 920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 65px;
    .step-content {
      flex: 1;
      padding-left: 25px;
      .step-count {
        color: #07afec;
        font-size: 28px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
      }
      .step-text {
        color: #a8b1c0;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
.stats-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  .stats-list {
    width: 342px;
    .title {
      margin-bottom: 20px;
      color: #fff;
      font-family: Outfit;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 39px;
    }
    .list-wrap {
      list-style: none;
      padding-left: 0px;
      li {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 20px;
        color: #f0fbff;
        font-family: "Poppins";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
      }
    }
  }
  .stats-grid {
    width: 584px;
    height: 646px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .image {
      background: url("../../../assets/fundraising/stats-bg.svg") center/contain
        no-repeat;
      width: 560px;
      height: 632px;
    }
  }
}
.offers-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  .offers {
    width: 370px;
    .grid {
      margin-top: 31px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      .image {
        width: 175px;
        height: 100px;
        background-size: 150%;
        background-position: center;
        background-position-y: -24px;
        background-repeat: no-repeat;
      }
      .text {
        color: #f0fbff;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 15px;
      }
    }
  }
  .streams {
    width: 510px;
    margin-bottom: 100px;
    .grid {
      margin-top: 31px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      .grid-item {
        width: 245px;
        height: 100px;
        border-radius: 20px;
        background-color: #18396b;
        display: flex;
        column-gap: 15px;
        align-items: center;
        .image {
          width: 100px;
          height: 100px;
          background-size: 200%;
          background-position: center;
          background-position-y: -23px;
          background-repeat: no-repeat;
          border-radius: 20px;
        }
        .text {
          width: 145px;
        }
      }
    }
  }
}
.testimonials-wrap {
  background-color: #18396b;
  padding-top: 80px;
  padding-bottom: 70px;
  .testimonials {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    column-gap: 58px;
    &-content {
      width: 600px;
    }
    &-image {
      width: 300px;
      height: 346px;
      background: url("../../../assets/fundraising/app-screen.svg")
        center/contain no-repeat;
    }
  }
}
.machine-learning {
  display: flex;
  .content-1 {
    width: 348px;
    height: 359px;
    background: url("../../../assets/fundraising/machine-learning-1.svg")
      center/contain no-repeat;
  }
  .content-2 {
    width: 613px;
    height: 359px;
    background: url("../../../assets/fundraising/machine-learning-2.svg")
      center/contain no-repeat;
  }
}

.manifest {
  height: 409px;
  display: flex;
  margin-top: 94px;
  margin-bottom: 94px;
  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    margin-right: 47px;
    padding: 0px;
    .text-top-block {
      .text-content {
        color: #f0fbff;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
        margin-top: 14px;
      }
    }
    .text-bottom-block {
      display: flex;
      align-items: center;
      .dot {
        background-color: #ffc737;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 8px;
      }
    }
  }
  .image {
    width: 613px;
    background: url("../../../assets/fundraising/manifest.svg") center/contain
      no-repeat;
    height: 472px;
  }
}
