<section class="responsive-main-container flex center hero-section">
    <div class="hero-section__left-bar column">
        <h1 class="header-1">
                <span class="header-detail">NFT Show off</span> Area Section
        </h1>
        <div class="hero-section__description">
            <div class="flex px-4">
                Eget aliquet nibh praesent tristique magna sit amet purus mauris in aliquam.
            </div>
            <div class="hero-section__bottom-bar center">
                <app-x-button class="button uppercase" [isBrand]="true" [isColorInverted]="false" (triggerClick)="handleGoToBetaAppClick()">Join
                </app-x-button>
                <app-x-button class="button uppercase" [isColorInverted]="true" (triggerClick)="handleGoToBetaAppClick()">Discord
                </app-x-button>
            </div>
        </div>
    </div>
    <div class="column hero-section__gif-bar">
        <img src="./../../../assets/gifs/xpass.gif" />
    </div>
</section>