<div class="card__title header-2 pt-6 center" data-aos="fade-up">
  Trading Scripts and Trading Channels
</div>
<div class="blog-card__post-header pb-6 center flex space-between px-2">
  <div>22.11.2022</div>
</div>
<h3 class="center">What are Trading Scripts?</h3>

<p>
  This is a great question. A script is an automated creation that is there to
  help us as traders define that a technical parameter has been met. Generally,
  people use Trading scripts for entries and exits, but they can also be
  optimized to show other things like unusual volume, or other factors like
  pattern recognition. Trading scripts in general need to be refined quite
  often, and we actually have quite a few of them that are sold and available to
  our trading channel, inside our marketplace:
  <a href="https://app.xtrades.net/xhub/list?category=TradingViewIndicator"
    >The Xhub</a
  >.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; width: 50%"
    src="../../../../assets/images/Picture4.png"
  />
</div>

<p>
  There are many kinds of Trading Scripts in the digital finance realm. A lot of
  the times, this can simply mean something that feeds data to us, other times
  it could mean a script that we run on our brokerage account to completely auto
  trade or copy trade for us. A script can also mean it’s just a custom
  indicator that’s been adjusted to fit the market performance. At xtrades,
  we’re one of the few places that actually allows traders to create their own
  trading scripts, and then sell them in our
  <a href="https://app.xtrades.net/xhub/list?category=TradingViewIndicator"
    >marketplace</a
  >. Once you’ve gained a reputation in our channel through your trading
  expertise - you are able to essentially use that reputation to market a script
  or sell a script to the community due to your trading prowess.
</p>

<p>
  We can also develop custom trading scripts for you, based on what you’re
  looking for - as long as you have the technical parameters that you’re
  interested it in executing upon, we can do the coding for you!
</p>

<p>
  Once you’ve made your own script, you can then list it in our marketplace to
  get a return on your investment. How wonderful! Often times we see people
  mentioning their script and how it’s performing well inside the trading
  channels, but it’s clear as day that these eventually need to be updated in
  order to match the way the market moves.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; width: 50%"
    src="../../../../assets/images/Picture5.png"
  />
</div>

<p>
  Check out our many
  <a href="https://discord.gg/akTJP2A6">trading channels</a> for more insights.
</p>
