<div class="card__title header-2 pt-6 center" data-aos="fade-up">
  What Is Copy Trading? How Do I Get Involved?
</div>
<div class="blog-card__post-header pb-6 center flex space-between px-2">
  <div>30.11.2022</div>
</div>

<p>
  In this current day and age - most people are too busy to actually try and
  find the best trades for themselves. It’s hard to integrate the overall market
  movement and fluidity into your daily process, which is why they usually sign
  up for a service that does this for them! However there is an inconvenience
  factor that lies within this, which is the fact that customers still need to
  open their broker, and execute the trade themselves after receiving an alert
  from alerters / gurus out there.
</p>

<p>
  That’s why, at Xtrades we’re going to slowly add in the ability to two-tap
  trade and immediately execute a trade you want to follow through your
  brokerage and make the trade happen once a social trading alert appears from
  your custom alert filter. This will occur with brokers like Interactive
  Brokers.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; width: 50%"
    src="../../../../assets/images/Picture11.png"
  />
</div>

<p>
  Copy trading for the most part has not been a relevant part of the digital
  social trading realm due to the legalities behind making it happen. We see
  services like Etoro offering it, but with the spreads enabled in their
  brokerages, it is essentially a rip off and not worth getting involved in.
  What we’re looking for in this day in age is a slippage free and fee-free way
  of offering this to our users. It will take time, but the development process
  is already underway. Check out our the users and traders that will exist on
  our <a href="https://www.xtrades.net/ourtraders">Copy Trading Platform</a>.
</p>
