<div class="card__title header-2 pt-6 center" data-aos="fade-up">
  A First Of It's Kind Application For Traders: The Xtrades App
</div>
<div class="blog-card__post-header pb-6 center flex space-between px-2">
  <div>01.12.2022</div>
</div>

<p>
  Have you ever thought of a trading app that encompassed everything you needed
  as a trader? From receiving isolated push notifications, to finding the right
  mentor and coach that you can strictly follow and listen to for advice, to
  knowing what the general public thinks about an asset. What about getting
  educated or using the same tools as the traders that you’re interested in
  following - this is all possible through downloading our Apple Store Xtrades
  App, or if you’re an android uer, you can download our Xtrades Android App.
</p>

<p>
  Studies have shown that individuals who teach are able to retain 95% of what
  they learn. The most enforcing way to learn something is by teaching it to
  others, and that is exactly what our Xtrades IOS app and Play Store Xtrades
  app allows us to do. We give people the ability to share their trades in
  absolute real time and these stats are then crunched into viewable parameters
  which allow us to understand where we are weak, where we are strong - what
  types of trades we excel in, what our win rate is in Stocks vs Options, and
  the list goes on. Our goal is to build proper social infrastructure for
  Traders and Investors that range from complete beginners to intermediate to
  advanced. No matter where you are on the spectrum, there is a place for you to
  contribute, earn, and continue learning from others.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; width: 50%"
    src="../../../../assets/blogs/19/19-1.png"
    alt="Xrtrades Icon"
  />
</div>

<p>
  Right now, our Xtrades android app is not as polished as the Iphone version of
  the Xtrades IOS app but our priorities will be there to ensure that they are
  equally working just as well. Right now, users can filter their favorite
  traders out and get alerts from the people that they deem to be the most
  effective. Previously, it was troublesome to try and filter out notifications
  via Discord, but now you can operate the app in a way where you can literally
  only get push notifications from one person if you wanted to. Moving forward
  we will ensure that the Xtrades IOS app and the Xtrades Android app are
  equally working - if you have any comments, suggestions, or feature requests
  feel free to shoot me an email: kevin@xtrades.net
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; width: 50%"
    src="../../../../assets/blogs/19/19-2.png"
    alt="Xrtrades Icon"
  />
</div>
