<div class="center">
    <a class="iframe" href="https://www.producthunt.com/posts/xtrades?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-xtrades" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=366225&theme=neutral" alt="Xtrades - A&#0032;gamified&#0032;social&#0032;app&#0032;for&#0032;traders&#0032;investors&#0032;and&#0032;influencers | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a>
</div>
<div class="flex justify-content">
    <a href="https://discord.com/invite/xtrades" class="logo-link">
        <div>
            <img src="../../../../assets/discord.svg" />
        </div>
    </a>
    <a href="https://apps.apple.com/us/app/xtrades/id1619081753" class="logo-link">
        <div>
            <img src="../../../../assets/apple.svg" />
        </div>
    </a>
    <a href="https://play.google.com/store/apps/details?id=net.xtrades.app&hl=pl&gl=US" class="logo-link align-bottom">
        <div class="flex align-bottom"><img src="../../../../assets/android.svg" class="android-align"/></div>
    </a>
</div>