<div class="center">
    <a class="iframe" href="https://www.producthunt.com/posts/xtrades?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-xtrades" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=366225&theme=neutral" alt="Xtrades - A&#0032;gamified&#0032;social&#0032;app&#0032;for&#0032;traders&#0032;investors&#0032;and&#0032;influencers | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a>
</div>
<div class="justify-content">
    <a href="https://discord.com/invite/xtrades" class="logo-link"><img src="../../../../assets/discord.svg" /></a>
    <a href="https://apps.apple.com/us/app/xtrades/id1619081753" class="logo-link"><img src="../../../../assets/app-store-ios.svg" /></a>
</div>