@import "../../../../styles.scss";

:host {
    position: fixed;
    bottom: 0;
    right: 0;
    min-height: 100px;
    margin: 15px;
}

.iframe, .logo-link {
    @media (max-width: $md) {
        display: none;
    }
}

.logo-link, .logo-link img {
    color: var(--brand-main-purple);
    fill: var(--brand-main-purple);
    height: 28px;
    padding: 0 5px;
    margin: 5px 0;
}

path {
    color: var(--brand-main-purple) !important;
    fill: var(--brand-main-purple) !important;
}

.align-bottom {
    justify-content: flex-end;
}