<div
  class="header responsive-main-container"
  [class.responsive-main-container]="
    !(screenService.screenSize$ | async)?.isMobile
  "
>
  <div *ngIf="isMainHeader" [routerLink]="['/']">
    <img
      lazy
      img
      class="logo"
      alt="Xtrades Logo"
      src="assets/xtrades-logo.png"
      width="85"
      height="62"
    />
  </div>
  <div class="header__elements" *ngIf="!isMobile">
    <span
      *ngFor="
        let element of headerElements.length !== 0
          ? headerElements
          : headerProvider.headerElements
      "
    >
      <a
        class="link"
        [routerLink]="element.directUrl"
        routerLinkActive="active-router-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >{{ element.title }}</a
      >
    </span>
    <app-popover>
      <a class="link cursor-pointer" trigger>Our Traders</a>
      <app-ourtraders></app-ourtraders>
    </app-popover>
    <span>
      <a
        class="link"
        target="_blank"
        href="https://app.xtrades.net/plans"
        routerLinkActive="active-router-link"
        >Plans</a
      >
    </span>
    <!-- <span>
      <a class="link" target="_blank" href="https://app.xtrades.net/" routerLinkActive="active-router-link">20 Day Free Trial</a>
    </span> -->
    <span>
      <a
        class="link"
        target="_blank"
        href="/documentation"
        routerLinkActive="active-router-link"
        >Docs</a
      >
    </span>
    <span *ngFor="let element of headerProvider.headerElementsLast">
      <a
        class="link"
        [routerLink]="element.directUrl"
        routerLinkActive="active-router-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >{{ element.title }}</a
      >
    </span>
  </div>
  <app-x-button
    *ngIf="isMainHeader && !isMobile"
    class="button"
    [isColorInverted]="true"
    (triggerClick)="signup()"
    >Sign Up</app-x-button
  >
  <app-x-button
    *ngIf="isMainHeader && !isMobile"
    class="button pl-2"
    [isColorInverted]="true"
    (triggerClick)="login()"
    >Login</app-x-button
  >
  <ng-container *ngIf="isMobile">
    <img
      img
      class="menu pointer"
      alt="Mobile Menu Button"
      src="assets/xtrades-menu.svg"
      (click)="onMobileMenuOpen()"
    />
  </ng-container>
</div>
<ng-container #mobileHeader *ngIf="isMobile && isMenuOpened">
  <app-mobile-header (triggerClose)="onMobileMenuClose()"></app-mobile-header>
</ng-container>
