
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;

  &__elements {
    display: flex;
    gap: 10px;
  }

  .logo {
    max-height: 62px;
    cursor: pointer;
  }

  &__icon {
    font-size: 40px;
    margin-right:10px;
    cursor: pointer;
    &:hover {
      color: var(--header-element-font-color-hover);
    }
  }
}