.tab-close {
    color: gray;
    text-align: right;
    cursor: pointer;
}

.nav {
    padding-top: 1em;
}

.nav .tab {
    padding: 0 .5em;
    border: 1px solid white;
    border-bottom: 1px solid white;
    width: 100%;
}

.nav .tab.active {
    border-bottom: 1px solid transparent;
}

.placeholder {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
}
