<div class="mobile-header">
  <div class="responsive-main-container">
    <div class="top-bar" *ngIf="!isDropdown">
      <div routerLink="['']">
        <img
          lazy
          img
          class="logo pointer"
          width="85"
          height="62"
          src="assets/xtrades-logo.png"
        />
      </div>
      <img
        lazy
        img
        class="menu pointer"
        alt="Mobile Menu Button"
        src="assets/xtrades-icon-close.svg"
        (click)="onMenuClose()"
      />
    </div>
    <div class="main-mobile-header-body">
      <div class="header__elements">
        <!-- <span
          *ngFor="
            let element of headerElements.length !== 0
              ? headerElements
              : headerProvider.headerElements
          "
        >
          <a
            class="link"
            (click)="onMenuClose()"
            [routerLink]="element.directUrl"
            routerLinkActive="active-router-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >{{ element.title }}</a
          >
        </span> -->
        <ng-container *ngIf="!hideNavLinks; else notHomePage">
          <span *ngFor="
              let element of headerElements.length !== 0
                ? headerElements
                : headerProvider.headerElements
            ">      
            <a 
              class="link"
              [routerLink]="element.directUrl"
              routerLinkActive="active-router-link"
              [routerLinkActiveOptions]="{ exact: true }"
              >{{ element.title }}</a
            >
          </span>
          </ng-container>
          <ng-template #notHomePage>
            <span>
              <a class="link" [routerLink]="['/']" routerLinkActive="active-router-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            </span>
          </ng-template>
        <app-accordion *ngIf="!hideNavLinks">
          <span class="link cursor-pointer" trigger> Our Traders </span>
          <app-ourtraders [isMobile]="true"></app-ourtraders>
        </app-accordion>
        <span *ngIf="!hideNavLinks">
          <a
            class="link"
            target="_blank"
            href="https://xtrades.gitbook.io/documentation/alert-capture-bot-xcapture/overview"
            routerLinkActive="active-router-link"
            >xCapture</a
          >
        </span>
        <!-- <span>
                    <a class="link" target="_blank" href="https://app.xtrades.net/"
                        routerLinkActive="active-router-link">20 Day Free Trial</a>
                </span> -->
        <span *ngIf="!hideNavLinks">
          <a
            class="link"
            target="_blank"
            href="/documentation"
            routerLinkActive="active-router-link"
            >Docs</a
          >
        </span>
        <span *ngFor="let element of headerProvider.headerElementsLast">
          <a
            class="link"
            [routerLink]="element.directUrl"
            routerLinkActive="active-router-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >{{ element.title }}</a
          >
        </span>
      </div>
      <app-x-button
        class="button"
        [isColorInverted]="true"
        (triggerClick)="signup()"
        >Sign Up
      </app-x-button>
      <app-x-button
        class="button"
        [isColorInverted]="true"
        (triggerClick)="login()"
        >Login
      </app-x-button>
    </div>
  </div>
</div>
