<div class="mobile-header">
    <div class="responsive-main-container">
        <div class="top-bar" *ngIf="!isDropdown">
            <div routerLink="['']"> <img lazy img class="logo pointer" width="85" height="62"
                    src='assets/xtrades-logo.png'></div>
            <img lazy img class="menu pointer" alt="Mobile Menu Button" src='assets/xtrades-icon-close.svg'
                (click)="onMenuClose()" />
        </div>
        <div class="main-mobile-header-body">
            <div class="header__elements">
                <span *ngFor="let element of (headerElements.length !== 0 ? headerElements : headerProvider.headerElements)">
                    <a class="link" (click)="onMenuClose()" [routerLink]="element.directUrl"
                        routerLinkActive="active-router-link"
                        [routerLinkActiveOptions]="{exact: true}">{{element.title}}</a>
                </span>
                <span>
                    <a class="link" target="_blank" href="https://app.xtrades.net/plans" routerLinkActive="active-router-link">Plans</a>
                  </span>
                <span>
                    <a class="link" target="_blank" href="https://app.xtrades.net/"
                        routerLinkActive="active-router-link">Web Version</a>
                </span>
                <span>
                    <a class="link" target="_blank"
                        href="/documentation"
                        routerLinkActive="active-router-link">Docs</a>
                </span>
                <span *ngFor="let element of headerProvider.headerElementsLast">
                    <a class="link" [routerLink]="element.directUrl" routerLinkActive="active-router-link" [routerLinkActiveOptions]="{exact: true}">{{element.title}}</a>
                </span>
            </div>
            <app-x-button class="button" [isColorInverted]="true" (triggerClick)="handleGoToBetaAppClick()">Sign Up
            </app-x-button>
        </div>
    </div>
</div>