<div class="mobile-header">
    <div class="responsive-main-container">
        <div class="top-bar">
            <div routerLink="['']"> <img lazy img class="logo pointer" src='assets/xtrades-logo.svg'></div>
            <img lazy img class="menu pointer" src='assets/xtrades-icon-close.svg' (click)="onMenuClose()" />
        </div>
        <div class="main-mobile-header-body">
            <div class="header__elements">
                <span *ngFor="let element of headerProvider.headerElements">
                    <a class="link" (click)="onMenuClose()" [routerLink]="element.directUrl" routerLinkActive="active-router-link" [routerLinkActiveOptions]="{exact: true}">{{element.title}}</a>
                </span>
            </div>
            <app-x-button class="button" [isColorInverted]="true" (triggerClick)="handleJoinChatClick()">Join Chat
            </app-x-button>
        </div>
    </div>
</div>