What is Xtrades?
What is the Xtrades Application?
The Xtrades Application is a conglomerate of useful features that will promote the collective interaction between Traders and Investors on the internet. 

Promoting a culture of providing valuable, money making information and educational advice, we incentivize and recognize those that prove themselves to be useful in finding trade insights and assisting the network in reaching their market goals through our own statistical analyses systems.

Xtrades is following the value=n^2 method, n being the number of users on the platform.  We expect that as we expand to new users using the platform, the installed features we have available will allow new users the ability to overall provide some sort of added value to the ecosystem.

Our growth is always based on the users, and thus having a foot in our program for a long period of time will always have merit and benefits in our community.



The Beginning of Xtrades
Introduction: The beginning of Xtrades.
Xtrades started as a small online service called “Enhanced Investor” which was originally a free service. The founder, known as “Kevin” provided detailed insights on stocks that he thought could provide gains going long and short. This ended up proving to be a fruitful service as members continued to follow Kevin for his free insights. His following grew and eventually he began charging a premium to interact with his followers. As the service continued to grow, Kevin realized that he could no longer service an entire ecosystem on his own, so he developed “Xtrades” which is the platform we have today that allows traders to learn and grow at an expedited pace, by being around individuals that have the same goal as them. 

As traders progress through our system, we eventually give them seniority roles that allow them to earn an income and build a reputation on our platform. Starting on Discord, we have fully taken advantages of the features available (Channel Structuring, Role Usage, API’s, Voice, Notifications, etc). Built in C#, we now seek to expand our technologies to the Web/Mobile Application side, further expanding upon useful resources for our user base.|
Historically, Xtrades has gone through many trials and tribulations to become what it is now, the largest and most active, organized trading group on Discord. We plan to turn this tight-knit communal base into a flown-blown heavy hitter application, that will allow users to really explore and understand themselves as traders.



Customers
As a Learner
As a Learner:

Being around a community of vetted traders that the administrators have used a quality assurance process to create, allows paying customers that have the ability to self-learn (which is an innate ability that all humans have) to learn the logic that traders of all experience types (amateur, intermediate and experienced) use to execute their positions. 

Examples of the information being provided: Patterns, indicators, timeframes, psychological thesis being used during the execution of a trade and the thought process being shared. Seeing these sorts of trade idas play out over and over again is enough repetition for anyone with the conviction to analyze and learn to become profitable.

More important than the above, the timing of the entries and the exits alerted, when researched in hindsight show a properly executed trade, can be used in study of technical formats of one's own choice with usage of the free website platforms available right now:  Tradingview for example.   

Traders and Investors, through the information available in our channels, can determine the best platforms suiting their needs to execute the trades they want to place.  So in theory, we are providing the user the ability to be completely up to date on most optimal current Broker Platforms and Trading Tools being used in the current “meta.”
As a Profiter:
Give Platform Value in Exchange for Earnings:  Alerts, Watchlists, Livestreams, Main Chat Activity, Trialist Help, Conversions, Artwork Creation, New User Onboarding, Inviting, Social Media Marketing, and More.

Doing the above tasks, allows for us to give credit back to the users.  They earn Xbits, which can be eventually converted into USD.  The earnings are parallel to the gross membership fees we are generating from the subscribed users.  I.E: 20% of Gross Membership Fees + Bonuses will be distributed to the top active traders of the chatroom.

The payment system that we utilize is based on a sum of points that we provide using point values for certain actions: Using the Xtrades logo, Loyalty within Xtrades during Stressful Situations, Activity, Unquantifiable value points like Live Streams or Mentoring Users, General Alert Quality, Balancing Effect (putting in work in areas that need more help).


What Problem Do We Solve?
Three Of Them: Price, Furus, and User Experience
The internet is an enormous place with over 4,660,000,000 people online daily. Of those people, 18,000,000 invest in equity markets. These individuals are being spoon fed the same information that our top traders, through proven quantification can find and provide consistently. We want to create an influencer platform that allows traders with proven trading abilities to gain recognition, and a stage to provide their market insights. 

The overpriced monthly subscriptions that these internet “Gurus” currently charge can range from $30 - $300 a month. What we’re doing is undercutting these high prices and providing the same knowledge, streamlined, with better traders executing “alerts” regularly than any other service. Due to scalability and usage of technology, there is no reason not to. Individuals with accounts sizes $200 and lower are able to take advantage of our monthly subscription when we price it under $40. On top of this, we will aim to use technology to our advantage when providing and entertaining the users with more dissected individual and overall community analysis than any trading community available.
There are many iterations of “Chatrooms” out there, some that have taken a stance towards improving the technological side of things - but there has yet to be anything that really takes the interaction experience of a real-time chat, to something even more.