<section class="faq responsive-main-container column">
    <app-hero class="faq__article-hero cursor-pointer" appToggle>
        <div class="flex space-between">
            <div class="faq__article-main header-1">
                <h3 class="spacer-top-sm">How do I interpret the call-outs and alerts posted at #🚀 | options-alerts
                    and #🗣 |
                    options-plays?
                </h3>
            </div>
            <button aria-label="Toggle FAQ" class="faq__toggle-button cursor-pointer"></button>
        </div>
        <div class="faq__article-description description" description>
            <div>All call-outs and alerts here follow this format:</div>
            <div>
                <code>
                        {{pattern}}
                    </code>
            </div>
            <div class="example cursive spacer-top-sm">Example:</div>
            <span class="example--code"> BTO SPY 450P 12/1 @ 0.85</span>

            <div class="note cursive spacer-top-sm">NOTE: While not required, but strongly recommended, analysts and
                members can
                include PT and SL
                details.</div>

            <div class="spacer-top-sm">
                Additionally, an analyst or member may choose to average down or up on a play. This is done by
                including the
                <code>avg</code>
                keyword and the new average price:
                <div>
                    <code> BTO SPY 450P 12/1 @ 0.85 avg 0.96</code>
                </div>
            </div>

            <h3>What do these acronyms mean?</h3>

            BTO means Buy To Open, which indicates that you are buying to open your call or put option. When exiting
            this position, you STC, or Sell To Close it.

            STO means Sell To Open, which indicates that you are writing, or selling, a call or put option.
            When exiting this position, you BTC, or Buy To Close it.

            C indicates a Call option.
            P indicates a Put option.
            PT indicates Price Target.
            SL indicates Stop Loss.
            ITM indicates In The Money.
        </div>
    </app-hero>
    <app-separator></app-separator>
    <app-hero class="faq__article-hero cursor-pointer" appToggle>
        <div class="flex space-between">
            <div class="faq__article-main header-1">
                <h3>How do I interpret the call-outs and alerts posted at #🚀｜stock-alerts and #🗣｜stock-plays?</h3>
            </div>
            <button aria-label="Toggle FAQ" class="faq__toggle-button cursor-pointer"></button>
        </div>
        <div class="faq__article-description description" description>

            All call-outs and alerts here follow this format:

            <br />
            <code>
                {{ secondPattern }}
            </code>
            <br />

            <div class="example cursive spacer-top-sm">
                Example:
            </div>
            <span class="example--code">
                BTO SPY @ 468
            </span>
            <div class="note cursive spacer-top-sm">
                NOTE: While not required, but strongly recommended, analysts and members can include PT and SL
                details.
            </div>
            <br />
            Additionally, an analyst or member may choose to average down or up on a play. This is done by including
            the
            <code>avg</code>
            keyword and the new average price:

            <span class="example--code">
                BTO SPY @ 468.50 avg 470.01
            </span>

            <h2>What do these acronyms mean?</h2>

            <div>
                BTO means Buy To Open, which indicates that you are buying to open your stock position (also known
                as going
                long). When exiting this position, you STC, or Sell To Close it.

                STO means Sell To Open, which indicates that you are selling a stock short. When exiting this
                position, you
                BTC,
                or Buy To Close (or cover) it.

                PT indicates Price Target.
                SL indicates Stop Loss.
                TSL indicates Trailing Stop Loss.
            </div>

        </div>
    </app-hero>
    <app-separator></app-separator>
</section>