@import "../../../../styles/mixins";
@import "../../../../styles/vars";

:host {
    text-align: justify;
    --section-padding: 0;
    --article-hero-padding: 0;
    padding: 0;

    .faq.responsive-main-container {
        padding: 0;
    }

    .faq__article-hero {
        @media (max-width: $md) {
            padding: 0;
        }
    }

    .faq__article-main {
        max-width: 90%;
        font-size: 22px;
        @media (max-width: $md) {
            max-width: 80%;
            font-size: 18px;
        }
    }
}

.note {
    text-decoration: underline;
}

.example--code,
code {
    font-size: 18px;
    background-color: var(--brand-black);
}
