<div class="header-1 header-1-gradient-overlay spacer-top" data-aos="fade-up" data-aos-delay="500">
    #FAQ
</div>

<ul>
    <li>
        <div><strong>How do I interpret the call-outs and alerts posted at #🚀 | options-alerts and #🗣 |
                options-plays?</strong></div>
        <div>All call-outs and alerts here follow this format:</div>
        <div>{{pattern}}</div>
        <div class="spacer-top">Example:</div>
        <div> BTO SPY 450P 12/1 @ 0.85</div>

        <div class="note">NOTE: While not required, but strongly recommended, analysts and members can include PT and SL
            details.</div>

        Additionally, an analyst or member may choose to average down or up on a play. This is done by including the
        avg
        keyword and the new average price:

        BTO SPY 450P 12/1 @ 0.85 avg 0.96



        What do these acronyms mean?

        BTO means Buy To Open, which indicates that you are buying to open your call or put option. When exiting
        this
        position, you STC, or Sell To Close it.

        STO means Sell To Open, which indicates that you are writing, or selling, a call or put option. When exiting
        this position, you BTC, or Buy To Close it.

        C indicates a Call option.
        P indicates a Put option.
        PT indicates Price Target.
        SL indicates Stop Loss.
        ITM indicates In The Money.

        @everyone
        #FAQ - How do I interpret the call-outs and alerts posted at #🚀｜stock-alerts and #🗣｜stock-plays?

        All call-outs and alerts here follow this format:

        <!-- {BTO/STC | STO/BTC} {ticker} @ {price} -->

        Example:
        BTO SPY @ 468

        NOTE: While not required, but strongly recommended, analysts and members can include PT and SL details.

        Additionally, an analyst or member may choose to average down or up on a play. This is done by including the
        avg
        keyword and the new average price:

        <!-- BTO SPY @ 468.50 avg 470.01 -->

        What do these acronyms mean?

        BTO means Buy To Open, which indicates that you are buying to open your stock position (also known as going
        long). When exiting this position, you STC, or Sell To Close it.

        STO means Sell To Open, which indicates that you are selling a stock short. When exiting this position, you
        BTC,
        or Buy To Close (or cover) it.

        PT indicates Price Target.
        SL indicates Stop Loss.
        TSL indicates Trailing Stop Loss.

    </li>
</ul>