<div class="card__title header-2 pt-6 center" data-aos="fade-up">
  Xtrades And Penny Stock Alerts
</div>
<div class="blog-card__post-header pb-6 center flex space-between px-2">
  <div>18.11.2022</div>
</div>
<p>
  Penny stocks are a pretty niche and particular field of trading. In this field
  of trading, it requires a few leaders to really find these plays for the team.
  Generally, you can get this done with a combination of a few watchful eyes and
  momentum trading scanners. We have a lot of Penny Stock analysts in our team
  that are able to guide our team to victory in these sectors. At Xtrades, we
  are constantly rewarding the traders that are able to spot Penny Stocks fast
  and then turn these spotting into Penny Stock Alerts. When you have Penny
  Stock Alerts that are of high accuracy, you build momentum within the
  community. Once the community gets large, it can sometimes result in a
  catalyst of big moves on these kinds of plays. We consider our trading group
  to pretty much be a
  <a
    target="_blank"
    href="https://discord.gg/akTJP2A6"
    title="Penny Stock Discord"
  >
    Penny Stock Discord
  </a>
  at this point, given that most of our Stock Alerts that succeed are generally
  penny stocks alerts.
</p>
<p>
  Here you can see the typical results we generate from one of our penny stock
  analysts (Bahamut). As you can see, we generally aim for two things when we
  have an Analysts calling out their penny stock alerts:
</p>
<ol>
  <li>
    Their penny stock alert win rate is more than 60-65%, leading to usually a
    higher chance of success than loss
  </li>
  <li>
    Their wins are larger than their losses. As you can see Bahamuts average win
    is around 20% vs his loss at -10%
  </li>
</ol>
<div class="flex center">
  <img
    alt="Trade breakdown"
    style="margin: 0 auto; width: 50%"
    src="../../../../assets/images/Picture2.png"
  />
</div>

<p>
  You might also wonder how we are able to generate such consistency in terms of
  our penny stock alert success? Well, the answer is easy - we are constantly
  vetting our penny stock traders and traders that find “equities” trades
  instead of “options” trades. When they perform well consistently over time, we
  incentivize them with recognition and profits to continue finding their
  trades. With a combination of Volume, Scans, and Analysis of overall market
  hype - we are able to generate a watchful eye for these kinds of plays. Come
  check out our alerts in the
  <a
    target="blank"
    href="https://discord.gg/akTJP2A6"
    title="Penny Stock Discord"
  >
    Penny Stock Discord </a
  >.
</p>

<div class="flex center">
  <img
    alt="Discord channal"
    style="margin: 0 auto; width: 50%"
    src="../../../../assets/images/Picture1.png"
  />
</div>

<p>
  Not only do we have a lot of human assistance in our
  <a
    target="blank"
    href="https://discord.gg/akTJP2A6"
    title="Penny Stock Discord"
    >Penny Stock Discord</a
  >, we utilize a lot of factors like Technical Scanners and scripts to really
  put ourselves on the forefront of being able to find these plays first
</p>

<div class="flex center">
  <img
    alt="Xtrades Discord channel"
    style="margin: 0 auto; width: 50%"
    src="../../../../assets/images/Picture3.png"
  />
</div>
