<div [class.full-width]="playVideo">
    <div *ngIf="!playVideo" class="web-demo">
      <img #background [class.hidden]="!backgroundLoaded" class="web-demo__img" src="assets/main-img.svg">
      <img loading="eager" class="web-demo__img web-demo__img--absolute" data-aos="fade-up" [class.hidden]="backgroundLoaded" src="assets/main-img.svg">
      <img class="web-demo__play-video-arrow cursor-pointer" src="assets/play-circle-solid.svg" (click)="playVideo = true">
    </div>
    <iframe *ngIf="playVideo" class="web-demo__iframe" src="https://www.youtube.com/embed/ZH3favfPvCM?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>