<div class="card__title header-2 pt-6 center" data-aos="fade-up">
  The Rise Of A Social Trading Application: Xtrades
</div>
<div class="blog-card__post-header pb-6 center flex space-between px-2">
  <div>29.11.2022</div>
</div>

<p>
  The concept of social trading was not yet discovered until the late 21st
  century. Prior to this, people used websites like Stocktwits, or Twitter which
  are slowly becoming outdated in regards to their ability to truly supply users
  with a user experience that encompasses everything needed for traders to find
  a larger edge against their competitors. Other than this, people were also led
  falsey astray by being shilled into boiler rooms, where the assets being
  alerted were simply pump and dumps that are only there to benefit the creators
  / owners of those boiler rooms. Xtrades has always excelled at innovating
  itself against the rest of these shady / unsophisticated realms of information
  by creating the concept of verified social trading alerts.
</p>

<p>
  These alerts are tracked, and statistics are given to the alerters so that if
  you’re really incapable of being a leader, it will show in the stats. This is
  the importance of having a social trading app in your arsenal - you eventually
  get used to understanding the strategies behind the people you’re following,
  and begin to understand WHAT exactly you’re following them for, and which
  trades to avoid.
</p>

<p>
  For example, take a look at the below statistics. I mean, just looking at
  this, I can see that this trader is overall pretty well rounded. High win
  rate, yet generating a higher win vs loss result in both stocks and options
  for his social trading alerts
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; width: 50%"
    src="../../../../assets/blogs/17/17-1.png"
    alt="Xrtrades Icon"
  />
</div>

<p>
  Take a look at our
  <a href="http://app.xtrades.net/invite/kevin" target="_blank"
    >social trading app</a
  >
  and go through any specific trader’s profile in the alerts list and you’ll
  understand them simply through their statistics. This concept is fairly new to
  the industry because no one cared about “alert statistics” in the past - but
  when you have a group od great traders trying to share their knowledge, it’s
  generally better than just 1 perspective, and thus provides more value to the
  end user, so our social trading application is mostly based around this
  concept.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; width: 50%"
    src="../../../../assets/blogs/17/17-2.png"
    alt="Xrtrades Icon"
  />
</div>
