:host {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;
  padding: 0.5em 1em;
  border-radius: 59px;
  text-align: center;
  margin: 0.5em var(--margin-left-right);
  border: 1px solid var(--light-purple-detail);
  color: var(--light-purple-detail);
  display: inline-block;
  white-space: nowrap;
}
