<div class="header-1 header-1-gradient-overlay uppercase" data-aos="fade-up">
    Xtrades <span class="hero__hero-detail">Analyst </span> Guidelines
</div>
<div class="hero__description description" description data-aos="fade-up" data-aos-delay="500">
    Xtrades reserves the right to waive monthly payouts to those that do not abide by the guidelines.
</div>

<div class="spacer-top"></div>
<strong>How to Become an Analyst.</strong>
<ul>
    <li>Remain in the server as a contributing user for 6 months or longer</li>
    <li>Remain consistent in success of alerts and calling out entries and exits with integrity.</li>
    <li>Achieve Outstanding Results in providing value to the end users of the Xtrades Platform</li>
    <li>Be Voted Into the Position By Xtrades Admin</li>
</ul>


<strong>Alerts:</strong>
<ul>
    <li>Update using @everyone in the #options-alerts or #stock-alerts channel only on substantial increases on
        current alerts (50% in options or 15% in stocks).</li>
    <li>Stick to having most of your @everyone messages be a Buy or Sell alert. Quality over quantity. This
        means BTO or STC. Other information can be posted in the normal or elite channels.</li>
    <li>Quality over quantity when it comes to posting. Having a little bit of fun in the channels is ok, but
        try tostay focused on finding plays or analyzing them.</li>
</ul>


<strong>Relations to other servers:</strong>
<ul>
    <li>Top Traders and above should have no leadership affiliation in other servers due to conflict of
        interest.</li>
    <li>We welcome all users, including those that participate in other servers, but those looking to be a
        leader and
        participate in the Xtrades Monthly Payout Program cannot be active leaders in other chat rooms.Stick to
        having most of your @everyone messages be a Buy or Sell alert. Quality over quantity. This means BTO or
        STC. Other information can be posted in the normal or elite channels.</li>
</ul>

<strong>Commendable Actions:</strong>
<ul>
    <li>Including Xtrades Icon somewhere in logo or professional headshot</li>
    <li>Representing the Xtrades community in good light.</li>
    <li>Leading by example, building a strong culture of honesty, transparency, and timeliness with plays and
        updates
        when in the chat rooms.</li>
    <li>Trusting the judgement of admins to ensure longevity of Xtrades</li>
</ul>


<div class="hero__description description" description data-aos="fade-up" data-aos-delay="500">
    Xtrades Monthly Payout Program
</div>

<p>Sending payments to users that participate consistently in Xtrades. Our payout structure is subject to change
    -
    however, our payments will always grow along with the company.</p>

<strong> Monthly Scoring Guidelines</strong>

<strong>Variables we are using to calculate payouts:</strong>
<ul>
    <li>Alert Score,</li>
    <li>Alert Quantity (This doesn’t matter much beyond 30 alerts per month)</li>
    <li>Alert Quality (Win Rate, # of Closed vs Closed orders,</li>
    <li>Chatroom Activity (Qualified Posts, and Posts)</li>
    <li>Chat Rank (Top Traders < Analyst < Top Analyst).</li>
    <li>Loyalty Score (# of Years with Xtrades and Enhanced
        Investor and other factors)</li>
    <li>Misc Score (Videos, Streaming, Educational Posts, Algorithms)</li>
</ul>

<strong>Videos, Streaming, Educational Posts, Algorithms</strong>

<div class="spacer-top">Making educational posts will be considered as a bonus in
    the "Misc Score" Category when calculating end of the month payouts.
</div>

<div class="spacer-top">
    Making videos will be for an agreed
    fixed amount per video or will be calculated into the Misc Score Category depending on the agreement
    made with administrator.
</div>

<div class="spacer-top">
    Stream time and video production will be promoted within the channels on an
    Xtrades Account.
</div>

<div class="spacer-top">
    Streamers will be allowed to receive the tips / commercial funding that they earn
    during the time they are online.
</div>

<div class="spacer-top">
    Stream Hours should be posted in the Xtrades Staff Server to be considered into the end of the month misc
    score calculation.
</div>

<div class="spacer-top">
    Algorithms and other creations that are
    considered "Tools" to the xtrades community can be discussed with Kevin, Dennis, or Dan for
    compensation. These will add to the “Misc core” category Not Allowed Posting a link requesting donations
    Posting links that suggest joining other chat rooms or following other social media accounts.
</div>
