<app-modal [id]="modalId">
    <div class="default-modal">
        <div class="subscribe-modal__header-1 header-1">
            <span class="hero__hero-detail center flex">Warning</span>
            <div class="subscribe-modal__description description center">
                Xtrades/CryptoTraders Discord Servers have been compromised. An imposter has seized ownership of the servers and is using it to scam people.
            </div>
        </div>
        
        <div class="center">
        Please do not click on any links from the server and follow us at our Official Twitter for further communications. We are working with Discord to recover the server. We apologize for the issues and will get back online as soon as possible. Please check official twitter account for updates. Check validity of every link.
        This application is NOT affected by the hack</div>
        
        <div class="center">Official twitter post:</div>
        <a class="flex center" href="https://twitter.com/XtradesOfficial/status/1535510353978826753?s=20&t=6xjst_hO7_qrvE2tUSorQw">https://twitter.com/XtradesOfficial/status/1535510353978826753?s=20&t=6xjst_hO7_qrvE2tUSorQw</a>
        

        <div class="center">Follow official Xtrades account for more updates:</div>
        <a class="flex center" href="https://twitter.com/XtradesOfficial">https://twitter.com/XtradesOfficial</a>

        <div class="center">Temporary discord server for xTrades:</div>
        <a class="flex center" href="https://discord.gg/ar8hfBc5">https://discord.gg/ar8hfBc5</a>
        <!-- <div class="flex center">
            
        <button class="subscribe-modal__resign-button cursor-pointer" (click)="onCloseModal()">Close</button>
        </div> -->
    </div>
</app-modal>