<section class="nft-goals responsive-main-container column icon-card mx-4" data-aos="flip-right" data-aos-duration="1000">
    <h2 class="nft-goals__header-2 header-2 px-4">NFT Goals</h2>
    <div class="nft-goals__wrapper flex px-4">
        <app-avatar class="nft-goals__avatar flex center" [avatar]="avatar" [hasTransparentBackground]="true"></app-avatar>
        <div class="nft-goals__text column">
            <div class="text column">
                <span class="missing-text" appInViewport (inviewport)="typeWriter('.missing-text')"></span>
            </div>
            <div class="nft-goals__roadmaps flex px-4">
                <div class="px-4"><span class="bold cursor-pointer" (click)="handleGoToLinkClick('https://xtrades.net')">Click Here</span> to See the <span class="missing-xtrades-txt bold cursor-pointer" (click)="handleGoToLinkClick('https://xtrades.net')" appInViewport (inviewport)="typeWriter1('.missing-xtrades-txt', 'Xtrades Roadmap')"></span></div>
                <div class="px-4"><span class="bold cursor-pointer" (click)="handleGoToLinkClick('https://cryptotraders.com')">Click Here</span> to See the <span class="missing-crypto-txt bold cursor-pointer" (click)="handleGoToLinkClick('https://cryptotraders.com')" appInViewport (inviewport)="typeWriter2('.missing-crypto-txt', 'CryptoTraders Roadmap')"></span></div>
            </div>
        </div>
    </div>
</section>