<section class="nft-goals responsive-main-container column icon-card mx-4">
    <h2 class="nft-goals__header-2 header-2 px-4">NFT Goals</h2>
    <div class="nft-goals__wrapper flex px-4">
        <app-avatar class="nft-goals__avatar flex center" [avatar]="avatar" [hasTransparentBackground]="true"></app-avatar>
        <div class="nft-goals__text column">
            <div class="text">
                The goal of this NFT is to provide holders a method of “owning a piece of the Xtrades and CryptoTraders Pie” by turning it into a yield generating as set and providing utilities that serve to provide more value to the user than it’s cost of mint.
                <br /><br />
                We believe that major improvements can be made to the Online Social Finance Realm and our goal is to continue exploring those  improvements and applying them to our ever-growing community.
            </div>
            <div class="nft-goals__roadmaps flex px-4">
                <div class="px-4"><span class="bold">Click Here</span> to See the <span class="bold">Xtrades Roadmap</span></div>
                <div class="px-4"><span class="bold">Click Here</span> to See the <span class="bold">CryptoTraders Roadmap</span></div>
            </div>
        </div>
    </div>
</section>