<div class="blog-post responsive-main-container">
    <div class="column">
        <div class="px-2">
            <app-label [label]="'Trader Writing Model'"></app-label>
        </div>
        <div class="card__title header-2 px-2" data-aos="fade-up">
            5 things you can be doing to increase your trading power
        </div>
        <div class="blog-card__post-header flex space-between px-2">
            <div>11.01.1995</div>
            <div>Luther Bibb</div>
        </div>

        <img src="./assets/newsroom.png" alt="Newsroom Xtrades Application" class="px-2" />

        <div class="px-2 format-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas molestie vitae imperdiet arcu, nisi morbi.
            Posuere tellus eu, scelerisque orci, purus. Porta pretium eget viverra sed enim suspendisse et fermentum.
            Sed ornare cras fames cursus in placerat semper. In facilisi tortor mi sit at mauris. Dolor in habitasse
            nibh sit aliquam praesent fermentum in.
            In condimentum velit in at eget. Lobortis vel amet dictum commodo. Ut id varius etiam orci faucibus. Nisi
            porttitor at vestibulum, ipsum. Gravida at viverra vel, donec sit magna fames sagittis. In sodales morbi
            nibh in ultrices.
            Porttitor aliquam sed porta lobortis. Egestas sit pretium laoreet massa aliquet placerat. Gravida
            scelerisque pellentesque sagittis sit. Imperdiet eget curabitur ultricies sed. Amet at penatibus ipsum
            lectus venenatis, sem. Sed enim id non egestas vitae faucibus eget volutpat. Massa arcu cras diam ultrices
            pellentesque. Sed nisl viverra adipiscing ornare sit at porttitor. Fusce pulvinar non vitae quis adipiscing.
            Dignissim et nibh ultrices diam nisl molestie. Mi, tempor quis tincidunt facilisis. Id facilisis sem
            senectus eget non, tellus urna, nunc. Nam neque in enim vitae leo ut pulvinar turpis enim. Viverra congue
            est porttitor non in non odio vel, neque.
            Nibh commodo odio vitae dictumst. Faucibus suspendisse viverra odio vel aliquam venenatis. Eget habitasse
            viverra sed ipsum aliquet. Auctor mattis a diam convallis facilisis tellus risus. Dignissim molestie lacus
            sagittis molestie dignissim sed velit pretium, in.
            Mi, mauris in nec et amet, vestibulum morbi pharetra ultricies. Mattis arcu donec pellentesque suscipit nunc
            pharetra, dui. Tristique rhoncus risus donec turpis orci, in fermentum. Nibh elementum sodales lorem purus
            nulla. Dictumst nullam in enim mauris faucibus enim nibh cursus. Et non amet, nam lectus quam sed eu
            consectetur dui. Elit malesuada feugiat nam in enim. Vel quis risus, hendrerit faucibus vitae volutpat.
            Amet, sit pharetra, et mauris. At sit consectetur viverra turpis quis.
            Pulvinar vulputate id dui enim est commodo. Iaculis tristique tristique magnis viverra. Rhoncus aliquet nunc
            amet risus porttitor. Vivamus porta interdum metus, habitasse egestas neque. Nulla odio morbi mauris
            dignissim viverra aenean scelerisque. Fringilla sem venenatis dui molestie. Tristique amet diam nisi, sem
            amet amet non.
            In magna etiam sed elementum. In nulla non libero eget. Sit lobortis diam quam mauris facilisis leo lectus
            phasellus nullam. Bibendum sed urna sed lobortis pellentesque enim tempus. Vitae scelerisque lacus tellus,
            euismod adipiscing magna id cursus. Mattis morbi eget quisque at scelerisque ipsum commodo. Lectus magna
            elit lectus non ultrices quam vitae eget lectus.
            Pellentesque sem et at vitae. Posuere neque at id ornare at. Est euismod in neque, amet scelerisque eget a.
            In est sit lacus, pulvinar. Egestas commodo, vulputate ut enim. Vel, sagittis, sit massa, quis gravida a
            nullam. Viverra volutpat venenatis, viverra porta elit elementum sed augue. Mollis mattis ut lectus lacus
            tincidunt dapibus. Enim ipsum nullam sed consequat risus morbi dignissim elementum eu.
            Est cursus duis orci fusce euismod nam. Lorem condimentum pharetra vulputate in vestibulum sapien massa.
            Pharetra consectetur vitae eu non fermentum. Sem sed sed tortor porttitor dictum eget ut mattis. Vestibulum
            massa penatibus sit amet massa fusce id lacus, ultricies. Tincidunt pellentesque urna ac fermentum
            elementum. Iaculis blandit in cras massa velit, fermentum. Porttitor risus luctus sit facilisis sit mus
            lacus. Ut luctus neque, morbi magnis morbi dolor eu sed id. Vulputate lectus enim egestas quis ac elementum.
            Dictum eleifend metus leo tincidunt.
            Donec eget est ipsum lectus nunc diam malesuada velit pulvinar. Vitae aliquam sed viverra lectus fermentum
            nunc amet elementum. Cursus sed ut proin suspendisse nulla mauris tortor malesuada tincidunt. Pellentesque
            habitant commodo aliquam adipiscing. Rutrum dictum mattis ultrices nunc scelerisque amet ac eget. Enim, et
            nibh sit auctor maecenas. Ut tortor bibendum nunc vitae neque netus urna. Morbi risus convallis elementum ut
            elit cursus varius sed. Eu bibendum egestas mauris nunc consectetur nibh. Ut viverra tellus congue augue
            proin ultrices. Ipsum ultrices suspendisse blandit arcu. Lacus ipsum facilisis fames enim orci a. Iaculis
            morbi cum velit tempus egestas volutpat sed mattis dignissim. In amet varius mattis pulvinar cum
            pellentesque in a. Et etiam a et nibh nulla.
            Et lectus vitae pharetra lectus ipsum. Lacus, tristique posuere urna cursus adipiscing lacus elit at. Id
            senectus condimentum proin eget sed lectus ullamcorper scelerisque. Integer suspendisse scelerisque
            adipiscing sapien. Eget ac tempus ut nunc nisi. Morbi sem condimentum habitasse amet tortor tellus tincidunt
            egestas sem. Semper mauris pulvinar ligula lacus sit imperdiet. Cras nisl purus enim, tempor, volutpat
            eleifend. Nunc fusce viverra laoreet imperdiet nunc vivamus non. Accumsan nibh tristique dui fringilla
            lacus, aenean. Proin porttitor tincidunt massa commodo phasellus nisl leo magna.
            Cras lectus tincidunt cras vitae odio lectus dui, cursus sit. Ut ultrices pellentesque lacus, justo, gravida
            pellentesque sit mattis massa. Etiam mi proin sit semper bibendum laoreet sed purus. Gravida est semper
            adipiscing dis pulvinar eget mauris. Ipsum rhoncus auctor morbi elit amet sit lorem ac nec. A sollicitudin
            purus malesuada tempor, tincidunt est elit. Dictum mi gravida elit praesent at auctor.
            Quis eleifend non, nibh auctor velit nulla lectus accumsan. Erat semper nisl id condimentum in nec et dolor
            quam. Et egestas accumsan imperdiet eget at at mi nunc, vitae. Dignissim mollis id sed pretium sit lobortis
            arcu. Risus, urna amet lacus fermentum elit condimentum. Massa dignissim vestibulum tortor curabitur lectus
            velit auctor et.
            Aliquam in fermentum nunc id. Vestibulum venenatis purus mattis amet. Pellentesque commodo sed proin
            facilisi. Commodo, urna laoreet enim egestas eget eget. Facilisi eu amet vel id quam integer. Et et arcu
            laoreet nunc, id sed pellentesque tincidunt semper.
            Enim pulvinar pretium, ornare turpis blandit ac. Rutrum turpis nisi, eu semper nisi, egestas. Proin feugiat
            a pretium ut. Non risus placerat interdum vestibulum, condimentum molestie amet. Blandit viverra eu ac amet
            cras aliquet volutpat elementum. Pellentesque morbi habitasse sit nulla tristique. Mauris vitae amet, arcu
            sed blandit sit dui morbi. Vestibulum sed varius lectus eget tincidunt. Aliquet massa felis gravida est.
            Pharetra, viverra consequat, neque massa magna vel in. Netus pretium purus laoreet suspendisse tellus ac
            arcu ultricies.
        </div>
    </div>
</div>
<div class="responsive-main-container column">
    <app-mailing-list></app-mailing-list>
</div>