@import "../../../../styles/vars";

.blogs {
  max-width: 962px;
  justify-content: center;
  margin: 0 auto;

  &__header {
    color: white;
    font-size: 48px;
    font-weight: 700;
    margin-top: 125px;
  }
  &__mailing-list {
    @media (max-width: $md) {
      max-width: 100%;
    }
  }
  &__blog-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 40px auto;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 962px;
    column-gap: 28px;
    row-gap: 28px;
    padding: 0px;

    @media (max-width: $md) {
      max-width: 100%;
    }
  }
  &__blog-post {
    max-width: 302px;
    @media (max-width: $md) {
      width: 100%;
    }
  }
}
