<app-header></app-header>
<div class="blogs column">
  <div class="top-block">
    <div class="top-block__item">
      <div class="header" data-aos="fade-up">xBlogs</div>
      <div class="desc" data-aos="fade-up">
        Embark on a journey into the dynamic world of stock market trading with
        Xtrades. Our blog is your go-to resource for insightful analysis, market
        trends, and expert perspectives that can empower your trading decisions.
      </div>
      <app-mailing-list-new
        [buttonBackground]="'url(assets/blogs/submit.svg)'"
      ></app-mailing-list-new>
    </div>
    <div class="top-block__item last">
      <app-blog-card
        class="blogs__blog-post"
        [id]="blogPosts[0].id"
        [blogPost]="blogPosts[0]"
      ></app-blog-card>
    </div>
  </div>
  <div class="flex responsive-main-container blogs__blog-posts" *ngIf="blogPosts.length">
    <app-blog-card
      *ngFor="let blogPost of blogs; let i = index"
      class="blogs__blog-post"
      [id]="blogPost.id"
      [blogPost]="blogPost"
      [index]="i"
    ></app-blog-card>
  </div>

  <button *ngIf="shortView" class="more pointer" (click)="loadMore()">
    View More
  </button>
  <button *ngIf="!shortView" class="more pointer" (click)="showLess()">
    View Less
  </button>

  <app-separator></app-separator>
  <div class="faqs-wrap"><app-faqs></app-faqs></div>

  <app-modal [id]="'mailing-modal'" class="modal">
    <div class="column blogs__mailing-list">
      <app-mailing-list></app-mailing-list>
    </div>
  </app-modal>
</div>
<app-footer-new
  data-aos-offset="130"
  data-aos-delay="90000"
  [backgroundColor]="'#263247'"
  [withEmail]="true"
>
</app-footer-new>
