@import "../../../../styles/vars";

.blogs {
    width: 100%;
    justify-content: center;
    margin: 0 auto;

    &__header {
        margin: 0 auto;
    }
    &__mailing-list {
        @media (max-width: $md) {
            max-width: 100%;
        }
    }
    &__blog-posts {
        margin: 40px auto;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 90%;

        @media (max-width: $md) {
            max-width: 100%;
        }
    }
    &__blog-post {
        width: 30%;
        padding: 15px;
        @media(max-width: $md) {
            width: 100%;
        }
    }
}