<app-header></app-header>
<div class="blogs column">
  <div class="blogs__header header header-1 header-1-gradient-overlay px-2" data-aos="fade-up">Blogs</div>
  <div class="card__title header-2" data-aos="fade-up"></div>

  <div class="flex responsive-main-container blogs__blog-posts">
      <app-blog-card *ngFor="let blogPost of blogPosts" class="blogs__blog-post" [id]="blogPost.id" [blogPost]="blogPost"></app-blog-card>
  </div>
</div>
<app-modal [id]="'mailing-modal'" class="modal">
    <div class="column blogs__mailing-list">
      <app-mailing-list></app-mailing-list>
    </div>
</app-modal>