:host {
  max-width: 99%;
}
.email {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;

  .email-input {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 22px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
  button {
    height: 100%;
    border-radius: 9px;
    cursor: pointer;
    color: #081b31;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
  }
  button:hover {
    filter: brightness(1.3);
  }
}
.error-wrap {
  margin-top: 3px;
  padding-left: 3px;
  font-size: 10px;
  color: grey;
  height: 20px;
}
.already-subscribed-wrap {
  font-weight: 500;
  padding: 1em 0;
  height: 2em;
  margin-bottom: 32px;
}

.dark-theme {
  border: 1px solid #00ede6;
  background-color: #081b31;
  input {
    color: #ffffff;
  }
  button {
    background: url("../../../../assets/blogs/send-bg.svg") center/cover
      no-repeat;
  }
}

.light-theme {
  background-color: #ffffff;
  color: #445a63;
  input {
    color: #445a63;
  }
  button {
    background: linear-gradient(214deg, #19c7f2 0%, #00a5ea 100%);
  }
}
