<div class="spacer-top-sm">
    Welcome to Xtrades, one of the largest stocks and options trading communities with real traders. Many of
    them
    started out as new members in this chat room and built up their account size and knowledge through
    experience.
    Our goal is to filter out the noise, help you become a self-sufficient trader, and create an environment
    where
    you can interact with other real traders.
</div>

<div class="spacer-top-sm"></div>

<h3>20-day Free Trial</h3>

<div class="spacer-top-sm">
    We are a paid subscription service. Send any message in #get-access to activate your 20-day free trial.
    Trial
    access is the same as our Elite members except #stock-alerts and #option-alerts where our Analysts and Top
    Traders alert their trades. You do have access to #stock-plays and #option-plays, where all our members can
    alert their own plays. Also, #trading-resources, #algo-discussion, #algo-swing-beta, and #algo-daytrade-beta
    are
    for our Elite Plus and Platinum Lifetime members only.
</div>

<div class="spacer-top-sm">
    After your trial is over, if you want to retain or upgrade your access, our subscription plans and sign-up
    page
    is here:
</div>

<div class="spacer-top-sm"></div>
<app-x-button class="button spacer-top-sm center" [isColorInverted]="true" [routerLink]="['/plans']">Subscribe here
</app-x-button>

<div class="spacer-top-sm"></div>
<h2>Channel descriptions</h2>

<ul>
    <li class="spacer-top-sm">
        <div><strong>#start-here</strong></div>
        <div>This channel is an introduction and overview for new users. We have included guides on how to get
            started, links
            to online resources, and a section for frequently asked questions.</div>
    </li>
    <li class="spacer-top-sm">
        <div><strong>#announcements</strong></div>
        <div>This channel is an introduction and overview for new users. We have included guides on how to get
            started, links
            to online resources, and a section for frequently asked questions. Keep an eye on this channel for
            server-wide announcements that can include changes to our server, important
            messages to our members, and even rewards for your feedback and active participation on our server.</div>
    </li>
    <li class="spacer-top-sm">
        <div><strong>#testimonials</strong></div>
        <div>This channel is for members that want to leave feedback for our server.
        </div>
    </li>
    <li class="spacer-top-sm">
        <div><strong>#winning-trades</strong></div>
        <div>This one should be self-explanatory. Post all your gains in this channel. If your gains are from an alert
            from
            that an analyst made, tag them with @username, and give them credit!
        </div>
    </li>
    <li class="spacer-top-sm">
        <div><strong>#get-access</strong></div>
        <div>Send any message in this channel to activate your 20 day free trial!
        </div>
    </li>
</ul>

<div class="spacer-top-sm">

</div>

<strong>Options Trading</strong>

<ul>
    <li>
        <div><strong>#options-elite</strong></div>
        <div>This channel is for discussing options trades. Only Elite Plus, Platinum Lifetime, Titanium, Diamond,
            Sensei,
            Master, Top Trader, 70%+ Win Rate, and 80%+ Win Rate roles can send messages in this channel. We want to
            give
            our more experienced members more visibility. Trialists and Elite can read but not send messages in this
            channel.</div>
    </li>

    <li>
        <div><strong>#options-chat
            </strong></div>
        <div>This is the main options discussion channel. There is a 15 second delay between messages. A stock symbol is
            required with every message during market hours of 9:30AM EST to 4:00PM EST. This is to keep the discussion
            on-topic and encourage messages with more depth and relevant to what is moving in the market.</div>
    </li>


    <li>
        <div><strong>#options-swings
            </strong></div>
        <div>This channel is for swing trading options (holds for more than one day).</div>
    </li>


    <li>
        <div><strong>#options-alerts (available to paid subscribers only)
            </strong></div>
        <div>Only Analysts, Top Analysts, and Sponsored Options Trader can send messages in this channel to alert trades
            in
            real-time. If you are new to the server, focus on this channel.</div>
    </li>
    <li>
        <div><strong>#options-plays
            </strong></div>
        <div>This channel is dedicated to allowing Elite, Elite Plus, and Lifetime Elite Plus members to alert their own
            plays. Alerts are tracked by our Xtrades system, recorded, and given point values. The highest performing
            individuals are rewarded at the end of the month.
        </div>
    </li>
    <li>
        <div><strong>#options-watchlist
            </strong></div>
        <div>T
            This channel is for the Analysts and Top Traders to post their watchlist for potential trades before the
            market
            opens.
        </div>
    </li>

    <li>
        <div><strong>#options-flow
            </strong></div>
        <div>This channel is where we post live options flow data. You can also use !maflow [stock symbol] to get that
            day’s
            option flows. Example: !maflow SPY. Unusual options are executed options trades based on volume, timing,
            and/or
            trade size. It may be used to predict future price movements. The premise is to follow the money.
        </div>
    </li>

    <li>
        <div><strong>#options-flow

            </strong></div>
        <div>This channel is where we post live options flow data. You can also use !maflow [stock symbol] to get that
            day’s
            option flows. Example: !maflow SPY. Unusual options are executed options trades based on volume, timing,
            and/or
            trade size. It may be used to predict future price movements. The premise is to follow the money.
        </div>
    </li>
</ul>

<div class="center">Options Flow Disclaimer</div>
<div class="disclaimer--text responsive-main-container center">
    YOU AGREE NOT TO REDISTRIBUTE ANY DATA YOU RECEIVE THROUGH THE USE OF OUR SITE OR ITS SERVICES. Data provided as
    is for Xtrades members only and not to be used for re-distribution, for personal & non-professional use only.
    You may not copy, modify, reproduce, republish, distribute, transmit or use the site or the products for
    commercial or other purposes, except to the extent required in order for personal use.

    Limitation of Liability: In no event will the content creator, its affiliates, partners, members, managers,
    directors, officers, employees or agents be liable to you or any third person for any indirect, consequential,
    exemplary, incidental, special or punitive damages, including for any lost profits or lost data arising from
    your use of this document, or any of the content or other materials on, accessed through or downloaded from the
    link provided, even if the content creator or its affiliates, partners, members, managers, directors, officers,
    employees or agents is aware or has been advised of the possibility of such damages.
</div>



<!-- Data provided by Market Action for Xtrades. -->


<h3>Stock Trading</h3>

<ul>
    <li class="spacer-top-sm">
        <div class="spacer-top-sm"><strong>#stock-elite</strong></div>
        <div>This channel is for discussing stock trades. Only Elite Gold, Platinum Lifetime, Titanium, Diamond, Sensei,
            Master, Top Trader, 70%+ Win Rate, 80%+ Win Rate roles can send messages in this channel. We want to give
            our
            more experienced members more visibility. Trialists and Elite can read but not send messages in this
            channel.
        </div>
    </li>

    <li class="spacer-top-sm">
        <div class="spacer-top-sm"><strong>#main-stock-chat</strong></div>
        <div>This channel is dedicated to users finding and discussing momentum stock plays in the market. There is a 15
            second delay between messages. A stock symbol is required with every message during market hours of 9:30AM
            EST
            to 4:00PM EST. This is to keep the discussion on-topic and encourage messages with more depth and relevant
            to
            what is moving in the market.
        </div>
    </li>

    <li class="spacer-top-sm">
        <div class="spacer-top-sm"><strong>#stock-swings</strong></div>
        <div>This channel is for discussion on trades that are 1 Day – 2 Week long holds. Swing trading is a useful
            strategy
            for buying stocks off long-term support and realizing gains when the upside is received. Please include a
            chart
            and XYZ ticker symbol on plays entered in this channel.
        </div>
    </li>

    <li class="spacer-top-sm">
        <div class="spacer-top-sm"><strong>#stock-alerts (available to paid subscribers only)</strong></div>
        <div>Only Analysts, Top Analysts, and Sponsored Stock Trader can send messages in this channel to alert trades
            in
            real-time. If you are new to the server, focus on this channel.
        </div>
    </li>

    <li class="spacer-top-sm">
        <div class="spacer-top-sm"><strong>#stock-plays</strong></div>
        <div>This channel is dedicated to allowing Elite, Elite Plus, and Lifetime Elite Plus members to alert their own
            plays. Alerts are tracked by our Xtrades system, recorded, and given point values. The highest performing
            individuals are rewarded at the end of the month.
        </div>
    </li>

    <li class="spacer-top-sm">
        <div class="spacer-top-sm"><strong>#stock-watchlists</strong></div>
        <div>This channel is for the Analysts and Top Traders to post their watchlist for potential trades before the
            market
            opens.
        </div>
    </li>

</ul>

<h3>General</h3>

<ul>
    <li class="spacer-top-sm">
        <div class="spacer-top-sm"><strong>#top-earners</strong></div>
        <div>By invite only. Only for the highest performing traders.
        </div>
    </li>
    <li class="spacer-top-sm">
        <div class="spacer-top-sm"><strong>#trialist-chat</strong></div>
        <div>Only for new users that are on their 20 day free trial.
        </div>
    </li>
    <li class="spacer-top-sm">
        <div class="spacer-top-sm"><strong>#questions</strong></div>
        <div>Use this channel for any questions you have about trading or our server. The main channels limit questions
            to
            encourage users to stay on-topic with timely analysis during market hours. This channel does not have that
            requirement. All questions are welcome.
        </div>
    </li>
    <li class="spacer-top-sm">
        <div class="spacer-top-sm"><strong>#off-topic</strong></div>
        <div>For non-trading related chat but we do not allow any illegal, obscene, or offensive.
        </div>
    </li>
    <li class="spacer-top-sm">
        <div class="spacer-top-sm"><strong>#trial-ended</strong></div>
        <div>For users that have finished their free trial and did not choose to subscribe. This is the free section.
        </div>
    </li>
    <li class="spacer-top-sm">
        <div class="spacer-top-sm"><strong>#account-challenge</strong></div>
        <div>This channel is where everyone can post their own personal challenge including their starting capital,
            goals,
            strategy, and updates.
        </div>
    </li>
</ul>

<h3>Learn</h3>

<ul>
    <li class="spacer-top-sm">
        <div class="spacer-top-sm"><strong>#discussion</strong></div>
        <div>This channel is for discussing theory and topics such as taxes, strategies, trade set ups, losses, current
            events, webinar discussion and more!
        </div>
    </li>

    <li class="spacer-top-sm">
        <div class="spacer-top-sm"><strong>#investments</strong></div>
        <div>This channel is for Analysts and members to post their DD (due diligence) on long term holds.
        </div>
    </li>

    <li class="spacer-top-sm">
        <div class="spacer-top-sm"><strong>#education-posts</strong></div>
        <div>This channel is where our Analysts, Top Traders, and Contributors post educational materials and video
            lessons
            using the latest trades and stock movements as examples.
        </div>
    </li>


    <li class="spacer-top-sm">
        <div class="spacer-top-sm"><strong>#chart-bots</strong></div>
        <div>Get news, charts, technical information on any stock. The commands for the bots in this channel are in the
            pinned messages.
        </div>
    </li>

    <li class="spacer-top-sm">
        <div class="spacer-top-sm"><strong>#Academy (voice channel)</strong></div>
        <div>For our live webinars.
        </div>
    </li>

    <li class="spacer-top-sm">
        <div class="spacer-top-sm"><strong>#FOMO; Xtrades Podcast (voice channel)
            </strong></div>
        <div>
            New! Join us or listen in at 8:30AM EST for the morning pre-market show. Get live thoughts and analysis from
            our
            Analysts.
        </div>
    </li>
</ul>

<h3>Plus/Lifetime Members Only</h3>

<ul>

    <li class="spacer-top-sm">
        <div><strong>#algo-discussion</strong></div>
        <div>This channel is dedicated to the discussion and sharing of proprietary tools that can help generate
            trade-ideas
            and/or better execute trades.

        </div>
    </li>


    <li class="spacer-top-sm">
        <div class="spacer-top-sm"><strong>#trading-resources</strong></div>
        <div>This channel is where we share our custom scanner settings, indicators, and other scripts. This is
            available
            to Elite Gold and Platinum Lifetime members only.
        </div>
    </li>
</ul>


<h3>Xtrades Mobile Beta App</h3>

<ul>
    <li class="spacer-top-sm">
        <div><strong>#announcements</strong></div>
        <div>This channel is only for announcements related to our Xtrades mobile beta app.
        </div>
    </li>

    <li class="spacer-top-sm">
        <div><strong>#installation</strong></div>
        <div>Check this channel for the latest and most up-to-date installation link for our Xtrades Mobile BETA App.
        </div>
    </li>


    <li class="spacer-top-sm">
        <div><strong>#mobile-beta-chat</strong></div>
        <div>This channel is for discussion on our XTrades Mobile BETA App. This is different than the Discord app. Due
            to
            our server size, Discord mobile apps do not sent notifications. Our app is designed to fix that by pushing
            alert
            notifications to your device. Additional features include the ability to only subscribe to the analyst of
            your
            choice.
        </div>
    </li>

    <li class="spacer-top-sm">
        <div><strong>#known-bugs
            </strong></div>
        <div>Check this channel for the latest updates on known bugs for our XTrades Mobile BETA App.</div>
    </li>
</ul>