<a class="mobile-app-link" href="{{ url }}" rel="noreferrer" target="_blank">
  <span class="icon circle">
    <img
      *ngIf="icon === 'android'"
      src="../../../../assets/android-bg.svg"
      class="android-align"
      alt="Android Icon"
    />
    <img
      *ngIf="icon === 'discord'"
      src="../../../../assets/discord-bg.svg"
      class="android-align"
      alt="Discord Icon"
    />
    <img
      *ngIf="icon === 'ios'"
      src="../../../../assets/apple-bg.svg"
      class="android-align"
      alt="IOs Icon"
    />
  </span>
  <span class="label">{{ label }}</span>
</a>
