<div class="wrapper">
  <header class="header">
    <img class="logo" src="assets/pro-algo/logo.svg" alt="logo">
  </header>
  <section class="sub-header-section">
    <div class="sub-header-section-text-container">
      <h1 class="sub-header-section-title">
        xTrades Pro Algo
      </h1>
      <h6 class="h6">Optimal Time Frame 15m Charts</h6>
      <p>
        It is designed for day trading and swing trading. <br>
        With a multifunction trigger system for <b>SCALPING</b> AND <b>SAFE</b> modes
        It will attach to any Stock including Futures & Crypto
      </p>
      <ol>
        <li>
          This should be for everyday use, including actively trading or
          following an analyst to see ahead. EMA price line will tell you
          when to exit according to the timeframe your using
        </li>
        <li>
          Offers an automatic Trend identifier and Trade channel
          (bullish/bearish)
        </li>
        <li>
          The Algo has a built in Chop Index and Timeframe identifier
          (Bullish/Bearish)
        </li>
      </ol>
    </div>
    <div class="sub-header-section-img-wrapper" data-aos="fade-up" data-aos-once="true">
      <img src="assets/pro-algo/head.svg" alt="img">
    </div>
  </section>
  <section class="steps-section">
    <div class="steps-section-cards">
      <div class="card" data-aos="fade-up" data-aos-delay="100" data-aos-once="true">
        <span class="logo-box">
          <img src="assets/pro-algo/card-logo.svg" alt="X">
        </span>
        <span class="sub-title">Elite Member </span>
        <p>
          If you’re an Elite Member,<br>
          you can acquire the script for<br>
          $500 off ($999 Normal Price)
        </p>
        <button class="styled-button" (click)="openPlansPage()">SIGN UP</button>
      </div>
      <div class="card" data-aos="fade-up" data-aos-delay="200" data-aos-once="true">
        <span class="logo-box">
          <img src="assets/pro-algo/card-logo.svg" alt="X">
        </span>
        <span class="sub-title">Elite Gold Member</span>
        <p>
          If you’re an Elite Member,<br>
          you can acquire the script for<br>
          $500 off ($999 Normal Price)
        </p>
        <button class="styled-button" (click)="openPlansPage()">SIGN UP</button>
      </div>
      <div class="card" data-aos="fade-up" data-aos-delay="300" data-aos-once="true">
        <span class="logo-box">
          <img src="assets/pro-algo/card-logo.svg" alt="X">
        </span>
        <span class="sub-title">Lifetime Elite + Package</span>
        <p>
          The script is included in the<br>
          purchase of lifetime elite plus<br>
          at the cost of $1488
        </p>
        <button class="styled-button" (click)="openPlansPage()">SUBSCRIBE</button>
      </div>
    </div>
  </section>
  <section class="sub-header-section second">
    <div class="sub-header-section-img-wrapper second" data-aos="fade-up" data-aos-once="true">
      <img src="assets/pro-algo/cards-column.svg" alt="img">
    </div>
    <div class="sub-header-section-text-container second">
      <h1 class="sub-header-section-title second">
        xTrades Pro Algo
      </h1>
      <p>
        It is designed for day trading and swing trading.With a <br>
        multifunction trigger system for <b>SCALPING</b> AND <b>SAFE</b> modes <br>
        It will attach to any Stock including Futures & Crypto
      </p>
      <p>
        This should be for everyday use, including actively trading or
        following an analyst to see ahead.
      </p>
      <ol class="second">
        <li>
          Offers an automatic Channel range with a real time
          adjustment (bullish/bearish)
        </li>
        <li>
          The Algo has a built in Chop Index and Timeframe identifier-
          This tells you when you trade and when it is considered
          dangerous.
        </li>
        <li>
          We have integrated an Automated Fibonacci attachment
          for all fib traders
        </li>
        <li>
          Automated Target zones and a built in stop loss following
          price/volume adjustments and range
        </li>
        <li>
          Built in generated Supply & Demand zones
        </li>
        <li>
          A custom Dashboard to display RSI, VOLATILTY, HOD, LOD
          AND VOLUME
        </li>
        <li>
          A customizable Candle Cloud that provides both a
          setting for scalping a swing trading
        </li>
      </ol>
    </div>
  </section>
  <section class="slider-section">
    <h3 class="slider-section-title">Trade Example</h3>
    <h6 class="slider-section-subtitle">SPY trade example, full target hit, pushed all through demand zones (edited)</h6>
    <div>
      <swiper class="swiper" [config]="config">
        <ng-template swiperSlide>
          <img src="https://xtradescoreprod.blob.core.windows.net/web-images/xtrades.net/image2.png" alt="">
        </ng-template>
        <ng-template swiperSlide>
          <img src="https://xtradescoreprod.blob.core.windows.net/web-images/xtrades.net/image3.png" alt="">
        </ng-template>
        <ng-template swiperSlide>
          <img src="https://xtradescoreprod.blob.core.windows.net/web-images/xtrades.net/image4.png" alt="">
        </ng-template>
        <ng-template swiperSlide>
          <img src="https://xtradescoreprod.blob.core.windows.net/web-images/xtrades.net/image5.png" alt="">
        </ng-template>
      </swiper>
    </div>
  </section>
  <section class="lifetime-section">
    <div class="lifetime-section-card">
      <div class="card">
        <h6 class="lifetime-section-card-title">Lifetime Elite + Package</h6>
        <p>
          Our lifetime plan. All the perks of Elite + access and a couple extras. <br>
          • All Elite Plus Perks <br>
          • Lifetime Chat and Webinar Access <br>
          • 2 Hours of FREE Coaching with Top Traders and Analysts of our Team <br>
          • 50% Marketplace Discounts <br>
          • Platinum Name Color <br>
        </p>
      </div>
      <div class="plan">
        <span class="logo-box">
          <img src="assets/pro-algo/card-logo.svg" alt="X">
        </span>
        <span class="sub-title">$1,588</span>
        <p>Single payment</p>
        <button class="styled-button" (click)="openPlansPage()">SUBSCRIBE</button>
      </div>
    </div>

  </section>
</div>
<app-footer></app-footer>
