<div class="overlay">
    <section class="responsive-main-container flex hero-section">
        <div class="column left-bar">
            <div class="header">
                <span class="header-detail">NFT Show off</span> Area Section
            </div>
            <div class="description">
                <div class="flex px-4">
                    Eget aliquet nibh praesent tristique magna sit amet purus mauris in aliquam.
                </div>
                <div class="bottom-bar">
                    <app-x-button class="button uppercase" [isBrand]="true" [isColorInverted]="false" (triggerClick)="handleGoToBetaAppClick()">Join
                    </app-x-button>
                    <app-x-button class="button uppercase" [isColorInverted]="true" (triggerClick)="handleGoToBetaAppClick()">Discord
                    </app-x-button>
                </div>
            </div>
        </div>
        <div class="column gif-bar">
            <img src="./../../../assets/gifs/xpass.gif" />
        </div>
    </section>
</div>