@import "../../../styles/vars";

.overlay {
    width: 100%;
    background: url('../../../assets/images/xtradex-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 120%;
    color: #8A93AD;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media(max-width: $lg) {
        font-size: 44px;
    }
}

.header-detail {
    text-shadow: 0px 4px 35px rgba(206, 215, 243, 0.62);
    color: white;
}

.px-4 {
    @media(max-width: $lg) {
        padding: 16px 0;
    }
}

.description {
    background: url('./../../../assets/images/text-bg.png');
    background-repeat: no-repeat;
    background-size: 100%;

    width: 100%;
    height: 100%;
    max-width: 539px;
    min-height: 220px;
}

.description {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.description .flex {
    width: 80%;
    margin: 0 auto;
    @media(max-width: $lg) {
        text-align: center;
    }
}

.left-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    @media(max-width: $sl) {
        order: 2;
    }
}

.gif-bar {
    max-width: 546px;
    max-height: 746px;
    @media(max-width: $sl) {
        max-width: 336px;
        max-height: 336px;
    }
}

.bottom-bar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    align-items: flex-start;
    @media(max-width: $lg) {
        justify-content: center;
        padding-left: 0;
    }
}
