@import "../../../../styles/mixins";

.hero {
    white-space: pre-wrap;
    word-break: break-all;
    padding: 2em 1em;
    &__main {
        padding: 1.5em 0 0 0;
        @include dynamic-font(36px, 0.5);
    }
    &__description {
        padding: 1em 0;
    }
}