Trading Rules:
Rule 1: DO NOT TOUCH SPOT POSITIONS TO SAVE LEVERAGED TRADES.
Rule 2: Only use 10-20% of your total capital for leveraged trading.
Rule 3: When profits are made, use 50% for spot positions and secure the rest through P2P to be used outside of trading.
Rule 4: PROTECT YOUR PROFITS.
Rule 5: Don't be emotionally biased (bull or bear), remain neutral when placing a trade, especially leveraged.
Rule 6: Before making a trade, analyze the coin always, don't FOMO or ape into any trade, as the risk is too great and not worth the reward.
Rule 7: Plan each trade you make and no matter what remain neutral on the market and the data you have analyzed.
Rule 8: Always learn from losses, be hard on yourself, but not detrimental to growth.
Rule 9: Always search for more knowledge to be gained, there is no end to honing skills as a trader.
Rule 10: Do not sell spot positions for a loss, no matter what.
Rule 11: Never rely on someone else to make you money, be responsible and accountable for your own actions always.
