<section class="trusted-apps px-4">
    <h2 class="trusted-apps__header-2 header-2">Trusted Apps</h2>
    <div class="px-2 center">Amplify your earnings with any of our Partners</div>
    <div class="trusted-apps__logo-wrapper flex">
        <a href="https://xtrades.net" target="_blank" class="link cursor-pointer">
            <img class="trusted-apps__logo px-2" src="../../../assets/images/xtrades-logo.png" />
        </a>
        <a href="https://www.cryptotraders.com" target="_blank" class="link cursor-pointer">
            <img class="trusted-apps__logo px-2" src="../../../assets/images/crypto_trades.png" />
        </a>
    </div>
</section>
