<!-- <div class="membership__header header header-1 header-1-gradient-overlay center" data-aos="fade-up">Our Traders</div> -->

<!-- <app-x-button class="button" [isColorInverted]="true" (triggerClick)="handleGoToDestination('')" >
    Apply to be an Earner in our community
</app-x-button> -->

<div
  class="our-traders responsive-main-container"
  [ngClass]="{ 'is-mobile': isMobile }"
>
  <div class="small">
    <div
      *ngFor="let role of allRoles; let i = index"
      class="scroller column role cursor-pointer role-{{ i }}"
    >
      <div
        (click)="chooseRole(i)"
        class="small-padding roleMention-11Aaqi desaturate-_Twf3u wrapper-1ZcZW- mention cursor-pointer"
        tabindex="-1"
        role="button"
      >
        @{{ role.rankName }}
      </div>
    </div>
  </div>
  <div class="scroller huge column">
    <div *ngFor="let trader of traders" class="flex align-center profile-link">
      <div
        class="flex center cursor-pointer"
        (click)="goToTraderProfile(trader.url)"
      >
        <div
          *ngIf="trader && trader.icon"
          class="trader-icon"
          [style.background]="
            'url(' + trader.icon + ') center / cover no-repeat'
          "
        ></div>
        <div class="flex center space-between">
          <div
            class="profile-text ml-2"
            data-text-variant="text-sm/semibold"
            style="color: var(--header-primary)"
          >
            {{ trader.displayName ? trader.displayName : trader.userName }}
          </div>
          <a target="_blank" [href]="">View Stats</a>
        </div>
      </div>
      <a
        *ngIf="trader.instagramUrl"
        [href]="trader.instagramUrl"
        target="_blank"
        ><div
          class="instagram-btn"
          [style.background-image]="'url(/assets/instagram.png)'"
        ></div
      ></a>
    </div>

    <div class="p-2" *ngIf="traders?.length === 0">Coming soon</div>
  </div>
</div>
