.our-traders {
  // background-color: rgba(241, 196, 15, 0.1);
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0;

  &.is-mobile {
    flex-direction: column;

    .scroller {
      max-height: 10000px;
    }

    .small,
    .huge {
      width: 100%;
    }

    .small {
      flex-direction: row;
      overflow-x: auto;
      overflow-y: hidden;

      &-padding {
        padding: 10px;
        white-space: nowrap;
      }
    }

    .huge {
      padding: 10px 24px;

      .flex {
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
      }

      .profile-text {
        padding: 5px 15px;
      }
    }
  }
}

.profile {
  justify-content: flex-start;
}

.profile-text {
  padding: 15px;
}

.profile-link {
}

.small {
  width: 30%;
}

.huge {
  padding-left: 24px;
  width: 70%;
  flex-wrap: wrap;
}

.scroller {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 400px;
  flex-wrap: nowrap;
}

// .scroller > * {
//     width: 100%;
// }

.small-padding {
  padding: 10px 0;
  text-align: center;
}
