.our-traders {
  // background-color: rgba(241, 196, 15, 0.1);
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0;

  &.is-mobile {
    flex-direction: column;

    .scroller {
      max-height: 10000px;
    }

    .small,
    .huge {
      width: 100%;
    }

    .small {
      flex-direction: row;
      overflow-x: auto;
      overflow-y: hidden;

      &-padding {
        padding: 10px;
        white-space: nowrap;
      }
    }

    .huge {
      padding: 10px 24px;

      .flex {
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
      }

      .profile-text {
        padding: 5px 15px;
      }
    }
  }
}

.profile {
  justify-content: flex-start;
}

.profile-link,
.hoverable-role {
  position: relative;

  &:before {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    bottom: 0;
    content: "";
    left: -16px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.15s ease-in-out;
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

.profile-link {
  .href {
    transition: color 0.15s ease-in-out;
  }

  &:hover {
    &:before {
      opacity: 1;
    }

    .href {
      color: #fff;
    }
  }
}

.hoverable-role {
  transition: color 0.15s ease-in-out;

  &:before {
    border-radius: 0;
    left: 0;
  }

  &:hover {
    color: #fff !important;

    &:before {
      opacity: 1;
    }
  }
}

.profile-text {
  padding: 15px;
}

.profile-link {
}

.small {
  width: 30%;
}

.huge {
  padding-left: 24px;
  width: 70%;
  flex-wrap: wrap;
}

.scroller {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 400px;
  flex-wrap: nowrap;
}

// .scroller > * {
//     width: 100%;
// }

.small-padding {
  padding: 10px 0;
  text-align: center;
}
