<app-hero class="hero responsive-main-container">
  <div class="hero__description text narrow" text>
    <div
      class="hero__main relative header header-1 center header-1-gradient-overlay title"
      data-aos="fade-up"
    >
      Refund and Return Policy
    </div>
    <div class="hero__description format-text mb-20" description>
      All sales are final, and that is why we provide a 14 day free trial of our
      Elite Monthy plan to allow users the ability to understand and know
      exactly what they are getting before they make a purchase to continue.
      Refunds are only available in the cases of duplicate payments or
      overcharges. Your payment data is encrypted and secure. All amounts shown
      are in USD. If you forget to cancel your membership and you contact us
      within 48 hours of being charged, we will allow you a refund on your
      purchase in this scenario. Otherwise, we cannot provide a refund and all
      sales are 100% final and non-refundable.
    </div>
  </div>
  <div class="hero__description text narrow" text>
    <div
      class="hero__main relative header header-1 center header-1-gradient-overlay title"
      data-aos="fade-up"
    >
      Additional terms for monthly and annual recurring subscriptions
    </div>
    <div class="hero__description format-text mb-20" description>
      You will automatically be charged at your renewal date unless canceled or
      if your membership is on pause. This can be done inside of our website at
      <a href="https://app.xtrades.net/settings" target="_blank"
        >https://app.xtrades.net/settings</a
      >
      under the membership settings tab. Simply login to the account in
      discussion and “Pause” your membership. Once you’ve paused your membership
      you have the option from there to continue pausing or to completely
      cancel. Cancellations must be made or requested before the renewal date
      and time. Renewal payments occur on the same date of the month and time of
      the day as your initial sign-up date and time.
    </div>
  </div>
  <div class="hero__description text narrow" text>
    <div
      class="hero__main relative header header-1 center header-1-gradient-overlay title"
      data-aos="fade-up"
    >
      Premium Item Access
    </div>
    <div class="hero__description format-text mb-20" description>
      When you purchase our Yearly or Lifetime membership, you are gaining
      immediate access to our database of custom products that include our
      ThinkorSwim, Trade-Ideas and Tradingview scripts, thus once the purchase
      is made, we are not able to provide a refund for your purchase or reverse
      the purchase due to the nature of one being able to simply download our
      scripts and products after purchasing, and then asking for a refund
      afterwards and obtaining our products for free. We appreciate your
      understanding as we have worked hard to create and code these products by
      hand.
    </div>
  </div>
</app-hero>
