<app-hero class="hero responsive-main-container">
    <div class="hero__main relative header header-1 header-1-gradient-overlay" data-aos="fade-up">
        Refund Policy
    </div>
    <div class="hero__description format-text" description>All sales are final. Refunds are only available in the cases of duplicate payments or overcharges. Your payment data is encrypted and secure. All amounts shown are in USD. Additional terms for monthly and annual recurring subscriptions: You will automatically
        be charged at your renewal date unless cancelled. Cancellations must be made or requested before the renewal date and time. Renewal payments occur on the same date of the month and time of the day as your initial sign-up date and time.
    </div>
</app-hero>