<div class="hero__description description spacer-top-sm" description data-aos="fade-up" data-aos-delay="500">
    🤝 Be respectful to ALL members and staff.
</div>
<div class="spacer-top-sm">
    We are a vast community of traders from all walks of life and ideologies. Disagreements will happen, and it
    is your responsibility to treat everyone with respect. We will not tolerate inappropriate or offensive
    comments
    regarding (but not limited to): race, religion, gender, sexual orientation, financial status, political
    views, and age, as well as insults, threats, or harassment of other community members. Don't be THAT person.
    Keep
    politics and other sensitive topics at #🗯｜off-topic™.
</div>

<div class="hero__description description spacer-top-sm" description data-aos="fade-up" data-aos-delay="500">
    🧑‍💼 Keep it professional.
</div>

<div class="spacer-top-sm">
    In addition to rule #1, strive to post informative and relevant content in our server, and be sure to
    include
    the stock's ticker symbol in your message so that others can easily follow the conversation (example: TSLA).
    While we don't expect everyone to be an English major, using proper grammar will certainly also help in this
    regard. In addition, absolutely NO NSFW or illegal content may be posted, and please refrain from using
    excessive profanity.
</div>

<div class="hero__description description spacer-top-sm" description data-aos="fade-up" data-aos-delay="500">
    🙊 No shilling, advertising, or self-promotion.
</div>
<div class="spacer-top-sm">
    No shilling, advertising, or self-promotion of any kind are allowed on our server without explicit
    permission
    from the Admin team. This includes (but is not limited to): referral links, social media pages, GoFundMe
    pages,
    Discord invites, mass DMs, screenshots from other servers, etc.
</div>

<div class="hero__description description spacer-top-sm" description data-aos="fade-up" data-aos-delay="500">
    :NoFUD~1: Do not intentionally spread FUD.
</div>

<div class="spacer-top-sm">
    Please refrain from intentionally spreading FUD regarding stocks or the overall markets. If you aren't sure
    about something, it's best to ask others.
</div>

<div class="hero__description description spacer-top-sm" description data-aos="fade-up" data-aos-delay="500">
    🙊 Do not share premium content outside the server.
</div>

<div class="spacer-top-sm">
    This includes alerts and screenshots of content here. Please refer your friends to our service if you enjoy
    our
    results! http://discord.gg/Xtrades
</div>

<div class="hero__description description spacer-top-sm" description data-aos="fade-up" data-aos-delay="500">
    ⚠️ Be mindful of scams or suspicious messages.
</div>

<div class="spacer-top-sm">
    No staff member will EVER directly ask you for money, cryptocurrency, or personally identifiable information
    (password, private keys, seed phrases, etc). Please DM a staff member IMMEDIATELY if you see this taking
    place
    in private messages or in our public channels. If you are unsure about a message sent by a staff member, ask
    them to send a message at #🗯｜off-topic™ and tag you. You should see a "verified" icon :GreenCheck: next to
    their username.
</div>

<div class="hero__description description spacer-top-sm" description data-aos="fade-up" data-aos-delay="500">
    :WeSmartAnimated: Use common sense.
</div>

<div class="spacer-top-sm">
    Be respectful, helpful, professional, and take responsibility, and you'll have a great time in our server.
    We
    encourage a positive environment where everyone who abides by our community guidelines is welcome.
</div>