.element {
  cursor: pointer;
  padding: 15px;

  display: flex;
  justify-content: center;

  &__content {
    display: table;
    height: 100%;
    &__text {
      display: table-cell;
      vertical-align: middle;
    }
  }
  transition: 0.5s;
  &:hover {
    .element__dropdown {
      display: block;
      position: absolute;
    }
  }
  &__dropdown {
    display: none;
  }
}
