<div class="gradient-overlay">
  <div class="blog-card">
    <div
      class="image"
      *ngIf="blogPost.image; else default"
      [style.background]="
        'url(' + blogPost.image + ') no-repeat center / cover'
      "
    ></div>
    <ng-template #default>
      <div class="image-default"></div>
    </ng-template>
    <div class="blog-card_texts">
      <div class="blog-stats">
        <span class="blog-card__date">{{ blogPost.date }}</span>
        <div class="duration-initials">
          <img src="assets/blogs/clock.svg" alt="clock" /><span
            >{{ blogPost.duration }} min</span
          >
          <div
            class="author-block"
            *ngIf="blogPost.author; else defaultAuthor"
            [style.background-color]="backgroundColor"
          >
            <span class="initials">{{ blogPost.initials }}</span>
          </div>
          <ng-template #defaultAuthor>
            <div
              class="author-block"
              [style.background-color]="backgroundColor"
            >
              <span class="initials">KW</span>
            </div>
          </ng-template>
        </div>
      </div>

      <a style="color: #ffffff" class="blog-card__title" [href]="blogPost.href"
        ><h3 class="post-title" style="word-break: keep-all">
          {{ blogPost.title }}
        </h3></a
      >
      <p class="desc">{{ blogPost.snippet }}</p>
      <a [href]="blogPost.href" class="link-to-more">read more</a>
    </div>
  </div>
</div>
