@import "../../../../styles/vars";

.blog-card {
    border-radius: 0 0 10px 10px;
    -webkit-transition: .4s;
    transition: .4s;
    background-color: #161616 !important;
    border-width: 3px !important;
    border: 3px solid transparent !important;
    border-style: solid !important;
    border-image: linear-gradient( 111.6deg, var(--brand-main-purple) 27.3%, var(--light-purple-detail) 112.7% ) !important;
    border-image-slice: 1 !important;
    max-width: 100%;
    min-height: 200px;
    height: 100%;
    max-height: 400px;
    
    padding: 45px 15px;

    display: flex;
    justify-content: space-between;
    &__texts {
        margin: 45px 15px;
        display: flex;
        justify-content: space-between;
    }
    &__title {
        h3 { 
            height: 60px;
            @media(max-width: $lg) {
                font-size: 14px;
            }
        }
    }
}
