@import "../../../../styles/vars";

.blog-card {
    &__post-image {
        max-width: 270px;
        @media (max-width: $md) {
            max-width: 100%;
        }
    }
    &__post-header {
        font-size: 28px;
    }
}