<div class="blog-card flex cursor-pointer" data-aos="fade-up" (click)="onClickBlogCard()">
    <div class="column px-2">
        <img lazy src="assets/news-1.webp" class="blog-card__post-image" alt="Xtrades Edge" width="614" height="393" />
    </div>
    <div class="blog-card__post column space-between pl-2">
        <div class="blog-card__post-header flex space-between px-2">
            <app-label [label]="'Top News'"></app-label>
            <div>11.01.1995</div>
        </div>

        <app-hero class="blog-card__post-hero left px-2">
            <div class="blog-card__post-header header-2" header-2>
                How to Trade and Stuff?
            </div>
        </app-hero>
    </div>
</div>