<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/29/29-1.jpg"
    alt="Trading community"
  />
</div>

<p style="font-style: italic; text-align: center">
  Photo by
  <a
    href="https://www.pexels.com/photo/people-doing-group-hand-cheer-3280130/"
    target="_blank"
    >Dio Hasbi Saniskoro</a
  >
</p>

<p>
  Question: Have you opened a trading account and started trading and losing
  money from day 1? Have you ever blown up an account by putting all your money
  on the wrong horse? Lets recap why…
</p>

<h2 id="1">What is Social Trading?</h2>

<p>
  Well let me start off by giving you an idea of what “regular” trading is, or
  was rather. In the old days our parents had their broker, say Morgan
  Stanley(<a href="www.morganstanley.com" target="_blank"
    >http://www.morganstanley.com</a
  >). As investors (buying and holding stocks for the long run), they would read
  the closing prices of a stock from the previous day and based on that
  information they might call their broker on a landline phone (😊) and tell
  them to place an order to buy 100 shares of IBM. The stock by now, say 9am,
  would be trading higher or lower than the previous day’s closing price, which
  is what they were reading on their paper printed wall street journal. The
  broker would add some insight and of course their broker fee (Upwards of $100)
  and place the trade for them. Investors would normally hang on to their shares
  for a few months or even years. This was regular trading or investing.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/29/29-2.jpg"
    alt="Trading results table"
  />
</div>

<p>
  Enter the digital age of computers and internet and we now have accounts at
  brokerage firms like Webull and Ameritrade (<a
    href="http://www.tdameritrade.com"
    target="_blank"
    >www.tdameritrade.com</a
  >) where we can download an app, connect a bank account, wire money into our
  new brokerage account and start buying shares without having to talk to a
  single soul! All of this comes with pros and cons as always. Pros like; its
  faster, I don’t have to deal with a salesperson offering me a bunch of stuff
  I’m not interested in, I can place my trades whenever I want to etc. Cons
  like; if I don’t have to talk to anyone about any of it, I’m not getting
  advice on what to buy or when to buy it or how to buy it. So we did away with
  a middleman which was yes, perhaps inflating our trading costs, but sometimes
  adding value as a service to us!
</p>

<div class="cta">
  <p>JOIN XTRADES TRADING COMMUNITY</p>
  <a href="https://app.xtrades.net/invite/marciokoko" target="_blank"
    >Click here</a
  >
</div>

<p>
  The most common story I hear is from a member or friend who got excited about
  stock/options trading or crypto trading because they heard so and so made tons
  of money trading. Of course, that’s why trading is so appealing, the profit
  stories. But it’s very likely that 2 things happened: (1) They put their money
  on a stock that traded upwards out of sheer luck or (2) They were trading in a
  bull market, which is to say they were paddling downriver, taken by the
  current…easy!
</p>

<p>
  Most of the time, people who open an account and start throwing money around
  like darts at a dartboard, will lose money and BIG! There is no free lunch, as
  with everything in life. Trading can indeed make you money, and it is
  appealing because you’re doing it whilst sitting at a desk. You can make $100
  in a few seconds just horsing around. But you can lose $1000 even with all the
  training in the world.
</p>

<p>
  <a
    href="https://medium.com/@XtradesTrading/social-trading-and-how-to-find-a-trading-community-2231c838d501"
    >SOCIAL TRADING</a
  >
</p>

<p>
  Social Trading is the version where you indeed do all trading yourself, but
  even though you’ve cut out that helpful middleman, you’ve replaced him with a
  few “friends”. These friends are special, they must be if you want to make
  money. Thus you have to choose those friends wisely! Not only do they have to
  be savvy, but you must know what kind of trader they are. Let’s look at how it
  works.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/29/29-3.png"
    alt="Xtrades Discord channel"
  />
</div>

<p>
  In social trading you join a community of online traders. A Social Trading
  Community is based on one or many platforms. Simple public platforms such as
  Discord (<a href="http://www.discord.com" target="_blank">www.discord.com</a>)
  , Reddit (<a href="http://www.reddit.com" target="_blank">www.reddit.com</a>)
  or Twitter (<a href="http://www.x.com" target="_blank">www.x.com</a>), to more
  sophisticated platforms like their own website or app (as is the case with
  <a href="http://www.xtrades.net" target="_blank">www.xtrades.net</a>). The
  general idea is that you congregate virtually and share trading ideas. As I
  mentioned before though, you have to know who is who inside the platform.
  Although these social networks have groupings or rankings of their members,
  anyone can join (usually for a fee), which means anyone can share their trade
  ideas. But you don’t want to put your money behind just anyone’s trade idea!
  Get to know the trading community staff and understand who the network’s
  official experts or analysts are. These are the members responsible for
  emitting trade alerts or trade signals to the group. These could be incredibly
  lucky individuals or well experienced traders. Make sure to research those
  so-called experts to make sure they have a good track record.
  <b>A good social trading community</b> will have a way to track their past
  trades as well as give you a better idea as to this trader’s personality which
  is CRITICAL! <b>A good social trading community will give you a profil</b>e of
  the types of trades this expert puts on as well as his win rate. Yes win rate
  is important, BUT trust me, its more important to know the trades he puts on
  such as; day trade vs swing trades.
</p>

<div class="cta">
  <p>TRY OUT THE DISCORD TRADING COMMUNITY</p>
  <a href="https://discord.gg/xtrades" target="_blank">Click here</a>
</div>

<p>Consider this example.</p>

<P>...</P>

<p>
  Anyone can get into a trade, let’s talk about stock trades since they are
  “safer” than options. So you open your account and hit “Buy” on 100 shares of
  AAPL. In the next few seconds that stock can rocket or tank regardless of how
  you picked the trade or who told you to buy it. You can be Warren Buffet of
  John Doe and that stock can go the wrong way and lose you hundreds or more!
  Social trading helps you handle the situation in one of 2 ways:
</p>
<ul>
  <li>A. Handholding by a social trader.</li>
  <li>B. Educating yourself.</li>
</ul>

<p>
  When you start out, you will most likely want some degree of handholding. Even
  though most social trading networks will tell you their experts or analysts
  don’t hold your hand on a trade, they sorta do. Social trading starts out with
  a well-researched expert that fits your own personality giving out a trade
  alert. Instead of you having to research a stock, the expert alerts everyone
  to buy 100 shares of AAPL. This is because that expert has done some research.
  <b
    >A good social trading community will give you that expert’s track record</b
  >
  for that specific ticker. Does he trade it often? Does he normally trade
  stocks or options? Does he usually trade small caps or large caps? All of this
  is important information because it gives you an idea of his expertise. But
  the info I find most important is how communicative he is. Again,
  <b>a good social trading community will give you in-depth info</b> as to why
  the analyst or expert chose that trade. Let’s look at this example from
  xtrades.net Discord community posts:
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/29/29-4.png"
    alt="Trade alert"
  />
</div>

<p>
  Our analyst shinmoon is taking a long AMD put position (so he expects it to
  drop). Look at how he provides those new traders with info as to what he is
  seeing; a short term rejection on the 1H chart. This means you can go look at
  a chart of AMD and see what he is seeing. Is this more important than having a
  certified broker from MS tell you to take the same trade? It sure is in my
  book! The MS broker is getting paid for you to put on a trade, whether you win
  or lose. The MS broker is not putting his own money on the line, he’s putting
  yours. In this case, if you don’t agree with what shinmoon is saying, you
  simply don’t take the trade.
</p>

<div class="cta">
  <p>FOLLOW XTRADES ON TWITTER</p>
  <a href="http://www.x.com/XtradesOfficial" target="_blank">Click here</a>
</div>

<p>
  But there is another reason why this type of handholding is important.
  Remember how we said the stock could go up or down regardless of who makes the
  call? This is true of any stock and any expert, you will see this in your
  trading going forward, but here is the thing…the second most common complaint
  after “I lost all my money trading”, is “as soon as I got out for a loss, they
  trade turned around and rocketed”. This to me is the single most important
  skill to master. The chill out skill. What experts call the diamond hand vs
  paper hand trader. Most new traders, inexperienced traders or even long-time
  traders that have not taken the time to educate themselves, will be paper
  hands traders. Paper is soft and it rips apart and a paper hands trader will
  be weak in conviction or might have NO conviction on a placed trade and
  therefore exit at the worst possible moment. A diamond hands trader is usually
  a more experienced trader that has been around and seen just about everything.
  A diamond hands trader will have enough accrued knowledge to spot patterns
  that are the result of common behaviors in the market. This will allow the
  diamond hands trader to know when to get out.
</p>

<p>
  Handholding works because you are holding on to a diamond hand trader while
  you invest in your own education and experience until you yourself can become
  a diamond hands trader. CAREFUL: the passage of time alone won’t make you a
  diamond hands trader. The number of trades you put on won’t either. You must
  learn technical, fundamental, macroeconomic, and geopolitical skills in order
  to become one. In the meantime, use our diamond hand experts that will share
  their knowledge of:
</p>

<ul>
  <li>Which trade did they get into?</li>
  <li>Why did they enter that trade?</li>
  <li>What are they seeing and expecting to happen?</li>
  <li>How to get out of the trade if it goes bad?</li>
  <li>When to get out of the trade if it goes great?</li>
  <li>
    And the takeaway from every trade regardless of whether it went green or
    red!
  </li>
</ul>

<p>
  Educating yourself is key! Like I said, you won’t become a diamond hands
  trader if you don’t learn. Learn what you say? Well, the main reason why a
  diamond hands trader is chill, relaxed, confident is simple. It’s not because
  they are built differently, it’s because they know differently. They have seen
  chart patterns before. They’ve lived through many earnings seasons and CPI
  reports or Job Reports to know how it affects the market, its sectors, and its
  tickers! They understand the complex dynamics of oil markets, wars, and black
  swan events because they have seen them before. Simply put, they have a better
  understanding of which direction things might be going. But they also trade in
  a way that prepares them for the opposite scenario. They hedge their bets so
  that when they DO lose, because we all lose, we don’t lose as big. So, in the
  end, if we lost $500, we made sure we had made $1,000 previously.
</p>

<div class="cta">
  <p>CHECK OUT THIS REDDIT</p>
  <a
    href="https://www.reddit.com/r/XtradesOfficial/s/dwkXzwvtJx"
    target="_blank"
    >Click here</a
  >
</div>

<h2 id="2">How I got into it?</h2>

<p>
  I’ve been investing since the 1990’s but I had never really traded. Trading is
  simply investing in the shorter term. Nothing ever goes straight up. It goes
  up a bit, then drops, back up and drops again until it goes high enough. An
  investor buys once and sells once during that time. So they may enter at $10
  and exit at $20 for a nice 100% profit in 1 year. A trader will buy at $10,
  make it to $13, then wait for it to drop to $11 and buy again and ride til
  $16, wait for another pullback to $14 and finally run to $20. In this case the
  trader would make $14/$10 = 140%.
</p>

<p>
  I had some shares already which rocketed when the pandemic came around,
  because it was a huge bull market (market bubble) which lifted just about
  everything and given the pervasiveness of social media I got ahold of Xtrades
  Discord Community (they didn’t have the website or mobile app yet). There are
  a lot of discord communities out there as well as Telegram and Whatsapp
  communities as well (be careful though!). Reddit and Twitter are also teeming
  with social trading communities. People were stuck at home and it was a
  combination of free time given the pandemic lockdown and social trading
  networks that placed the opportunity in front of me.
</p>

<p>
  I remember I saw the monthly and lifetime plans and after some quick math I
  decided, “if I can make $50 a month then the monthly pays for itself.” At the
  time I was paying for streaming music and tv so I figured, why not pay for
  something that can MAKE me some money instead! I made more than $100 the first
  month, more than $200 the second and more than $300 the third month. Simple
  math again and I decided to go for the lifetime membership. I am by no means a
  diamond hands trader even after 3 years, but I know I’m much better at it.
  Yes, there have been months that I’ve lost money, even 2 months in a row or
  maybe three; but those losses have helped me learn. I’ve learned when to go
  small, when to go big, not to chase trades, not to blindly hang on to a losing
  trade, when to hedge and how to hedge, how to trade ultra safe, how to take
  profits, and even how to pick my own trades and more importantly when I’ve had
  enough.
</p>

<h2 id="3">What is so important about social trading?</h2>

<p>
  As described above, the most important thing, for me, is the handholding and
  the learning. Blindly taking alerts is a terrible idea. Holding an expert’s
  hand into and out of a trade is important but it is also a learning
  opportunity. If you just hold it blindly you won’t learn and if you don’t
  learn you will never be self-sufficient.
</p>

<div class="cta">
  <p>SUBSCRIBE TO XTRADES YOUTUBE CHANNEL</p>
  <a href="https://youtube.com/@XtradesApp?si=9cSAhg_tRoxYeHVF" target="_blank"
    >Click here</a
  >
</div>

<p>
  Xtrades has video lessons, blog articles, trade reviews, analyst alerts, trade
  discussion channels, educational channels, a platform with analyst profiles,
  analyst trade alerts, stock and option trading information as well as a sister
  channel for crypto called CryptoTraders. It’s a very active community and
  analysts are responsive and communicative. Analysts post their trade analysis
  with enough time for you to review them, learn and decide whether you want to
  go in as well as how and when to get out. It sure beats bouncing around
  Google, YouTube and all over the web trying to learn.
</p>

<p>
  While a stock might be in a longer-term rising or falling pattern, it could
  still go up and down in the short term. Channels help us see what the overall
  trend is and whether it's worth trading long or short on that stock or option.
</p>
