<h1 class="card__title header-2 pt-6 center" data-aos="fade-up">
  Options Flow is DIFFERENT! Understanding Call Option Sweep
</h1>
<div class="blog-card__post-header pb-4 center flex space-between px-2">
  <div>15.11.2023</div>
</div>

<h2>How to trade options using Options Flow information! Read our guide on call option sweeps & how to make money trading them! Join our Discord to see our option flow scanner!</h2>

<p>
  There are many trading strategies so for example you might be a day trader vs
  a long term investor. You might only trade on earnings season. You might have
  scanners set up so you are alerted to stocks that are moving a lot. Options
  flow is another way to look at what’s going on in the market and decide on a
  ticker to focus on.
</p>

<p>
  An Options Flow Scanner is basically a way to group trading info such that you
  can see large amounts of transactions which might indicate there are big
  whales or big shots behind those trades.
</p>

<p>
  Once you join <a href="https://xtrades.net/" target="_blank">Xtrades</a> as a
  member, you will get access to
  <a
    href="https://xtrades.net/blogs/how-to-make-most-of-stock-alerts"
    target="_blank"
    >Trade Signals</a
  >
  as well as
  <a href="https://app.xtrades.net/options-flow" target="_blank"
    >Options Flow</a
  >
  info which looks like this:
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px; width: 80%"
    src="assets/blogs/21-1.png"
    alt="Options Flow"
  />
</div>

<p>
  Here you can see the tickers and how much premium or value has been traded and
  grouped into their respective strikes and expiry dates. Let’s use the Search
  function to look at only AMZN activity:
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px; width: 80%"
    src="assets/blogs/21-2.png"
    alt="Options Flow"
  />
</div>

<p>
  As you can see we have 3 entries for AMZN Calls all with different strike
  prices ranging from 120, 125, 135 up to $145! If you go to a chart you can see
  AMZN is trading at $143 which makes sense because today is 11/7 and all these
  trades were placed today (first column) when the Spot price (7th column) was
  near $143. The Type column (9th) is telling us that those are regular trades.
  When you see type Block or type Sweep it means it was activity from one large
  trade instead of individually grouped trades. That tell us that more than
  likely it’s institutional trading moving money around which should catch our
  interest.
</p>

<h3>
  <a href="https://app.xtrades.net/plans" target="_blank">JOIN XTRADES TODAY</a>
</h3>

<p>
  But even a type Trade tells us that those contracts are the most active. As a
  matter of fact if we look at our options chain we should be able to verify
  that by looking at the volume column.
</p>

<p>
  Let’s take a deeper look at some of the more important columns and how to
  internet them:
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px; width: 80%"
    src="assets/blogs/21-3.png"
    alt="Options Flow"
  />
</div>

<p>
  Here we filtered for NVDA activity. Notice how it is type Sweep and the
  premium is near half a million dollars. In this case it’s puts with a strike
  price of $450 at a time when the spot price was $460, so $10 below the current
  market price. This is a bearish trade with expiration date Dec 15 2023, so
  they definitely have themselves time for NVDA to move down. The other
  important column to take note of is the At Bid price. This means it occurred
  at the bid price, the buyers price, not the sellers price.
</p>

<h3>
  <a
    href="https://app.xtrades.net/shop/item/4a551ebb-8c26-43bf-b06e-21bb8362bdad"
    target="_blank"
    >GET A FREE XTRADES SCAN NOW!</a
  >
</h3>

<p>
  Think about it, if a transaction happens at the asking price, the seller
  dictated the terms, so it happened at the highest possible price. Conversely
  if the buyer is in control, then it happened at the lowest possible price.
  This gives us an idea as to the conviction and aggressivity of the trade. So
  the puts were there for the taking which means puts are out of favor at
  present, so not a lot of conviction. That’s in line with the current bullish
  sentiment on the top left.
</p>

<p>Now let’s look at this bunch over here:</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px; width: 80%"
    src="assets/blogs/21-4.png"
    alt="Options Flow"
  />
</div>

<p>
  In this case we can see that while the spot price for NVDA was $459.52, there
  was a large Sweep trade for $156k for $460 calls expiring March 2024! This was
  also traded AT ASK which means they paid the sellers price, quite aggressive.
  Someone was really interested in getting those call contracts. This indicates
  quite the bullish move or momentum which is a good indicator of someone’s
  conviction.
</p>

<h3>
  <a
    href="https://app.xtrades.net/shop/item/4027dbc0-02e4-479c-9897-f747319c1a85"
    target="_blank"
    >GET AN XTRADE PREMIUM INDICATOR!</a
  >
</h3>

<p>Ok so you identify a contract that has a lot of movement, now what?!</p>

<p>Well let’s go verify some of this info:</p>

<ol style="list-style-position: inside; padding-left: 0">
  <li style="margin-bottom: 30px">
    Options Chain: Volume & Open Interest
    <div class="flex center">
      <img
        style="margin: 0 auto; margin-top: 10px; width: 80%"
        src="assets/blogs/21-5.png"
        alt="Options Chain"
      />
    </div>
    <p>There is a large open interest for that strike and expiry.</p>
  </li>
  <li style="margin-bottom: 30px">
    Options Chain: Time & Sales
    <div class="flex center">
      <img
        style="margin: 0 auto; margin-top: 10px; width: 80%"
        src="assets/blogs/21-6.png"
        alt="Options Chain"
      />
    </div>
    <div class="flex center">
      <img
        style="margin: 0 auto; margin-top: 10px; width: 80%"
        src="assets/blogs/21-7.png"
        alt="Options Chain"
      />
    </div>
    <p>
      Using the filter in the time & sales options section (ThinkorSwim) you can
      see that there was indeed some large trading at that strike and expiry. In
      this case the largest trade was for 161 contracts. Of the volume traded,
      which was 738, 161 were filled in one transaction, that’s 22% of all
      trades. That's quite large for 1 contract. However, you then notice.
      Towards the right that they were part of a spread condition, which means
      its not speculative but rather a hedging strategy. This might not be as
      bullish because, if you think about it, if they were just naked calls, it
      means someone is willing to risk a lot of money on that trade. However, as
      a hedge its less bullish because someone is simply covering an opposite
      position.
    </p>
  </li>
  <li style="margin-bottom: 30px">
    Technical Chart
    <div class="flex center">
      <img
        style="margin: 0 auto; margin-top: 10px; width: 80%"
        src="assets/blogs/21-8.png"
        alt="Technical Chart"
      />
    </div>
    <p>
      Price action is showing a resistance to that downtrend line plus the 50
      sma converging on the 100 sma which is not all that bullish. The RSI is
      also trending lower along with price action (in other words, no
      divergence) and seems to be losing steam. Volume isn't helping either
      since it doesn’t seem to be increasing; if anything it's flat to slightly
      downwards.
    </p>
  </li>
  <li style="margin-bottom: 30px">
    In this case it doesn’t seem that options flow is consistent with other
    data. Remember, don’t just go all in on one indicator (Check out our Xtrades
    Custom Indicators
    <a
      href="https://app.xtrades.net/shop/item/8ceba4bc-dcb1-45eb-5fd2-08daf345fbd5"
      target="_blank"
      >here</a
    >). Always try to line up more ducks in order to get a more solid
    confirmation. In this case because the expiry is far out, I would take 1
    contract as a lotto or wait for it to break above that downtrend line.
  </li>
</ol>

<h3>
  <a href="https://app.xtrades.net/?modal=signup" target="_blank"
    >SIGN UP FOR XTRADES FREE TRIAL!</a
  >
</h3>



<section class="faq responsive-main-container column">
  <app-hero class="faq__hero">
    <h2 class="faq__main" data-aos="fade-up">
      Frequently <span class="faq__hero-detail">Asked</span> Questions
    </h2>
  </app-hero>
  <div
    class="faq__questions column cursor-pointer"
    *ngFor="let item of faqs; let i = index"
    [attr.data-index]="i"
    appToggle
  >
    <app-hero class="faq__article-hero" data-aos="fade-up">
      <div class="flex space-between">
        <div class="faq__article-main">
          {{ item.question }}
        </div>
        <button
          aria-label="Toggle FAQ"
          class="faq__toggle-button cursor-pointer"
        ></button>
      </div>
      <div class="faq__article-description description" description [innerHTML]="item.answer">
        <!-- {{ item.answer }} -->
      </div>
    </app-hero>
    <app-separator></app-separator>
  </div>
</section>