Quick Terminology Check for New Traders
Stock Terms SS - Short Sale Blue Chip - Large Companies, Usually $50BN+ in Size 

OTC - Over the counter, shit stocks, penny stocks that are not registered Support - Where there is more buying Resistance - Where there is more selling 

SL - Stop Loss 

VWAP - Volume weighted average price 

MACD - Moving Average Convergence Divergence 

RSI - Relative Strength Index 

EMA - Exponential Moving Average 

MA - Moving average 

PT - Price Target
Stock and Options Terms 

BTO - Buy to Open 

STC - Sell to Close 

STO - Sell to Open 

BTC - Buy to Close
Options Terms Expiration Date
The date in which my contract will become worthless if not exercised by (Why Options are Higher Risk and Reward) Strike Price - The price in which I can buy or sell the stock if I choose to exercise my contract
Example: BTO AAPL 320C 07/10 This means buy to open call options (C stands for calls), on AAPL stock, at $320 strike price, expiring July, 10, 2020.
STC AMZN 3000P 07/17 This means sell to close put options (P stands for puts) on AMZN stock, at $3000 strike price, expiring July, 17, 2020.
Every options contract is determined by 3 pieces of information, the underlying stock (in this case AAPL), the strike price, and the expiration date.