<section class="news responsive-main-container column">
    <app-hero class="news__hero">
        <div class="news__main header-1" data-aos="fade-up">
            News
        </div>
        <div class="news__description description center" description>
            Get to Know Xtrades
        </div>
    </app-hero>
    <div class="news__cards cards flex">
        <div class="column" data-aos="fade-up">
            <img lazy src="assets/news-1.webp" alt="Xtrades Edge" width="614" height="393" />
            <app-label [label]="'Top News'"></app-label>
            <app-hero class="news__article-hero left">
                <div class="news__article-main header-1">
                    How Do Alerts Work ?
                </div>
                <div class="news__article-description description" description>
                    Xtrades presents a platform for traders to build a reputation amongst the community by tracking
                    their trade alerts. The most effective traders are then provided a spotlight in the community
                    and given priority viewing of their trades.
                </div>
            </app-hero>
        </div>
        <div class="column" data-aos="fade-up">
            <img lazy src="assets/news-2.webp" alt="Xtrades Edge" width="614" height="393" />

            <app-label [label]="'Other News'"></app-label>
            <app-hero class="news__article-hero left">
                <div class="news__article-main header-1">
                    Shared Technical Analysis
                </div>
                <div class="news__article-description description" description>
                    We allow traders to share a variety of Technical Analysis concepts in the Discord and our app
                    through content creations like Video Lessons, Courses, and our visualization features.
                </div>
            </app-hero>
        </div>
        <div class="column" data-aos="fade-up">
            <img lazy src="assets/news-3.webp" alt="Xtrades Edge" width="614" height="393" />

            <app-label [label]="'Interesting'"></app-label>
            <app-hero class="news__article-hero">
                <div class="news__article-main header-1">
                    Optimized for Collaboration
                </div>
                <div class="news__article-description description" description>
                    Receive hyper custom alerts from any type of trader you want from our platform, and also isolate
                    singular traders to receive custom Push Notifications of your liking. All of our features are
                    built towards incentivizing the best of the best to come on our platform and share their
                    knowledge.
                </div>
            </app-hero>
        </div>
    </div>
</section>