<div class="newsroom column">
  <div class="newsroom__header header header-1 header-1-gradient-overlay px-2" data-aos="fade-up">Newsroom</div>
  <div class="card__title header-2" data-aos="fade-up"></div>

  <div class="column responsive-main-container newsroom">
      <app-blog-card *ngFor="let blogPost of blogPosts" [id]="blogPost.id" (goToBlogPost)="goToBlogPost($event)" [blogPost]="blogPost"></app-blog-card>
  </div>
</div>
<app-modal [id]="'mailing-modal'" class="modal">
    <div class="column newsroom__mailing-list">
      <app-mailing-list></app-mailing-list>
    </div>
</app-modal>