<h1 class="card__title header-2 pt-6 center" data-aos="fade-up">
  Why People Trade Penny Stocks and How to Get Started
</h1>
<h2>
  Trading AI penny stocks, cannabis penny stocks, and biotech penny stocks can
  be risky, but lucrative if you know what you’re doing
</h2>
<div class="blog-card__post-header pb-4 center flex space-between px-2">
  <div>04.12.2023</div>
</div>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/24/coins.jpg"
    alt="Coins"
  />
</div>
<p style="text-align: center; font-style: italic">
  Image by
  <a
    href="https://pixabay.com/users/olichel-529835/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=912718"
    target="_blank"
    >Olya Adamovich</a
  >
  from
  <a
    href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=912718"
    target="_blank"
    >Pixabay</a
  >
</p>
<p style="margin-top: 50px">By Omar G @ Xtrades</p>

<p>
  When people new to stock trading come to
  <a href="https://xtrades.net/" target="_blank">Xtrades</a>, a growing
  community of stocks and options traders, they're often looking for information
  about penny stocks.
</p>

<p>
  Penny stocks, in case you aren't familiar, are typically stocks for companies
  that have a low valuation or companies whose fortunes have fallen on hard
  times. The stocks might be trading for less than a dollar a share, or even
  fractions of a penny in extreme cases.
</p>

<p>
  If the stock is listed on a big exchange like NASDAQ and it stays under a
  price of $1 a share for too long, it can be de-listed. Companies with stock
  that languishes at under a penny a share sometimes end up on OTC
  (Over-the-Counter) exchanges. These stocks can be risky to share and some
  brokerages add fees to trading them that amateur traders might not even be
  aware are being charged to their account.
</p>

<p>
  At Xtrades, many traders don't ignore penny stocks in favor of stocks from
  more valuable companies such as Tesla (TSLA) or Apple (APPL). There are
  <a
    href="https://www.xtrades.net/blogs/xtrades-and-penny-stock-alerts"
    target="_blank"
    >some real advantages</a
  >
  to trading penny stocks, even though the risk can be higher.
</p>

<p>
  As Kevin Wan, the founder of Xtrades, says that penny stocks are a good way
  for inexperienced traders to get their feet wet and start learning how to
  trade, "People are drawn to instant gratification and penny stocks can be a
  provider for this. It is a more active form of playing the markets.
</p>

<p style="text-align: center; font-style: italic">
  "I think penny stocks are a great way for traders to learn the markets,
  understand things through the lens of volume and on a shorter time frame,
  without the complexities of things like expiration date, or time decay of
  trading options."
</p>

<p>
  Buying stock in a company just means owning a share of that company, whether
  it's Tesla or Apple or a much-smaller startup, but there are different types
  of stocks and they vary in price, voting rights and dividends, the payouts
  that companies make to shareholders when they're successful.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/24/bars.png"
    alt="Bar chart"
  />
</div>

<p style="text-align: center; font-style: italic">
  Mullen Automotive, Inc. (MULN) is an example of a penny stock that is popular
  with traders. (Image: TradingView)
</p>

<p>
  Penny stocks in sectors including artificial intelligence, where there are
  literally hundreds of new companies emerging in this hot technology area;
  cannabis, in which a huge industry is being built as legalization efforts
  continue; and biotech, which can include medical-device and pharmaceutical
  firms; can be exciting to trade. Some of the reasons why include:
</p>

<ul>
  <li>
    <b>Volatility</b>. Unlike large-cap stocks, a news announcement or earnings
    report can cause a penny stock to double or triple its value in one trading
    day. Of course, that risk goes both ways; an investment in a penny stock can
    become worthless overnight. Because these stocks trade in much lower volumes
    than higher-cap stocks, a few large transactions can move the stock sharply
    up or down. That also means an individual trader or a small group of them
    can also manipulate these stocks for their own gains.
  </li>
  <li>
    <b>Low barrier to entry</b>. You may not have hundreds of dollars to invest
    in Nvidia and don't want to buy fractional shares of a stock, which some
    brokers offer. With penny stocks, you might be able to buy hundreds of
    shares of a stock for less than $50.
  </li>
  <li>
    <b>Getting in early</b>. Some penny stocks belong to companies that are just
    starting. For an emerging industry like AI, you might get lucky and find
    some startups that have a lot of potential. While lots of penny stocks are
    traded short-term as day trades, some traders hold on to penny stocks
    longer-term as a low-cost bet on future growth.
  </li>
</ul>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/24/alert.png"
    alt="Discord alert screenshot"
  />
</div>

<p style="text-align: center; font-style: italic">
  Xtrades analyst Mrmofficial recently issued entry and exit alerts for a penny
  stock that had an 11-percent gain in about 10 minutes. The volatility of penny
  stocks makes them ideal for quick day trades. Image: Xtrades
</p>

<p>
  Traders who decide they want to play in penny stocks have a lot of websites
  and tools to choose from, but it's hard to figure out what stocks are worth
  buying and even harder to decide when to enter or exit a trade.
</p>

<p>
  Xtrades has built a
  <a href="https://discord.com/invite/xtrades" target="_blank"
    >successful Discord server</a
  >
  and
  <a href="https://app.xtrades.net/" target="_blank">web + mobile app</a> around
  the knowledge of its analysts and its big community of traders.
</p>

<p>
  Experts such as Xtrades analyst Bahamut regularly post alerts on Xtrades,
  letting members know the best time to enter a new penny-stock trade, and even
  more importantly, when to get out of a trade to maximize profit and avoid
  losses. Bahamut says that traders who follow penny stocks look for
  recognizable chart patterns; when enough traders are drawn to a penny stock,
  that creates volume, which can drive up its price.
</p>

<p>
  But product announcements and other company milestones can also help. "Volume
  usually comes in on stocks that are releasing news, whether it is quarterly
  earnings or other filings, or other catalysts such as FDA approvals, for
  example," he says. "This sets the stage for quality penny stock day trades."
</p>

<p>
  Chart patterns that may take longer to play out can make penny stocks
  appropriate for swing trades, or trades that are held longer than a day.
  Those, he says, can net 20 to 50-percent gains.
</p>

<p>
  To choose what stocks to pick, Bahamut says he relies on tools including
  <a href="https://www.benzinga.com/" target="_blank">Benzinga</a> in premarket
  trading and <a href="https://finviz.com/" target="_blank">Finviz</a> for
  intraday trading for their screeners and scanners. He uses filters that
  measure things like float (how many shares are available for the public to
  trade), market cap and volatility.
</p>

<p>
  "At that point," he says, "your list should be narrowed down heavily and you
  can analyze each option on your charting software." Charting software can
  include visual indicators that can help track buying and selling trends over
  time, volume, and other information that advanced traders use.
</p>

<p>
  Bahamut says that new traders tackling penny stocks should "Trade lightly and
  carefully. Volatility is high, and adjusting to a new trading strategy takes
  time and patience. Focus on your process and don't overthink the results. Find
  out what works for you and perfect it, using that strategy up until it no
  longer works."
</p>
