<h1 class="card__title header-2 pt-6 center" data-aos="fade-up">
  You want to trade stocks but don't know where to start
</h1>
<h2>We can help get you going on your trading journey</h2>
<div class="blog-card__post-header pb-4 center flex space-between px-2">
  <div>01.12.2023</div>
</div>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/23/success.jpg"
    alt="Trader celebrating the success"
  />
</div>
<p style="text-align: center; font-style: italic">
  Photo by
  <a
    href="https://www.pexels.com/photo/a-businessman-raising-his-hands-for-being-successful-7567565/"
    target="_blank"
    >Tima Miroshnichenko</a
  >
</p>
<p>
  By
  <a href="https://app.xtrades.net/coupon/d05oXywq" target="_blank"
    >Omar G @ Xtrades</a
  >
</p>

<p>
  Stock-trading apps have been around almost as long as smartphones, but during
  the 2000 coronavirus pandemic, when people were stuck at home in lockdown,
  trading stocks with them became hugely popular. More people wanted to begin
  taking control of their financial future; a bull market and availability of
  no-commision stock-trading services made it even more attractive, especially
  for beginner day trading.
</p>

<p>
  Maybe you sat out the rush to get into the stock market or you didn't have the
  funds at the time to think about investing, but if you're curious now and want
  to learn stock market trading or or even trading stock options for beginners.
  <a href="http://xtrades.net" target="_blank">Xtrades</a> has been
  <a
    href="https://www.xtrades.net/blogs/how-to-start-stock-training"
    target="_blank"
    >at the forefront of educating new traders</a
  >
  and building a community around knowledgeable analysts since before that
  pandemic surge of new traders. We have some thoughts on how you can get up and
  running and start your trading journey.
</p>
<h2>What you need first</h2>

<p>
  It might seem obvious, but the first things you need to start stock trading
  are money, time, and a broker to execute your trades.
</p>

<p>
  The great news is you don't need a lot of money. Some brokerage firms offer
  promo deals, including free stocks, just for signing up. You can get your feet
  wet for as little as $20 to $50 by investing in stocks that don't cost much.
  There are lots of ways to use that money, from basic trading stocks, options
  and futures, to complex strategies that involve selling derivatives or betting
  against a company's fortunes on the stock market, but to start, you'll want to
  have an understanding of basic stock trading (also known as "equities").
</p>

<p>
  Buying stock in a company just means owning a share of that company, whether
  it's Tesla or Apple or a much-smaller startup, but there are different types
  of stocks and they vary in price, voting rights and dividends, the payouts
  that companies make to shareholders when they're successful.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/23/woman-with-phone.jpg"
    alt="Woman looking at the phone"
  />
</div>

<p style="text-align: center; font-style: italic">
  Photo by
  <a
    href="https://www.pexels.com/photo/crop-ethnic-trader-with-smartphone-and-laptop-on-bench-indoors-6347720/"
    target="_blank"
    >Liza Summer</a
  >
</p>

<p>
  You don't need a big investment to start buying and trading these shares, or
  fractions of these shares, but you will need time. You'll want to learn some
  of the basics of how stocks work and to gain some fundamental skills that will
  help keep you from losing the money you're investing. The most successful
  traders we've encountered take the time to learn about the companies they're
  trading and carefully study the movement of stocks with charting software
  (we'll get to that) and indicator tools that help alert them to shifts and
  trends in the stock market.
</p>

<p>
  Lastly, you'll need to choose a broker, or multiple brokers, that can execute
  your trades. Some of the most well-known brokers include TD Ameritrade,
  Robinhood, Fidelity, and Charles Schwab. A broker you sign up with will
  typically ask for verification of your identity, your level of experience as a
  trader and whether you want a cash, margin or long-term investment account
  such as an IRA.
</p>

<h3>Types of broker accounts</h3>

<p>
  Some brokerages allow you to open up multiple accounts or to switch from cash
  to margin if you change your mind later.
</p>

<ul>
  <li>
    A cash account allows you to trade with whatever funds you have in your
    account, but there are some drawbacks. When you buy and then sell a stock,
    you have to wait for funds from the sale to settle before you can use that
    money to buy more stocks. It usually takes two trading days for funds to
    settle.
  </li>
  <li>
    A margin account gives you a little more flexibility; you're basically
    borrowing funds on credit, so you have more buying power and you don't have
    to wait for funds to settle before you can trade again. But margin's not
    free: you have to pay interest fees and if you incur enough losses, the
    brokerage can sell stocks in your account or ask you to deposit more money
    to meet a certain threshold. Another disadvantage for margin accounts: day
    trading is much more limited unless you have more than $25,000 in your
    account. If you don't, you're limited to three day trades (buying and
    selling a stock or option in the same day) within five business days.<br />If
    you go over those three trades, your account can be flagged and you can be
    put in a trading time-out for 90 days. Cash accounts don't have that
    day-trading limit.
  </li>
  <li>
    IRA or custodial accounts (if you wanted to start accounts for your kids,
    for instance) are used for long-term investments; there may be penalties for
    withdrawing funds early. But at a lot of brokerages, they work just like
    cash or margin accounts; you can execute the same types of trades and even
    trade cryptocurrency.
  </li>
</ul>

<h3>Getting educated about stocks</h3>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/23/education.jpg"
    alt="Education process"
  />
</div>

<p style="text-align: center; font-style: italic">
  Photo by
  <a
    href="https://www.pexels.com/photo/person-using-black-laptop-on-table-7948012/"
    target="_blank"
    >RDNE Stock project</a
  >
</p>

<p>
  We might be a little biased, but we feel that Xtrades is one of the best
  places online to learn about trading stocks and, particularly, options, which
  are extremely popular
  <a href="http://app.xtrades.net" target="_blank">in our app</a> and on
  <a href="https://discord.gg/8m9a2aQS">our Discord server</a>.
</p>

<p>
  Xtrades offers educational channels on the Discord, a
  <a href="https://www.youtube.com/channel/UCeBZOV6oK_4dAOaQCaDnidg"
    >YouTube channel</a
  >
  with lots of videos on trading strategies, and blog posts like this one. The
  day-to-day discussion that goes on in these venues, plus the alerts put out by
  analysts, staffers, and members are good ways to immerse yourself in the
  culture and best practices of stock and options traders.
</p>

<p>
  Unlike some things in life, with stock trading it's not always best to just
  dive in and learn by doing. That's a good way to lose all the money in your
  account before you even know what you're doing. Because you have actual money
  at stake, you'll want to at least understand the basics of stock trading
  before you start risking funds you'd like to keep.
</p>

<p>
  Your broker will have built-in charting tools and software. Study the price
  movements of stocks you're interested in. Is the stock trending upward
  long-term? Does it tend to spike in the mornings when the market opens? More
  advanced traders use dedicated chart software such as
  <a href="http://tradingview.com" target="_blank">TradingView</a> that can
  incorporate lots of advanced tools for tracking the stock market. You can get
  a good Black Friday deal on TradingView's services every year.
</p>

<p>
  One good way to learn how to trade without financial risk is called "Paper
  trading." Lots of brokers allow you to create a paper trading account that
  allows you to trade virtually: you can buy and sell to your heart's content,
  but you're not using real money; the trades and the funds are virtual. Paper
  trading is a good way to see if strategies your learning would actually play
  out and to start learning more advanced trading such as options without the
  huge risk involved of committing money before you really know what you're
  doing. We do not recommend trading options before you have a fundamental
  understanding of common stock trading.
</p>

<h3>Advice from the top</h3>
<p>
  Xtrades founder Kevin Wan says that new traders can get a head start on
  success by keeping a few things in mind:
</p>

<ul>
  <li>
    <b>Keep emotions in check.</b> "I think a lot of beginner traders make
    consecutive mistakes due to emotional reaction to losses or inability to
    accept a loss and move onto the next trade," Wan says.
  </li>
  <li>
    <b>See the big picture.</b> New, inexperienced traders may only be focused
    on one or two stocks and unable to play the law of numbers by having a
    larger sample of trades play out in their favor. "Most beginner traders fall
    victim to focusing too hard on their current results instead of focusing on
    finding a consistent, applicable, and repeatable strategy that works for
    them, and can outlast the market's irrationality," Wan says.
  </li>
  <li>
    <b>Be more selective.</b> Wan says, "I think traders would benefit greatly
    if, out of any 10 to 20 trade opportunities they see, be able to pick and
    choose just 1 or 2 out of that selection and only take those trades.
    Practice trade selection and focus on getting better and sharper at
    developing strategies around this when you're starting."
  </li>
</ul>

<p>
  Trading stocks can be financially rewarding and lots of fun. Be careful not to
  trade more money than you are willing to risk losing, learn the fundamentals,
  and find a community like Xtrades to help you on your journey. "
</p>
