@import "../../../../styles/mixins";
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.nav {
    min-width: 300px;
    width: 100%;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    min-height: 140px;
    height: 100%;
}

.tabs__router {
    margin: 0 1em 1em 1em;
}

.button {
    --button-detail: #9e38ff;
    font-family: "Press Start 2P", cursive;
    text-transform: uppercase;
    background: none;
    color: inherit;
    display: block;
    border: none;
    width: 100%;
    text-decoration: none;
    background: #050810;
    border: 1px solid var(--button-detail);
    border-radius: 6px;
    padding: 15px 20px 15px 40px;
    margin-bottom: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
    font-weight: 700;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button:hover, .active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--button-detail);
    border-bottom: solid 8px var(--button-detail);
}
