<footer class="footer">
  <div class="wrapper">
    <div class="mail-box">
      <h6 class="title">Join Our Mailing List</h6>
      <div class="mail-box-input-wrapper">
        <app-mailing-list-new
          [width]="'680px'"
          [height]="'67px'"
          [buttonWidth]="'120px'"
          [buttonBackground]="'url(assets/blogs/send-bg.svg)'"
          [buttonText]="'SEND'"
        ></app-mailing-list-new>
        <h3 class="success-message" *ngIf="isSubscribed">
          You've already subscribed. Thanks!
        </h3>
      </div>
    </div>
    <div class="links-wrapper">
      <div class="link-wrapper">
        <span>Billing & General Support</span>
        <b>
          <a href="mailto:hello@xtrades.net">hello@xtrades.net</a>
        </b>
      </div>
      <div class="link-wrapper">
        <span>Los Angeles, CA 90028</span>
        <b>
          <a href="tel:1-530-723-5499">1-530-723-5499</a>
        </b>
      </div>
      <button class="link-wrapper" (click)="navigate('/terms-and-conditions')">
        Terms & Conditions
      </button>
      <button class="link-wrapper" (click)="navigate('/refund-policy')">
        Refund Policy
      </button>
      <button class="link-wrapper" (click)="navigate('/privacy-policy')">
        Privacy Policy
      </button>
    </div>
    <app-disclaimer></app-disclaimer>
    <div class="copyright-wrapper">
      <span>© Copyright 2024 - Xtrades. All rights reserved.</span>
      <div class="social">
        <a href="https://www.facebook.com/xtrades/" target="_blank"
          ><img src="assets/pro-algo/fb.svg" alt="fb"
        /></a>
        <a href="https://twitter.com/xtradesofficial?lang=en" target="_blank"
          ><img src="assets/pro-algo/twt.svg" alt="tw"
        /></a>
        <a
          href="https://www.instagram.com/accounts/login/?next=/xtradesofficial/"
          target="_blank"
          ><img src="assets/pro-algo/ig.svg" alt="ig"
        /></a>
        <a
          href="https://www.linkedin.com/company/xtrades-net/about/"
          target="_blank"
          ><img src="assets/pro-algo/ln.svg" alt="ln"
        /></a>
      </div>
    </div>
  </div>
</footer>
