@import "../../../../../styles/vars";

.icon-card-roadmap {
    // background: rgba(206, 215, 243, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 15px;
    z-index: 0;

    position: relative;

    @media (max-width: $lg) {
        padding: 15px 0;
    }
}

.icon-card-roadmap::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 25%;
    left: 0;
    height: 100%;
    z-index: -1000;
    // border-top: 1px solid;
    // border-bottom: 1px solid;
    // border-left: 1px solid;
    // border-color: #CED7F3;
}

.icon-card-roadmap::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 15%;
    right: 0;
    height: 100%;
    z-index: -1000;
    // border-top: 1px solid #CED7F3;
    // border-right: 1px solid #CED7F3;
    // border-bottom: 1px solid #CED7F3;
}
