@import "../../../../../styles/vars";

.icon-card-roadmap {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 15px;
    z-index: 0;

    position: relative;

    @media (max-width: $lg) {
        padding: 15px 0;
    }
}
