<div class="card__title header-2 pt-6 center" data-aos="fade-up">
  How do Penny Stocks Differ from Normal Stocks?
</div>
<div class="blog-card__post-header pb-6 center flex space-between px-2">
  <div>02.11.2023</div>
</div>

<p>
  When we talk about penny stocks, we are generally referring to stocks with a
  very small market cap. What is market capitalization? It is essentially the $
  value per share multiplied by the total number of shares that a company
  consists of. Penny stocks are usually sitting around $5M - $50M market cap
  which allows for it to be easily manipulated. Usually it’s a hedge fund, or a
  financial institution of some sort that has been accumulating the supply of
  these stocks before they’ve finally cornered the supply enough to make the
  books thin and easy to pump. Think of a whale moving the waves and the little
  fishes (retail) trying to hop on to get a piece of that wave before it
  crashes. That’s what penny stock trading is about.
</p>

<p>
  Normal stocks have much less movement - this is why instead of trading actual
  normal shares of stocks like Apple or Tesla, you have traders trading the
  options contracts for these assets. You get more volatility for less of a
  price movement. Penny stocks however are not optionable - the reason being is
  that they are simply not volume heavy or have enough money flowing through
  them to need <a href="http://discord.gg/xtrades" target="_blank">Options</a>.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; width: 50%"
    src="../../../../assets/blogs/20/20-1.png"
    alt="Xrtrades Icon"
  />
</div>

<p>
  Now, why are people so attracted to trading penny stocks? This is a good
  question - it’s because penny stocks are more of a short term game. People are
  drawn to instant gratification and penny stocks can be a provider for this. It
  is a more active form of playing the markets. You wake up in the morning,
  check the chat, check the charts and make a semi-informed decision on what
  trade will go up the most today. In a sense, some can say it’s a form of
  betting with a slight edge if you know what you are doing.
</p>

<p>
  There’s also a simplicity factor when it comes to trading penny stocks - you
  don’t really need to learn about complexities like expiration date, theta,
  strike price and the things that come with Options trading. This is what makes
  penny stocks appealing - you just look for the highest gainers of each day and
  watch those assets for potential trades. Buy the shares and sell the shares
  for profit - simple.
</p>

<p>
  Usually the most desirable penny stocks to trade are apart of the NASDAQ
  market, but once in a while you get some good trades in OTC stocks. For the
  most part, it’s seasonal, and OTC stocks are only worth trading once in a blue
  moon, but it definitely happens. The trading style amongst OTC stocks is much
  different than NASDAQ’s - this is generally because larger institutions are
  much more reluctant to trade OTC’s so it’s usually a more fair fight in OTC’s
  when it comes to asset movement. On top of this, OTC”s are on the verge of
  bankruptcy, which creates a secondary fear that prevents people from
  participating.
</p>
