<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/25/mountains.jpg"
    alt="Mountain view"
  />
</div>
<a
  class="author"
  href="https://www.pexels.com/photo/brown-wooden-swing-on-green-grass-field-near-mountains-3933874/"
  target="_blank"
  >Photo by Tatiana Syrikova</a
>
<p>
  Day trading gets a lot of attention when people talk about the stock market.
  The idea of buying and selling stocks and options quickly and making profits
  every day sounds exciting and appealing. But the vast majority of traders,
  whether they're individuals using stock apps, retirement savers, or
  institutional fund investors, are doing what's called "<a
    href="https://www.xtrades.net/blogs/why-swing-trading"
    target="_blank"
    >Swing trading</a
  >". Swing trading is a big, general term for any trade held for more than the
  same day.
</p>

<p>
  But within that huge amount of trading happening, there's a lot of nuance. A
  swing trade could be an option bought at the end of the trading session with
  the intent to sell it as soon as the market opens the next day. A swing trade
  could be a stock bought on a dip after a disastrous earnings call with the
  intent to sell that same stock in a few days when it's had time to rebound and
  pick up some lost ground.
</p>

<p>
  At <a href="http://xtrades.net" target="_blank">Xtrades</a>, a big chunk of
  the discussion and alerts posted in our app and on our Discord server revolve
  around swing trading. Analysts, staffers, and members of Xtrades discuss
  strategies for swing trades based on macro market trends, company
  fundamentals, technical analysis of charts for these companies, and lots of
  other factors.
</p>

<p>
  The beauty of swing trades is often that it gives traders more time to be
  strategic and to patiently watch their plays work out over a period of days,
  weeks, months, or even years.
</p>

<h3>Why swing trade?</h3>

<ul>
  <li>
    <b>Bag holding</b>. That's the term traders use for holding on to a stock
    that has gone down and which has yet to rebound. Day traders typically get
    rid of all their holdings at the end of each day; swing traders might get
    stuck with a losing position for weeks or months, and still might end up
    selling at a loss. Not having an exit strategy for trading is one of the
    biggest causes of bag holding for swing traders and many traders simply
    can't accept even a small loss and will wait in hopes of an eventual payday.
    (We don't advise that.)
  </li>
  <li>
    <b>Missing a stop loss</b>. A stop loss is a trade that triggers when a
    stock reaches a particular low point set by the trader. It can save a trader
    from even bigger losses and acts as a safety net. Unfortunately, stop-loss
    trades don't typically trigger through most brokers during premarket or
    post-market sessions. So a swing trader who has overnight or long-term
    trades might incur big losses if a giant drop happens outside of normal
    market hours.
  </li>
  <li>
    <b>Overtrading</b>. Some swing traders get impatient waiting for their
    stocks to hit their targets. So they trade more stocks. And then they trade
    even more. Pretty soon, their list of positions is a mile long and they have
    trouble managing so many trades effectively. A varied portfolio of short-
    and long-term plays can be great, but managing too many stocks and options
    can be stressful and can lead to unfocused, careless decisions.
  </li>
</ul>

<h3>Strategies for making the most of your swings</h3>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/25/buy-hold-sell.jpg"
    alt="Buy-hold-sell paper stickers"
  />
</div>

<a
  class="author"
  href="https://www.pexels.com/photo/business-paper-finance-decision-6801651/"
  target="_blank"
  >Photo by Anna Nekrashevich</a
>

<p>
  <a href="https://app.xtrades.net/profile/daniels_xt">DanielS</a>, an analyst
  and frequent alert contributor at Xtrades, says his best advice to new traders
  who want to swing stocks is "Start small." That means not putting too much
  money into any one stock (we call it "position sizing") and, as he says,
  "Protect your capital at all costs."
</p>

<p>
  Expecting massive overnight gains on swing trades also exposes you to the
  potential for big overnight losses, so manage your risk and, at least at
  first, keep your targets modest.
</p>

<p>
  Swing trading, DanielS says, is, "Very dependent on the current trend and
  chart patterns." That means educating yourself on how technical charting works
  for stocks and staying abreast of whether the market, the sector or even just
  the stock ticker you're following are on an upswing or downswing.
</p>

<p>
  One tool that more swing traders should use is paper trading. As we
  <a
    href="https://medium.com/@XtradesTrading/you-want-to-trade-stocks-but-dont-know-where-to-start-36ec627f428c"
    target="_blank"
    >explained in a previous post</a
  >, paper trading allows you to trade virtually without using real money. It's
  a good way to test out strategies without risking your funds. "I highly
  recommend it," DanielS says, "After you are comfortable and profitable from
  paper trading, start small with real money. There's no shame in buying just
  1-2 shares of a company when you are starting out."
</p>
