Inviting
Invite Links
Users will be able to generate links to the Application that give them credit for doing so. These links will look something like.
(Optional): Allow the user to create their own 8 digit custom code
App.Xtrades.net/invite/12345678
Compensation information should be viewable inside of a user’s settings or Xbits Tab, and also viewable in the admin panel in Xbits related transactions




User Invite Rewards
When invite counts reach the below (while passing our invite quality check), you will receive increases to all compensation types
150 increase by 1%
500 increase by 1%
1000 increase by 2%
Compensation Types: 

12% of Lifetime Membership Spendings by User Until Cancelled 

7% of all Xhub Spendings, 

5% of Coaching, Questions, and other Misc Spendings




Later On:
User Onboarding Rewards (Free Mentor Feature)
In the New Trialists’ settings, they will see an area that allows them to know information about their Onboarder, and the time left with their free mentor etc. There will be a button there that allows them to sign up under you. If they choose to sign up under you by this button or by adding your name in the referral blank during sign up, you will receive:
15% of Lifetime Membership Spendings for User 7% of all Xhub Spendings 5% of Coaching Questions and other Misc spendings
These percentages can be increased by gaining more active subscribers on the team.
Tiers
50 Increase by 1%
100 increase by 1%
300 increase by 1%
500 increase by 2%