<div
  class="wrap"
  style="position: relative"
  [ngStyle]="
    backgroundColor
      ? { 'background-color': backgroundColor }
      : { 'background-color': 'transparent' }
  "
>
  <section class="footer responsive-main-container column">
    <div class="email" *ngIf="withEmail">
      <div class="title">Join Our Mailing List</div>
      <app-mailing-list-new
        [width]="'680px'"
        [height]="'67px'"
        [buttonWidth]="'120px'"
        [theme]="'dark-theme'"
        [buttonText]="'SEND'"
      ></app-mailing-list-new>
    </div>
    <app-separator *ngIf="withEmail" [width]="'960px'"></app-separator>
    <div class="footer__cards cards flex">
      <app-hero class="footer__article-hero left">
        <div class="footer__article-main header-1">
          <div class="footer__hero-detail">Billing & General Support</div>
          <a class="link cursor-pointer" href="mailto:hello@xtrades.net"
            >hello@xtrades.net</a
          >
          <div class="footer__hero-detail padding-top cursor-pointer">
            <a class="link cursor-pointer" href="http://xtrades.net"
              ><span>Xtrades</span></a
            >
          </div>

          <div class="footer__hero-detail">Los Angeles, CA 90028</div>
          <a class="link cursor-pointer" href="tel:15307235499"
            >1-530-723-5499</a
          >
        </div>
        <div class="footer__images-container social-links">
          <div class="footer__image-wrapper1 flex center">
            <a target="_blank" href="https://www.facebook.com/xtrades/"
              ><img
                lazy
                src="/assets/facebook.svg"
                class="footer__image"
                alt="Facebook"
                width="44"
                height="40"
            /></a>
          </div>
          &nbsp;
          <div class="footer__image-wrapper1 flex center">
            <a
              target="_blank"
              href="https://www.instagram.com/accounts/login/?next=/xtradesofficial/"
              ><img
                lazy
                src="/assets/instagram.png"
                class="footer__image"
                alt="Instagram"
                width="40"
                height="40"
            /></a>
          </div>
          &nbsp;
          <div class="footer__image-wrapper1 flex center">
            <a
              target="_blank"
              href="https://www.youtube.com/channel/UCeBZOV6oK_4dAOaQCaDnidg"
              ><img
                lazy
                src="/assets/youtube.svg"
                class="footer__image"
                alt="YouTube"
                width="44"
                height="40"
            /></a>
          </div>
          &nbsp;
          <div class="footer__image-wrapper1 flex center">
            <a
              target="_blank"
              href="https://twitter.com/xtradesofficial?lang=en"
              ><img
                lazy
                src="/assets/twitter.svg"
                class="footer__image"
                alt="Twitter"
                width="44"
                height="40"
            /></a>
          </div>
          &nbsp;
        </div>
      </app-hero>
      <div>
        <div class="footer-element cursor-pointer">
          <div class="footer-element__content">
            <span
              class="footer-element__content__text link"
              [routerLink]="['terms-and-conditions']"
              routerLinkActive="active-router-link"
              [routerLinkActiveOptions]="{ exact: true }"
              >Terms & Conditions</span
            >
          </div>
        </div>
        <div class="footer-element cursor-pointer">
          <div class="footer-element__content">
            <span
              class="footer-element__content__text link"
              [routerLink]="['refund-policy']"
              routerLinkActive="active-router-link"
              [routerLinkActiveOptions]="{ exact: true }"
              >Refund Policy</span
            >
          </div>
        </div>
        <div class="footer-element cursor-pointer">
          <div class="footer-element__content">
            <span
              class="footer-element__content__text link"
              [routerLink]="['/privacy-policy']"
              routerLinkActive="active-router-link"
              [routerLinkActiveOptions]="{ exact: true }"
              >Privacy Policy</span
            >
          </div>
        </div>
      </div>
      <div>
        <div class="footer__images-container">
          <div class="footer__image-wrapper flex center">
            <img
              lazy
              src="/assets/paypal.svg"
              class="footer__image"
              width="88"
              height="56"
              alt="Paypal logo"
            />
          </div>
          <div class="footer__image-wrapper flex center">
            <img
              lazy
              src="/assets/mastercard.svg"
              width="88"
              height="56"
              class="footer__image"
              alt="Mastercard Logo"
            />
          </div>
          <div class="footer__image-wrapper flex center">
            <img
              lazy
              src="/assets/visa.svg"
              class="footer__image"
              width="88"
              height="56"
              alt="Visa Logo"
            />
          </div>
          <div class="footer__image-wrapper flex center">
            <img
              lazy
              src="/assets/american-express.svg"
              width="88"
              height="56"
              class="footer__image"
              alt="American Express Logo"
            />
          </div>
          <div class="footer__image-wrapper flex center">
            <img
              lazy
              src="/assets/discover.svg"
              width="88"
              height="56"
              class="footer__image"
              alt="Discover Financial Services Logo"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-separator></app-separator>
  <div class="copyright center">
    Copyright © 2024 <a class="link cursor-pointer" href="/">Xtrades</a>
  </div>
</div>
