<h3 class="center">
  Trading options is different than
  <a
    href="https://www.xtrades.net/blogs/how-to-start-stock-training"
    target="_blank"
    >stocks</a
  >, but can be incredibly rewarding $$$!
</h3>

<p>
  There are only 2 kinds of options: calls and puts. Learn stock market trading
  with this full guide on trading options for beginners, where we’ll cover how
  they work and how you can get started leveraging these amazing tools of modern
  Finance for your personal benefit.
</p>

<p>
  A call gives you the right to call shares at an agreed strike price. This
  means that regardless of the current market price for a particular stock, you
  have the right to call those shares at whatever price your call specifies. So
  for example if you have a call with a strike price of $50 per share and the
  current market price is $100 per share, then you have the right to call or buy
  those shares at a $50 each. This of course means you can turn around and sell
  those shares in the market for $100 each and profit $50 per share. Now because
  options are traded in lots of 100 shares each, this means that you would
  profit $50 * 100 shares equals $5,000!
</p>

<p>
  What this means is that if you are the owner of a call with a strike price
  which is lower than the current market price then you stand to make a profit.
  In other words if you buy the $50 strike price today and the market climbs to
  $100 per share then you make money.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/12/long-call.png"
    alt="Long Call Profit & Loss Chart"
  />
</div>

<p>This is what it looks like in a graphical format:</p>

<p>
  Here we have the stock price on the horizontal axis with X being the strike
  price of your car, so I assume that X equals $50. On the vertical axis you
  have profit or loss, where profit is anything above and loss is anything below
  the zero or horizontal axis. If the stock price moves up from 50 to 100 then
  your profit will be equal to whatever the green arrow shows. Whereas if the
  stock goes down below $50 then you lose. First thing that should stand out is
  that the profit is infinite because the stock price can move up infinitely, in
  theory. However the loss is limited to whatever the value you paid to own that
  call.
</p>

<p>
  The end your break even point is going to be the strike price of the call plus
  whatever you paid for it. This makes sense because if you paid $2 for the call
  than the price of the underlying has to be equal to the strike price, $50 plus
  the two dollars you paid for the call.
</p>

<p class="example">
  Example: <br />
  Buy a $50 Strike Call for $2 in TSLA<br />
  Breakeven for TSLA must be $50 + $2 = $52 for you to profit
</p>

<div class="cta">
  <p>JOIN XTRADES TODAY</p>
  <a href="https://app.xtrades.net/plans" target="_blank">Click here</a>
</div>

<p>
  The put is basically the opposite transaction. A put allows you to essentially
  “put“ to someone at the agreed strike price, regardless of the market price
  for the underlying. This means that if you have a put with a strike price of
  $100 per share and the current market price has dropped to $50 per share, then
  you can put to someone at $100 even though current market price is $50!
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/12/long-put.png"
    alt="Long Put Profit & Loss Chart"
  />
</div>

<p>
  So in this case you profit when the price of the underlying drops below X
  which is the strike price. Therefore the green arrow represents your profit as
  the value of the underlying drops. On the other hand if the price of the
  underlying goes in the other direction, in other words up, then you lose only
  as much as you paid for that put. And of course the breakeven will be the
  strike price minus the value you paid for the put.
</p>

<p class="example">
  Example: <br />
  Buy a $50 Strike Put for $2 in AAPL<br />
  Breakeven for AAPL must be $50 - $2 = $48 for you to profit
</p>

<p>
  You should practice with different examples in your mind or on paper to make
  sure that these two charts are engraved in your mind. Once you have these two
  charts down then you can work out any other type of options trade.
</p>

<p>
  Well let’s review, if you are the owner of a call then you want the price of
  the underlying to go higher. This means that if you are holding a call with a
  strike price of $50 and the underlying price goes to $100 then you profit
  about $50 per call.
</p>

<p>
  On the other hand if you are the owner of a put then you want the price of the
  underlying to go down. That means that if you are holding a put with a strike
  price of $100 and the underlying price goes to $50 then you profit $50 per
  put.
</p>

<p>
  Keep in mind that this logic works if you are the owner of an option. If you
  own a call o then you want the price to go up and if you own a put you want
  the price to go down. But don’t forget that if you own a call or a port it
  means that someone sold it to you. The reason someone would sell you a call is
  because they believe they can profit because the price is actually going to go
  down. And by the same token someone would only sell you a put if they believe
  the price of the underlying is about to go up. Keep this in mind because we
  will run into it later.
</p>

<div class="cta">
  <p>GET A FREE XTRADES SCAN NOW!</p>
  <a
    href="https://app.xtrades.net/shop/item/4a551ebb-8c26-43bf-b06e-21bb8362bdad"
    target="_blank"
    >Click here</a
  >
</div>

<h3>Buying & Selling Options</h3>

<p>
  So we covered the fact that you can buy options but you can also sell options.
  Selling options is riskier because as opposed to buying a call, where you have
  the right to call shares at a strike price; if you sell a car then you have
  the obligation to give up those shares at the agreed strike price. That is
  what makes the transaction complete:
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/12/options.png"
    alt="Buying & Selling Options"
  />
</div>

<p>
  Remember how if you are the owner of a call when you have the right to buy
  shares at an agreed strike price? This works only because on the other side of
  the options transaction there was a seller who sold you the call and at the
  same time agreed to buy those shares from you at that agreed strike price no
  matter what.
</p>

<p>
  In the end it’s kind of like a bet; someone will be correct and win but
  someone will be incorrect and lose. But either one stands to make money. Your
  job is to educate yourself enough to realize that the more information you
  have the better odds you have of winning that bet.
</p>

<p>So let’s summarize what we know into this simple table:</p>
<table style="margin: 0 auto">
  <thead>
    <td>UNDERLYING$</td>
    <td>BUY/OWN</td>
    <td>SELL/GIVE</td>
  </thead>
  <tbody>
    <tr>
      <td>CALL</td>
      <td>UP</td>
      <td>DOWN</td>
    </tr>
    <tr>
      <td>PUT</td>
      <td>DOWN</td>
      <td>UP</td>
    </tr>
  </tbody>
</table>

<p>
  So basically if you have a call then you want the underlying price to go up
  but if you sold a call then you want the underlying price to go down. And so
  on it goes in the case of the put.
</p>

<h3>THEORY</h3>

<p>
  Although it can be boring, theory is important. You have to understand how
  options get their value if you’re going to try and predict whether the price
  of those options is going to go up or down. Once you can figure that out, the
  bet is basically a no-brainer. This is more complicated than beginner day
  trading with stocks, because Options are more volatile and require a deeper
  understanding.
</p>

<p>
  It turns out that options have value for two reasons: intrinsic value and
  extrinsic value. As the names suggest, intrinsic value is the value given to
  the option by virtue of what is inside the option contract itself. What is
  inside the options contract is the ticker of the underlying, the strike price
  and as we will learn later the expiry date. In this case it is the strike
  price which starts off by giving the options contract value. This is because
  if the strike price of the call is $50 and the current market price is $52
  then you could stand to profit by exercising the car, receiving those 100
  shares by paying $50 each and then turning around and selling them at market
  price of $52 each. This would net you two dollars per share or $200 in total.
  Therefore the intrinsic value of that option contract is two dollars.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/12/options-value.png"
    alt="Intrinsic & Extrinsic Options Value"
  />
</div>

<p>
  Extrinsic value is given by factors that are external to the options contract
  itself such as whatever can happen in the future to the value of the
  underlined. This is where the famous Greeks come into play. The two most
  important Greeks are Theta and Vega. Theta represents time and Vega represents
  volatility.
</p>

<p>
  It turns out that an option that expires in two or three days has very little
  external factors that can affect the price of the underlying and make that
  price of the underlying rocket up or dump down. On the other hand an option
  that expires in 2 to 3 months has a lot more vulnerability to different
  external factors such as inflation, lawsuits, earnings, buyouts etc. That is
  why time affects the value of an option contract. Volatility comes into play
  because the market itself is prone to ups and downs for different reasons and
  when traders begin to buy up or sell off a particular underlying it creates
  volatility in the sense that there is a greater uncertainty as to where the
  underlined price will end up at. And those are the two main reasons why the
  price of options fluctuate. It is important for you to understand these two
  Greeks, as well as the others we will see later, in order for you to correctly
  determine whether the options contract is going to go up or down.
</p>

<p>
  So let’s see how intrinsic and extrinsic value affect the total value of an
  option contract:
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/12/options-contract.png"
    alt="Change in Value of Options Contract"
  />
</div>

<p>
  As you can see a $195 strike Call has an intrinsic value of about $6 if the
  price of that underlying is $201. This is the case for when we have 45 days to
  expiration of the contract. As you can see on the chart above the stock price
  is approximately $201 and therefore the intrinsic value which is the green
  line on the bottom chart is about $6.
</p>

<p>
  As time goes by the price of the underlying fluctuates and it moves exactly
  two $195 at which point the bottom chart with the price of the option as given
  by the intrinsic value drops to zero because there is no longer any price
  difference between the strike and the current market price. However the value
  of the option has not dropped to zero completely because it still has
  extrinsic value which is given by the pinkish area and at that point the price
  of the call is approximately four dollars. This is because with so much time
  left until expiration there is still a chance for the price of this stock to
  go up above $195 per share. As you can see approximately 20 days to expiration
  the price goes back and touches $195 per share however the price of the call
  is only $2. That is still due to the extrinsic value given by the fact that
  there are approximately 20 days for the stock to climb above $195 per share.
  But as time dwindled down to nine days or less you can see that even as the
  stock price tries to recover back around $193 the value of that call barely
  moves above zero which is indicative of the fact that it is unlikely the price
  will climb above $195. At that point the price of the underlying would have to
  shoot up above $195 in order to have any value at all.
</p>

<p>Time Decay</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/12/theta.png"
    alt="Theta: Time Decay of options contracts"
  />
</div>

<p>
  The important thing to remember about time decay is that it eats away at the
  value of your option which is called premium. During the first 120 to 90 days
  the amount of premium that decays is very little but as time goes by the
  amount of option value that is eaten away by the passage of 30 days becomes
  greater. This means that the closer to expiration, the quicker an option will
  lose its total value and must rely on intrinsic value alone in in order to be
  worth something. This means that contracts about to expire must experience
  very strong moves in the underlying in order to profit.
</p>

<div class="cta">
  <p>GET AN XTRADE PREMIUM INDICATOR!</p>
  <a
    href="https://app.xtrades.net/shop/item/4027dbc0-02e4-479c-9897-f747319c1a85"
    target="_blank"
    >Click here</a
  >
</div>

<h4>Terminology</h4>

<p>
  Let’s put together some of the terminology that will help us further discuss
  training options and how to actually make money from them.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/12/options-time-decay.png"
    alt="Options Time Decay ITM vs OTM"
  />
</div>

<p>
  If you predict that a stock is going to go up in the next three months then
  you decide to buy a call option which will benefit if the price of the
  underlying goes above the strike price. As time goes by closer and closer to
  expiration the price of the underlined must climb above the strike price in
  order to profit, at which time it is said to be in the money. Otherwise if the
  price of the underlying drops below the strike price then it is said to be out
  of the money and could eventually end up expiring worthless. The closer you
  get to expiration the higher above the strike price you have to be in order to
  profit because there is no more time and by definition no more volatility
  left, and intrinsic value is the only friend you have.
</p>

<h2>How to make money trading</h2>

<p>
  OK so how do we make money trading these hot potatoes? Because in essence this
  is what they are, from the day they are created, these options are a ticking
  time bomb and you can make money with them or you can lose it unless you hand
  it off to somebody else.
</p>

<p>
  Well thankfully the underlying strategy is still the same. As is the case with
  <a
    href="https://xtrades.net/blogs/getting-started-with-stock-trading"
    target="_blank"
  ></a
  >Stocks, you either buy low and hold it until you can sell high; or you can
  sell high and expect for it to go down so that you can buy low. So let’s take
  a look at trade
  <a
    href="https://xtrades.net/blogs/using-stock-alerts-to-improve-your-investing-strategy"
    target="_blank"
  ></a
  >signals!
</p>

<p>
  <a href="https://xtrades.net/blogs/how-to-read-option-alerts" target="_blank"
    >BTO</a
  >: Buy To Open means that you are opening a transaction by buying something.
  With shares this makes total sense because you are buying shares and that’s
  opening the transaction until you close it by selling. Therefore the closing
  transaction would be STC or Sell To Close. Same goes for buying a call or a
  pot because you open the transaction by buying that call or put and you will
  close the transaction by selling the call or put.
</p>

<p>
  BTO AAPL $52C Nov17: they should begin to make sense now. In this case you are
  buying to open an apple call with a strike price of $52 and an expiry date of
  November 17. Now don’t forget the price that you pay for that call, let's say
  is $2.50 which actually means $250 since there are 100 shares in each lot.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/12/long-call-2.png"
    alt="Long Call Profit & Loss Chart"
  />
</div>

<p>
  As time goes by, if the price of the underlying goes up, which is to say the
  trade goes in your direction, then the value of that car should climb from
  $2.50 to perhaps $3.50 or even higher at which point you sell it and profit
  approximately $100.
</p>

<p>
  BTO AAPL $52P Nov17: As we saw, the same is true if I buy a put. If I buy an
  apple put with a strike price of $52 and the price of the underlying drops
  below $52 per share then I stand to profit. Let’s say that for example I paid
  $1.50 for this put. Then as the price of Apple drops below $52 the value of my
  foot should increase from $1.50 to perhaps $2.50. This means I profit
  approximately $100.
</p>
<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/12/long-put-2.png"
    alt="Long Put Profit & Loss Chart"
  />
</div>

<p>
  That sounds simple enough! The key is that the price of the underlying does
  not go straight up or straight down which means that you will get head faked
  quite a bit. And time is not on your side when you buy and hold an option.
  This is because time decay eats away at the premium and therefore even if the
  price of the underlying stays exactly flat for the next 10 days, the value of
  your option whether it is a call or a put Will begin to decay or drop. This
  means that if he paid $2.50 for that Apple call and the price of Apple stock
  stays the same for the next 10 days your Apple car will now only be worth
  about $1.50, which means you lost $100.
</p>

<p>
  By the same token if the price of Apple stays where it was when you bought to
  put for $1.50 and does not move an inch in 10 days, by that time your Apple
  put will have dropped from $1.50 to perhaps $.75. That is because these things
  are hot potatoes and you have to get rid of them if they don’t move in your
  favor and do so quickly. But don’t get spooked!!!
</p>

<div class="cta">
  <p>SIGN UP FOR XTRADES FREE TRIAL!</p>
  <a href="https://app.xtrades.net/?modal=signup" target="_blank">Click here</a>
</div>

<h3>What tools are available</h3>

<p>
  OK so the logic is pretty simple, buy low sell high or sell high by low. And
  we know in which direction the value of the option will move if the underlying
  goes up or down. So it shouldn’t be so complicated, there should be no reason
  to be spooked. How do we make sure that we don’t?
</p>

<h4>ENTER EDUCATION</h4>

<p>
  The biggest advantage you have is your education. The more information you
  know the better prepared you will be to determine when to get into a trade,
  which trade to get into, what strike price and expiration date you should pick
  as well as when to get out before you lose too much! Because you will
  eventually lose. Don’t be scared when you lose for the first time. The trick
  is to win more times than you lose and to set up your trades in a way that
  when you lose you lose less money than you make when you win.
</p>

<h4>BROKERS</h4>
<p>
  There are many brokers such as E*TRADE, TD Ameritrade which is now Schwab,
  WeBull and Robin Hood as well as others. The main difference is that E*TRADE
  and TD Ameritrade are more traditional brokers whereas Robin Hood and WeBull
  are kind of a New Age, millennial oriented kind of trading platform.
</p>

<p>
  They both have of course advantages and disadvantages. The advantages of
  E*TRADE and TD Ameritrade might be that you can find a lot more support,
  sometimes more sophisticated tools whereas the advantages of the more recent
  trading platforms is that they might be more intuitive and easy to use because
  they are sad to game of find the trading experience which could be a good
  thing or a bad thing depending on how you look at it.
</p>

<h4>TYPES OF ACCOUNTS</h4>

<p>
  It’s important to realize that when you open an account for buying stocks it
  is usually considered a cash account. This means that however much cash you
  have available in that account is what you can use to buy stocks. In a sense
  it is much like a debit card. If you want to trade options, depending on the
  broker and the types of options that you are wanting to trade, you might have
  to open up what’s called a margin account. Margin accounts are more like
  credit cards than debit cards which means that you can get into more trouble
  if you’re not careful because you can spend or buy more stuff than you
  actually have money to pay for.
</p>

<h4>PLATFORM TOOLS</h4>

<p>
  Most brokers will have a desktop app as well as a mobile app nowadays. The
  desktop app will probably have more features than the mobile version. I would
  definitely encourage you to start out with the desktop app, which by the way
  is either a Java application running on your computer or they might also have
  a web browser version. The reason for using the desktop app is that it is a
  much bigger screen which means you have access to more information at the same
  time and you can get in and out of transactions a lot easier, and it is less
  likely that you will make a mistake on a larger screen.
</p>

<p>
  These brokers and their desktop apps also include a lot of very important
  tools that are required for options trading to be successful. This includes
  but is not limited to stock and option screeners or scanners, charting tools
  for drawing support and resistance as well as trend lines or more
  sophisticated Fibonacci tools, studies or indicators such as MACD, RSI,
  Bollinger Bands, Ichimoku clouds, moving averages etc. But the more
  sophisticated tools such as TD Ameritrade sink or swim offer risk and that
  analysis with probabilities and scenario analysis for volatility fluctuations
  as well as price fluctuations in days to expiry which is way more advanced.
  But any decent broker platform should provide you with level two quotes as
  well as Options Chain. This means that you are getting real time quotes, not
  20 minute delayed quotes. It also means that you get data such as volume
  traded, open interest, all of the Greeks including Theta, Vega, Delta, Gamma &
  Rho, bid and ask prices as well as options flow information.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/12/option-flow.png"
    alt="Xtrades Options Flow Information"
  />
</div>

<p>
  This way you can see how many contracts are moving and near what prices (bid
  or ask). You can see the big whales moving around, sorta. Big whales always
  find ways of hiding what they do.
</p>

<h4>OPTIONS CHAIN</h4>

<p>
  Here is what you get when you enter your Etrade account, go to the Trading tab
  and enter TSLA as the ticker:
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/12/etrade.png"
    alt="Etrade Options Chain"
  />
</div>

<p>
  Once you decide on a ticker, i.e. TSLA, you go to its Options Chain to find
  the strike price and expiry date you are interested in. Here you can see the
  calls on the left side and the puts on the right side which are available for
  you to purchase or sell. The underlying is currently trading at $217.84 which
  is called the At the Money (ATM) strike. For calls, anything below that price
  is in the money because if you recall, if you have a call that lets you buy at
  $200 that means you can turn around and sell it at market for a profit of
  about $17.84 per Call contract.
</p>
<p>
  Any calls above $217 are considered out of the money because there is no
  profit to be made by exercising those calls at this time. Conversely on the
  other side of the strike price column you can see the puts which are
  highlighted as being In the Money (ITM) if they are above $217. This is
  because if you have a contract that allows you to put at $225 when the market
  is currently paying $217 then you could stand to profit by buying shares at
  $217 in the market and putting your shares to someone at $225.
</p>
<p>
  Calls with a strike above $217 and puts with a strike below $217 are
  considered Out of the Money (OTM). That's because if you can buy at $220 while
  the current market price is $217, you wouldn’t exercise that right, would you?
  WOULD YOU!?
</p>
<p>
  Once you are ready to enter the trade, say for example the $220C Nov23, then
  you click on the Ask price which is $7.15 to buy it. Careful, that means $715
  because each option contract represents 100 shares.
</p>
<p>
  You can move left or right across the Options Chain columns to view data like
  Open Interest, Volume or Greeks like Delta and Theta.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/12/etrade-2.png"
    alt="Etrade Calls Options Chain"
  />
</div>

<p>
  Here we have moved left to the calls side and can see Implied Volatility, Open
  Interest and Intrinsic Value. See how Intrinsic Value is $17.81 which is taken
  by subtracting the strike price of $220 from the current price of $218.32 (the
  price moved as I moved around). The price is actually $18.32 but there are
  small fluctuations which make it $17.81.
</p>

<div class="cta">
  <p>JOIN XTRADES TODAY</p>
  <a href="https://app.xtrades.net/plans" target="_blank">Click here</a>
</div>

<p>Let’s see what ThinkorSwim looks like.</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/12/thinkorswim.png"
    alt="ThinkorSwim Options Chain"
  />
</div>

<p>
  Similarly in ToS we have a Trade Tab where you can see the same info. In most
  platforms you should be able to move around and add different columns to view
  the data you wish. Here we see all the greeks such as Delta, Gamma, Theta &
  Vega.
</p>

<h4>TECH v FUND</h4>
<p>
  So how do you pick a strike and expiry date? That is where technical analysis
  comes into play. There are signs to look for to increase your chances of
  picking the right horse. Remember, the right horse is the one that moves
  enough in the shortest amount of time in order to your bought options contract
  more valuable or sold contracts less valuable in order to profit. And
  remember, you WILL lose many times. The key is to win more, more times.
</p>
<p>
  What we try to do is predict where the price will be in a future date in order
  to pick the winning horse. We do this by analyzing technical data from a price
  action chart. And usually only if it’s a longer term trade do we look at
  Fundamentals.
</p>
<p>
  So you look at a chart like this and try to identify as many tells as you can
  of where price is going to go.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/12/thinkorswim-2.png"
    alt="ThinkorSwim Charting Indicators"
  />
</div>

<p>
  You can see how at the top of the chart, a few months ago, price seemed to hit
  that level a few times (about 12 candles) but never quite made it past that
  level. That is called a resistance. Likewise you can spot a level where price
  bounced off a few times near May before resuming the uptrend, and then price
  touched back around mid-august until it finally broke under near the beginning
  of October and more so near the beginning of November. That would be a support
  level which served from back in May until October and has since failed but was
  quickly broken above again. Support and Resistance works until it doesn’t, but
  it gives you an idea of what price levels are likely to serve as support or
  resistance again in the future. These levels can give you an idea of where
  price might be headed, or when broken thru, they are indicative of a move in
  that direction.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/12/stock-chart.png"
    alt="Stock Chart Support Resistance"
  />
</div>

<p>
  Trendlines are also important as you can see a clear uptrend from January
  until August. Trends are created when price action makes higher highs and
  higher lows in the case of an uptrend; or lower highs and lower lows in the
  case of a downtrend.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/12/price-chart.png"
    alt="Price Chart Higher Lower Highs Lows Trend"
  />
</div>

<p>
  As you can see a trend is made up of zig zagging moves. Iow, price doesn’t
  move straight up or down. It moves in impulses and it also retraces or pulls
  back.
</p>
<p>
  Patterns are also important such as the channel (in blue) where price ping
  pongs back and forth. So you can see how after hitting the top of the channel,
  the next logical move is back down to the bottom of that channel. So you see
  how you can start to get a feel for where the price might be going?
</p>
<p>
  Indicators are a bit more sophisticated in calculation but they essentially
  incorporate price, volume and other statistics in order to give you
  information about the future. For example, the green, yellow and red lines on
  the chart are moving averages for 50, 100 and 200 days. Price action, or
  candles, usually move around them and sometimes react to them by bouncing off
  those moving averages, ma. If price action (candles) is below the ma, it is
  considered bearish. When price action crosses above an ma then it is
  considered bullish. Simple mas, (SMAs) are used to determine certain historic
  patterns as well such as a golden cross which is when the 50 SMA crosses above
  the 200 SMS which is bullish and vv.
</p>
<p>
  There are even more sophisticated indicators such as RSI or MACD. RSI is a
  moving average that gives you information as to how oversold or overbought a
  stock might be. You can see it at the bottom of the previous chart where back
  in Dec when it touched the bottom it was signaling oversold and the stock took
  off. Again it signaled overbought in July and has since sold off.
</p>
<p>
  Apart from these technical indicators and analysis, you have fundamental
  indicators such as a company’s earnings, their dividends, their industry’s
  performance, jobless claims, CPI inflation, GDP growth and many other
  macroeconomic factors that give you an idea to what the company may do in the
  future.
</p>

<div class="cta">
  <p>GET A FREE XTRADES SCAN NOW!</p>
  <a
    href="https://app.xtrades.net/shop/item/4a551ebb-8c26-43bf-b06e-21bb8362bdad"
    target="_blank"
    >Click here</a
  >
</div>

<h4>TRADING STYLES</h4>

<p>
  Are you risk on or risk off? Have you ever played poker? Are you the type to
  go all in? It’s important to know your style of trader which is directly
  correlated to your personality. Are you adventurous or
  <a href="https://xtrades.net/blogs/why-swing-trading" target="_blank"
    >conservative</a
  >? A risk on trader won’t be scared to go into a trade and hold it for longer
  until it plays out the way he was expecting it to no matter how much that
  think squirms. That is considered a diamond hands trader! A conservative,
  risk-off or paper hands trader will get out at the first sign of trouble
  whether he is winning a couple of bucks or even losing!
</p>

<p>
  You must learn to recognize your own style because you must trade accordingly!
</p>

<h4>EDUCATION</h4>

<p>
  The more education you have the greater your odds of coming out profitable
  from a trade. The less you know, the more likely you’ll be to jump out of a
  trade after it has moved against you, only to see it rocket after you got out!
</p>

<h4>
  <a
    href="https://xtrades.net/blogs/how-to-make-most-of-stock-alerts"
    target="_blank"
    >SIGNALS</a
  >
</h4>

<p>Let’s take a look at a trade signal from Xtrades.</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/12/signals.png"
    alt="Xtrades Discord Trade Signals"
  />
</div>

<p>
  Here the analyst is telling you. To go long, in other words BUY, the SQ Nov17
  2023 $47C which is currently trading at $1.78. This is a High risk trade as
  indicated by the analyst! So let’s see the chart:
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/12/thinkorswim-3.png"
    alt="ThinkorSwim Price Action Chart"
  />
</div>

<p>
  The stock has been on a downtrend lately as you can see from this daily chart.
  SMAs are all above the price action and the RSI is in no-man’s land. So why
  did he buy a call if he would only profit from holding a call if the price
  goes higher and this thing is clearly tanking?
</p>

<p>
  Let’s zoom into an hourly because the trade has an expiry date which is in 16
  days, not weeks or months!
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/12/thinkorswim-4.png"
    alt="ThinkorSwim Price Trend"
  />
</div>

<p>
  Oh yes, this is much better. You can clearly see an uptrend in the past two
  days and price action has moved above all three SMA’s. The nearest resistance
  level is above $46 so from the current price of $44 we could stand to make a
  profit all the way to $46. So now it makes more sense!
</p>

<p>
  OK so you have taken a position in which you stand to profit if price action
  goes above $46. But in this case we can profit even if price action moves from
  the current $44 to even $45. Even though $45 is still below $46, which is the
  strike price, all of the Call option contracts will move higher as the price
  increases. Therefore, in this case where the Call contract has a value of
  $1.78, as price action moves towards 45, the price of the Call contract will
  also increase possibly to two dollars. If we are more of a risk on trader we
  could sell one contract when price reaches $46 and hold onto a second contract
  to see if it breaks above $46. That second contract is what is called a
  runner, and you leave it on the table after you have already profited from
  previous contracts. The reason why you leave it on the table is because you’ve
  already recovered all or most of your investment in the previous contracts and
  you are looking to make an extra ordinary profit from that runner. That is
  part of risk management and trading strategy which we will look at next.
</p>

<h4>Risk management</h4>

<p>
  Risk management and your overall trading strategy is built upon your own
  education as a trader. These two factors are what will make you a successful
  trader by increasing your odds of winning more trades for more profit than the
  trades you end up losing for a smaller loss. As you recall we mentioned that
  you will lose money. The key is to win bigger more times than you lose smaller
  amounts.
</p>

<h4>Position Sizing</h4>

<p>
  The first rule is that you must define the size of any position that you take
  in the market in order to not blow up your account. This means that if you
  have a $10,000 account you will not take a trade that will cost you $10,000 or
  even $5000, because if you lose once or twice you will have no more money to
  invest.
</p>

<p>
  The rule here is to take a trade that is no more than 1% of your account. This
  means that the maximum trade you can take is for $100. In the above example
  $178 would be out of your league. Do not fret, there are much cheaper options.
  But let’s say that you used the 2% rule instead; this means that you could
  take that $178 contract. Careful though, it also means that you could only
  take one contract because a second contract would put you over your $200
  limit. And runners are very important.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/12/thinkorswim-5.png"
    alt="ThinkorSwim option chain"
  />
</div>

<p>
  As you can see from the ATR chart above, although it is currently 0.97, the
  average has been around 0.40. This means this stock has moved an average of
  $0.40 in the past few days. So expecting it to move from $44 to $49.5
  (5.5/0.4=13.75) is not that crazy since it would take about 14 days and we
  have 15 days. Although it is cutting it close!
</p>

<p>
  An earlier expiry might have been a better choice given the tight calculation
  from above. However, education comes into play once again. It turns out that
  on the fundamental side, SQ was reporting earnings today after the close which
  is why you see that huge green candle breaking above the resistance level that
  we had drawn. It turns out that it beat expectations on earnings and therefore
  the stock is getting bought up by investors.
</p>
<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/12/thinkorswim-6.png"
    alt="ThinkorSwim Price breakout"
  />
</div>

<div class="cta">
  <p>GET AN XTRADE PREMIUM INDICATOR!</p>
  <a
    href="https://app.xtrades.net/shop/item/4027dbc0-02e4-479c-9897-f747319c1a85"
    target="_blank"
    >Click here</a
  >
</div>

<h4>Risk Reward</h4>
<p>
  So you probably guessed by now that earnings don’t happen every day. As a
  matter of fact earnings are only reported by companies four times a year. So
  how do you trade the remaining days of the year if you don’t have such big
  earnings news to bet on or against?
</p>
<p>
  Well again, education will tell us that there are other important data points
  besides earnings. There are for example as we mentioned macro-economic data
  which also move markets, such as inflation data, the number of jobless claims,
  the growth of GDP, and many others that will affect some industries more than
  others and therefore some takers more than others.
</p>
<p>
  So before you put on a trade it is vital that you know how much money you
  could win versus how much money you could and are willing to lose. So for
  example if a trade analysis tells you that you could make $3 then you might
  want to limit your loss to $1 in order to stay ahead of the curve. This means
  that you could lose three times and win only once and you would still break
  even. On the other hand if the situation was reversed, and you only stand to
  make $1 but could lose $3 then once you lose the first time you would have to
  play three more times in order to break even which means you have three times
  more risk.
</p>
<p>Let’s look at an example.</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/12/tradingview.png"
    alt="TradingView Long Position Tool Risk Reward"
  />
</div>

<p>
  You can see AAPL has been on a downtrend since August. Now just because AAPL
  is on a downtrend does not mean that trend can’t change. In this case I have a
  blue support level drawn at 178.2 which would be my next level to watch in
  case it breaks above. If indeed it does break above I could enter a trade and
  ride it until the next Support Resistance (SR) level which I have marked with
  a yellow horizontal line at 181.93. That represents a 3:1 ratio.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/12/tradingview-2.png"
    alt="TradingView Risk Reward Indicator"
  />
</div>

<p>
  Furthermore if that next level of 181.93 gets broken I have a second trade I
  could make and ride it until 189.98. This has a smaller reward of 2.62:1 but
  its still pretty solid. At least its not backwards!
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/12/tradingview-3.png"
    alt="TradingView Price action long tool"
  />
</div>

<p>
  The trick is that you have to use the risk reward tool properly. That is why I
  switched over to
  <a href="https://xtrades.net/blogs/what-is-tradingview" target="_blank"
    >TradingView</a
  >, because it has a much clearer risk reward tool. In this case the top of the
  green rectangle is your target price at which you should exit and the bottom
  of the red rectangle is your stoploss at which point you should exit.
  Regardless of your feelings whether it might go higher or could bounce back,
  you should exit following your target price and stoploss in order for the 3 to
  1 ratio to be effective and to keep your losses to a minimum and your winds to
  a maximum.
</p>
<p>
  The number one mistake is probably not sticking to your stoploss, expecting it
  to bounce back. As matter fact it could even get worse if you decide to down
  cost average at your stoploss and the thing just keeps dropping like a rock.
  The second most common mistake is not taking profit at your target price
  expecting it to go higher only to see a drop back to your entry point a few
  minutes later. Remember higher than a target price is what runners are for.
  Target prices are made for taking profit!
</p>

<div class="cta">
  <p>SIGN UP FOR XTRADES FREE TRIAL!</p>
  <a href="https://app.xtrades.net/?modal=signup" target="_blank">Click here</a>
</div>

<h4>Extra Tips</h4>

<p>
  Another extra tip for you guys is do not get enticed by smaller sized
  contracts that are further out of the money. It is very common to want to buy
  five or 10 cheaper contracts just because they are further out of the money.
  Remember that out of the money means that the probability of the underlying
  reaching that strike price is much lower. As a matter of fact the Delta is
  often referred to as the probability of that contract ending in the money. An
  in the money contract has a delta possibly greater than 50 whereas out of the
  money contracts have Delta’s less than 30. Yes out of the money contracts are
  cheaper but it is more likely that you will end up with a worthless option on
  expiry.
</p>
<p>
  Another important tip is to think about your profits an app percentage return
  instead of absolute value return. Let me give you an example. If you invest
  $100 and you make $15 then you should exit because this is a 15% return, which
  is way better than the average market return. If you were expecting to make
  $100 in profit instead of $15, do not expect your $100 investment to double
  into $200, which would mean a 100% return. The reason is that a 100% return is
  much less likely to occur and therefore you are very likely to end up losing
  your original investment then actually doubling it. If for some reason you are
  expecting $100 in return then you would have to invest $1000 and expect the
  10% return instead.
</p>

<h4>STRATEGY</h4>

<p>
  As with any business you need a solid strategy. Strategy includes all of the
  factors we have mentioned above:
</p>

<ol>
  <li>1% Max Position sizing</li>
  <li>Risk management through reward risk ratios</li>
  <li>Managing runners</li>
</ol>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/12/stock-options.jpg"
    alt="Stock Option Trading Strategy"
  />
</div>
<p>Let’s bring it all together in an easy way to visualize and understand.</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/12/cycle.png"
    alt="Xtrades Trading Strategy Cycle"
  />
</div>

<p>
  You must first pick a stock to trade. You can either get this from a trade
  signal at X trades or you could search for your own Stocks using Stocks
  scanning tools provided by your broker. You could also just look for a stock
  and begin charting it but you might end up charging a bunch of stocks that
  don’t give you a definitive direction as to where they might be going.
</p>
<p>
  It would then be useful to know what the current market conditions are,
  economic factors that are currently pushing up or pushing down the economy and
  the particular market sector in which your ticker is operating. This is
  important because if you are trading a ticker that is being negatively
  affected by the overall industry, say for example the healthcare industry is
  in trouble because of regulations from the government for example then it will
  be much harder for a healthcare ticker to move upwards while the entire sector
  is dragging it down. In that case you might actually try for buying puts
  instead.
</p>
<p>
  Once you have decided on a specific ticker then of course you must chart it
  using support and resistance lines as well as trend lines and indicators that
  will give you an idea of where that stock might be headed.
</p>
<p>
  Finally you take your position using the risk reward position tool in order to
  gauge your target price and stop-loss price and you follow it to a tee.
</p>
<p>
  Finally whether you won or lost, but especially if you lost, you must review
  the trade and try to understand what happened. It is just as important to
  understand why you lost as it is to simply win. You may have one out of luck
  and that is not very helpful. If anything that is actually counterproductive
  because you might think you know what you’re doing and put on a bigger trade
  the next time and lose big. So always make sure to go back and understand what
  went wrong; whether it was something out of your control or not, you will
  learn something from a losing trade.
</p>
<p>Sample Trading Week</p>

<ol>
  <li>
    Let’s scan the market for some tickers. Although during earnings season you
    can just as well look at the earnings calendar.
  </li>
  <li>
    Remember to look around at current market conditions such as GDP and
    inflation or jobless claims and take a look at what the different sectors of
    the economy have been doing over the past 12 months.
  </li>
  <li>
    Now it’s time to chart the ticker that you were interested in and pick the
    best candidate.
  </li>
  <li>Now draw your position out on the chart and let’s wait for our entry</li>
</ol>

<section class="faq responsive-main-container column">
  <app-hero class="faq__hero">
    <h2 class="faq__main" data-aos="fade-up">
      Frequently <span class="faq__hero-detail">Asked</span> Questions
    </h2>
  </app-hero>
  <div
    class="faq__questions column cursor-pointer"
    *ngFor="let item of faqs; let i = index"
    [attr.data-index]="i"
    appToggle
  >
    <app-hero class="faq__article-hero" data-aos="fade-up">
      <div class="flex space-between">
        <div class="faq__article-main">
          {{ item.question }}
        </div>
        <button
          aria-label="Toggle FAQ"
          class="faq__toggle-button cursor-pointer"
        ></button>
      </div>
      <div
        class="faq__article-description description"
        description
        [innerHTML]="item.answer"
      ></div>
    </app-hero>
    <app-separator></app-separator>
  </div>
</section>
