<p>
  You'll often hear experts telling you that picking the right stock at the
  right time based on the right news or catalyst is the most important thing to
  learn how to do. You will also hear options traders argue about strike price,
  expiration date, or a particular
  <a href="https://tools.xtrades.net/thinkorswim-scripts" target="_blank"
    >trading indicator</a
  >
  being the most important thing to pick.
</p>

<p>
  Of course, those are all important parameters to choose wisely but the most
  important thing about trading that I have learned over the years and many
  long-time investors will tell you the same is having a stock trading journal
  software. The reason is simple: you learn from your mistakes more than you
  learn from your successes. It is important to be able to go back and look at a
  trade and understand what went wrong. It is also critically important to
  understand how you have traded in the past.
</p>

<h2 id="1">What should a Stock or Options Trading Journal have?</h2>

<p>
  A stock trading journal software, regardless of whether a trader prefers
  options or stocks, must have the capability to distinguish whether the trader
  primarily engages in swing trades versus day trades, or focuses more on small
  caps versus large caps. This historical data is crucial for analysis if one
  aims to become a successful trader over the long term.
</p>

<p>
  There are a few good options out there as far as stock trading journal
  software goes but today, we will focus on Xtrades platform since membership
  includes the use of the journal for FREE!
</p>

<div class="cta">
  <p>EXPLORE XTRADES TODAY!</p>
  <a href="https://app.xtrades.net/plans" target="_blank">Click here</a>
</div>

<h3 id="2">Data Points for a successful Trading Tracker System</h3>

<p>
  In this article we will review some of the most important data points to be
  aware of as a trader so that you can improve your win rate and profits. This
  is important data to know not just about yourself but also about the analysts
  you follow and therefore use as a guide when trading in a
  <a
    href="https://www.xtrades.net/blogs/social-trading-and-how-to-find-a-trading-community"
    target="_blank"
    >social trading community</a
  >
  such as Xtrades.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/31/31-1.png"
    alt="Xtrades app"
  />
</div>

<p>
  When you log onto the Xtrades platform you will see a screen much like this
  one. You can see the feed from everybody in the Xtrades community. You can
  instantly see what traders are talking about, you can choose between all the
  members in the community or filter only the ones that you have chosen to
  follow, and you can also select the categories of the topics you want to
  cover.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/31/31-2.png"
    alt="Xtrades app"
  />
</div>

<p>
  For example, if you toggle the education checkbox then you will get only the
  feed information related to all the educational materials that we have here at
  Xtrades for example the video lessons which are FREE and super important.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/31/31-3.png"
    alt="Xtrades app"
  />
</div>

<p>
  If you switch over to the alerts on the left sidebar which is represented by a
  megaphone icon you will see the alerts of the analysts you follow as well as
  every trader in the community and your own. Here we can see some of the trades
  placed yesterday which was Friday on tickers such as DraftKings, Tesla as well
  as SPY and you can see the profit made and if it was a day trade or a swing
  trade as well as other information such as how many people liked the trade or
  bookmarked the trade or commented on the trade itself.
</p>

<p>
  So I hope you can begin to see how a stock trading journal software such as
  Xtrades is valuable and can provide you with valuable historical information
  about your past trades. For example by analyzing the alerts you can begin to
  get a feel for the types of trades that the different analysts will place
  during a day as well as how profitable those trades are or were in the case
  they have already been closed. But it also gives you information on the type
  of trade so for example by looking at Mr M trades we can see that he likes
  swing trading as opposed to for example Krazy which has a day trade here and
  there.
</p>

<div class="cta">
  <p>CHECK OUT THE BEST TRADERS, OUR TRADERS!</p>
  <a href="https://www.xtrades.net/" target="_blank">Click here</a>
</div>

<p>Let's dive a little bit deeper…</p>

<h2 id="3">Free Options Trading Tracker Features: Profit % Leaderboard</h2>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/31/31-4.png"
    alt="Xtrades app"
  />
</div>

<p>
  We move over to the leaderboard icon on the left sidebar represented by the
  trophy and we can see the rankings of different members of the community and
  we can sort them by timeframe as well as options vs stocks.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/31/31-5.png"
    alt="Xtrades app"
  />
</div>

<p>
  Drilling down in the leaderboard we can see not just the top three spots but
  all of the following spots down below it. As you can see gizmo who is in spot
  number three has a favorite ticker which is SPY! His profit factor for spy was
  183%, has 10 alert counts and has made a gain of 244%. This is clearly
  important information if you are looking to trade SPY. If on the other hand
  you were interested in, let's say, the ticker AVGO then you want to look at
  Buzo before putting on a trade.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/31/31-6.png"
    alt="Xtrades app"
  />
</div>

<p>
  So if you click on his name you get this pop out from the right hand side
  which gives you some information about the trader and if you scroll all the
  way to the bottom you will find a button that takes you to his profile page.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/31/31-7.png"
    alt="Xtrades app"
  />
</div>

<p>
  Ok so now it gets interesting because we can view the details of this traders
  profile on this screen. Notice that we are presented with the trading
  statistics breakdown right in the center of the page. We can see that this
  trader has a 62% win rate a 10% return on average per trade and has put on
  1584 trades, which means he is a pretty active trader. We can also see on the
  left hand side that he is usually a day trader using
  <a
    href="https://www.investopedia.com/terms/e/elliottwavetheory.asp"
    target="_blank"
    >Elliot wave theory</a
  >
  as well as
  <a
    href="https://www.fidelity.com/learning-center/trading-investing/technical-analysis/technical-indicator-guide/fibonacci-retracement"
    target="_blank"
    >Fibonacci</a
  >
  and trading mostly options as a swing trade. This is important because now we
  know this trader’s preference and because he has a good win rate and he sure
  seems to have a few followers, because of this we might be interested in
  following him. We do this by clicking on the follow button on the left-hand
  side of the screen. Now let's look at some more information on this trader.
</p>

<div class="cta">
  <p>USE OUR TRADE-IDEA SCANNERS!</p>
  <a href="https://tools.xtrades.net/trade-ideas-scanner" target="_blank"
    >Click here</a
  >
</div>

<h3 id="4">
  Using the Trading Journal Leaderboard Tracker to Find Winning Trades
</h3>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/31/31-8.png"
    alt="Xtrades app"
  />
</div>

<p>
  Now we see that he is definitely an options trader because out of those 1584
  trades he has traded options 1463 times and had a 62% win rate within 11%
  return on average per trade. You can also see that his return per win has been
  on average 52% whilst his return per loss on average has been -57%. This is
  important because you want to know that an analyst or trader that you are
  following doesn't have abnormally high losses compared to his wins. We can
  also see that he likes to trade mega cap names and he usually goes long on the
  trades that he makes, about 99% of the time.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/31/31-9.png"
    alt="Xtrades app"
  />
</div>

<p>
  We can see that he is definitely a very active user of the platform by looking
  at his activity and not just alerts which are either to enter or exit a trade
  but also new updates on existing alert which means that he keeps his followers
  informed.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/31/31-10.png"
    alt="Xtrades app"
  />
</div>

<p>
  Of course, you can see this trader’s alert history which is vital to
  understand how the trader works. We can see that he likes to trade those big
  mega cap names and we can tell how much risk he likes to take on by the types
  of trades that he has made in the past.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/31/31-11.png"
    alt="Xtrades app"
  />
</div>

<p>
  In the advanced statistics section, we can dig deeper into this trader’s win
  rate. We can see that although his overall win rate in options is above 70%,
  it is in calls that he is most successful.
</p>

<div class="cta">
  <p>GET ETRADE’S PRO TRADE SCANNER HERE</p>
  <a href="https://tools.xtrades.net/etrade-pro-scanner" target="_blank"
    >Click here</a
  >
</div>

<h2 id="5">
  Boost Your Options Trading Performance Using a Trading Journal & Analyzing the
  Data
</h2>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/31/31-12.png"
    alt="Xtrades app"
  />
</div>

<p>
  You can also analyze the win rate by the type of trade for example regular
  trades versus swing trades and tell a lot from an analyst by whether he takes
  standard risk trades versus high risk trades and Lottos. You might not be a
  risky trader yourself and therefore don't want to follow an analyst who takes
  many Lottos.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/31/31-13.png"
    alt="Xtrades app"
  />
</div>

<p>
  It's important to know which day of the week is the most profitable for a
  trader because some people such as myself, if you look at my profile have very
  bad Mondays which is related to the fact that I happen to be very busy on
  Mondays and probably leads me to make less than optimal trade choices on that
  day.
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/31/31-14.png"
    alt="Xtrades app"
  />
</div>

<p>
  You might also want to be clear which sectors are the most profitable. Here is
  where I am going to flip the switch on you and ask you to imagine if this was
  your trading profile instead of an analyst’s. Would you want to know what
  sector YOU are the most profitable in? Would it then follow that if you find
  yourself being most profitable in the technology sector that you would be more
  willing to take trade alerts from tickers in the technology sector?
</p>

<div class="flex center">
  <img
    style="margin: 0 auto; margin-top: 10px"
    src="assets/blogs/31/31-15.png"
    alt="Xtrades app"
  />
</div>

<h2 id="6">Why should I use stock trading journal software? Final Thoughts</h2>

<p>
  Now go back and apply that same question to the previous images on the
  different statistics of this trader’s profile. For example, would you not want
  to know which day you are the most profitable in your trades? Would you not
  want to know if you do well in trading lottos? Would you not want to know if
  you are better with calls or with puts? Or if you prefer swinging your trades
  or cutting them at the end of the day?
</p>

<p>
  <b>This is where the stock trading journal software plays a CRITICAL role!</b>
  Analyzing your own trader profile and understanding which types of trade have
  made you most profitable in the past and which types of trade have made you
  the most losses in the past, you will then be able to focus on taking more
  profitable trades.
</p>

<p>
  Now ask yourself, do you keep a stock trading journal? Wouldn't you find it
  handy to use a stock trading journal software such as the Xtrades platform? If
  you do use a stock trading journal app, does it provide you with all this
  historical statistical information on your trades?
</p>

<p>
  Some traders like using Excel, but Excel is not structured to keep and
  recalculate this information constantly. You will spend more time tweaking and
  fixing and updating links in an excel stock trading sheet than you should be
  spending on analyzing potential trades!
</p>

<p>
  Tradezella is another sophisticated stock trading journaling software, but it
  is a paid platform which is going to cost you between
  <a href="https://www.tradezella.com/pricing" target="_blank">$33-$49</a> per
  month. The Xtrades stock journaling app is included in your
  <a href="https://app.xtrades.net/plans" target="_blank">Xtrades membership</a
  >, so you get stock trading expert alerts as well as the stock journaling app
  in one complete package for that SAME PRICE! Add to that the stock trading
  community on Discord where you can interact with our expert analysts as well
  as learn from daily stock or option trade reviews,
  <a
    href="https://www.xtrades.net/blogs/guide-to-options-flow-and-understanding-call-option-sweep"
    target="_blank"
    >Options Flow</a
  >
  Information, Educational posts as well as FREE Video Lessons available on
  YouTube and it's a much better bang for your buck!
</p>

<div class="cta">
  <p>ELITE TOOLS FOR $38/MONTH!</p>
  <a href="https://tools.xtrades.net/" target="_blank">Click here</a>
</div>
