@import "../../../styles/vars";
@import "../../../styles/mixins";


.animation { grid-area: animation; }
.main { grid-area: main; }
.hero-description { grid-area: description; }

.hero {
    padding: 50px 0;
    display: grid;
    grid-template-areas:
      'main animation animation animation'
      'description animation animation animation';
    gap: 10px;
    @media (max-width: $md) {
        grid-template-areas: 'main'
                            'animation'
                        'description';
    }
    &__main {
        margin-top: auto;
        margin-bottom: 0;
        @media (max-width: $md) {
            text-align: center;
        }
    }
    &__main-img {
        transform: translate3d(30px, 0, 0);
        @media (max-width: $md) {
            transform: translate3d(-10px, 0, 0);
        }
    }
    &__joinnow {
      @media (max-width: $md) {
          align-items: center;
          text-align: center;
      }
    }
    &__description {
      width: 80%;
      padding: 15px 0;
    }
    &__levelup-img {
        bottom: 19%;
        left: -22%;
        @media (max-width: $md) {
            width: 35%;
            left: 10%;
            bottom: 4%;
        }
    }
    &__buttons-row {
        padding: 15px 0;
    }
}

.stats {
  min-height: 200px;
  &__cards {
    margin: 0 auto;
  }
  &__card-wrapper {
    --card-background: var(--dark-grey-detail);
    --card-padding: 1.5em 3em;
    --card-title-margin: 0 auto;

    max-height: 125px;
    text-align: center;
  }
}

.power-of-xtrades {
  padding: var(--section-padding);
  &__description {
    max-width: 980px;
    width: 70%;
    padding-top: 3em;
    padding-bottom: 1em;
    @media (max-width: $lg) {
      text-align: center;
      width: 100%;
    }
  }
  &__cards {
    margin: 3em auto;
  }
  &__card-wrapper {
    --card-background: linear-gradient(243.56deg, #24324f 0%, #0c1424 100%);
    --card-title-margin: 0;
    --card-padding: 4em 2em;
    --icon-card-width: 60px;
    --icon-card-height: 60px;

    --card-title-font-weight: bold;
    --card-title-padding: 0.5em 0;

    text-align: left;

    @media (max-width: $lg) {
      --card-title-margin: auto;
    }

    --icon-card-top: -30px;
    --icon-card-left: 30px;
  }
  &__hero {
    @media (max-width: $lg) {
      text-align: center;
      margin: 0 auto;
      justify-content: center;
      --hero-items-alignment: center;
      padding: 2em 0;
    }
  }
  &__main {
    @media (max-width: $lg) {
      margin: 0 auto;
      width: 100%;
    }
  }

  app-card:nth-of-type(2n + 1) {
    transform: translate3d(0, 50px, 0);
    @media (max-width: $lg) {
      transform: none;
    }
  }

  &__desktop-chat {
    display: block;
    margin: auto;
    @media (max-width: $lg) {
      display: none;
    }
  }

  &__mobile-chat {
    display: none;
    @media (max-width: $lg) {
      display: block;

      .hero__buttons-row {
        margin: 0 auto;
      }
    }
  }
}

.xtrades-edge {
  padding: var(--section-padding);
  --icon-card-position: relative;

  &__hero {
    justify-content: center;
  }

  &__box-description {
    @media (max-width: $lg) {
      text-align: center;
    }
  }

  &__icon-card {
    padding: 0 0 1em 0;
    @media (max-width: $lg) {
      padding: 2em 0;
    }
  }

  .flex {
    padding: 0 0 3em 0;
    .column {
      width: 50%;
      padding: 0 1em;
      @media (max-width: $lg) {
        width: 100%;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.xtrades-alerts {
  padding: var(--section-padding);

  --icon-card-position: relative;
  --x-button-max-width: 100%;

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 1em;
    .column {
      width: 100%;
      padding: 0 1em;
      @media (max-width: $md) {
        padding: 0;
        margin: 0 auto;
        justify-content: center;
      }
    }
  }

  .gradient-overlay {
    width: 100%;
    height: 100%;
    max-width: 514px;
    max-height: 548px;
    margin: 0 auto;
  }

  &__card-wrapper {
    --card-title-margin: 40px auto 0 auto;
    --card-width: 100%;
    --card-height: 100%;

    min-width: 286px;
    max-width: 512px;
    max-height: 546px;

    text-align: center;
    background-size: cover;
    border: 1px solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 18px;
    display: flex;
    background-color: #0c1424;
    background-image: url("/assets/membership-card-bg.webp");
    background-repeat: no-repeat, no-repeat;
    background-position: top, top;

    max-width: 100vw !important;
  }

  &__hero {
    --hero-items-alignment: center;
    justify-content: center;

    width: 100%;
    .hero {
      align-items: center;
    }
  }

  .hero__buttons-row {
    margin-bottom: 40px;
  }

  &__hero-description {
    width: 60%;
    padding: 2em 0;
    text-align: center;
    @media (max-width: $lg) {
      width: 100%;
      text-align: center;
    }
  }

  &__box-description {
    @media (max-width: $lg) {
      text-align: center;
    }
  }

  &__icon-card {
    padding: 0 0 1em 0;
    @media (max-width: $lg) {
      padding: 2em 0;
    }
  }

  app-slider {
    width: 100%;
    max-width: 625px;
    margin: 0 auto;
  }

  .buttons-row__enter-discord {
    display: flex;
    justify-content: center;
    --x-button-max-width: 100%;

    white-space: nowrap;
  }

  &__card-label {
    margin: 20px 0 0 0;
  }

  .buttons-row__pricing {
    font-size: 90px;
    font-weight: 500;
    line-height: 130%;
    padding: 60px 0;
    text-align: center;
    sup {
      font-size: 35px;
      color: var(--grey);
    }
  }
}

.news {
  padding: var(--section-padding);

  &__hero {
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    --hero-items-alignment: center;
  }

  &__description {
    width: 70%;
    padding: 1em 0;
  }

  &__article-hero {
    --hero-items-alignment: left;
  }

&__cards {
    @media (max-width: $lg) {
      max-width: 500px;
      margin: 0 auto;
    }
  }

  app-label {
    margin: 0.75em auto 0.75em 0;
  }

  &__article-main {
    font-size: 25px;
    padding-bottom: 0.75em;
    @media (max-width: $lg) {
      align-items: flex-start;
      text-align: left;
      text-justify: auto;
    }
  }

  &__article-description {
    font-size: 16px;
  }

  --app-hero-width: 100%;
}

.testimonials {
  padding: var(--section-padding);

  &__hero {
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    --hero-items-alignment: center;
  }

  &__description {
    width: 70%;
    padding: 1em 0;
  }
}

.mailing-list {
  padding: var(--section-padding);
  --app-hero-width: 100%;

  .border-white {
    border: 1px solid var(--white);
  }
  .overlay {
    max-width: 547px;
    margin: 0 auto;
  }
  &__wrapper {
    padding: 4em;
    background: url("/assets/mailing-list-bg.webp"), linear-gradient(243.56deg, #57376a 0%, #162441 100%);
    background-position: no-repeat, no-repeat;
    background-size: cover, cover;
    border-radius: 18px;
    @media (max-width: $md) {
      padding: 3em 1em;
    }
  }
  &__main {
    padding: 1em 1em 0.5em 1em;
  }
  &__form {
    padding: 0 1em 3em 1em;
  }
  &__label {
    display: none;
  }
  &__input {
    outline: none;
    background: transparent;
    max-width: 547px;
    max-height: 66px;
    width: 100%;
    border-radius: 14px;
    color: var(--white);
    padding-right: 15em;

    max-width: 547px;

    @media (max-width: $md) {
      padding-right: 5em;
    }

    &::placeholder {
      color: var(--white);
      font-style: normal;
      font-weight: normal;
      @include dynamic-font(16px, 0.75);
      line-height: 180%;
    }
  }
  &__btn {
    outline: none;
    background: transparent;
    border: none;
    height: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding-right: 1em;
    right: 0;
    top: 0;
    color: var(--white);
  }
  .already-subscribed {
    font-weight: 500;
    padding: 1em 0;
  }
}
