@import "../../../styles/vars";
@import "../../../styles/mixins";

.animation {
  grid-area: animation;
}
.main {
  grid-area: main;
}
.hero-description {
  grid-area: description;
}

.hero {
  padding: 50px 16px;
  display: grid;
  grid-template-areas:
    "main animation animation animation"
    "description animation animation animation";
  gap: 10px;
  @media (max-width: $md) {
    padding: 30px 16px;
    grid-template-areas:
      "main"
      "animation"
      "description";
  }
  &__main {
    margin-top: auto;
    margin-bottom: 0;
    @media (max-width: $md) {
      text-align: center;
    }
  }
  &__main-img {
    transform: translate3d(30px, 0, 0);
    @media (max-width: $md) {
      transform: translate3d(-30px, 0, 0);
    }
    @media (max-width: $lg) {
      transform: translate3d(-15px, 0, 0);
    }
  }
  &__joinnow {
    @media (max-width: $md) {
      align-items: center;
      text-align: center;
    }
  }
  &__description {
    width: 80%;
    padding: 15px 0;
  }
  &__levelup-img {
    bottom: 20%;
    left: 70%;
    @media (max-width: $md) {
      top: -200%;
      left: -140%;
    }
    @media (max-width: $sl) {
      top: -200%;
      left: -30%;
    }
  }
  &__buttons-row {
    padding: 15px 0;
    .text-container {
      // padding: 0 0 15px 0;
      bottom: 25%;
      width: 80%;
      left: 10%;
    }
  }
}

.stats {
  &__cards {
    margin: 0 auto;
  }
  &__card-wrapper {
    --card-background: var(--dark-grey-detail);
    --card-padding: 1.5em 3em;
    --card-title-margin: 0 auto;

    max-height: 125px;
    text-align: center;
  }
}

.power-of-xtrades {
  padding: var(--section-padding);
  &__description {
    max-width: 980px;
    width: 70%;
    padding-top: 3em;
    padding-bottom: 1em;
    @media (max-width: $lg) {
      text-align: center;
      width: 100%;
    }
  }
  &__cards {
    margin: 3em auto;
  }
  &__card-wrapper {
    --card-background: linear-gradient(243.56deg, #24324f 0%, #0c1424 100%);
    --card-title-margin: 0;
    --card-padding: 4em 2em;
    --icon-card-width: 60px;
    --icon-card-height: 60px;

    --card-title-font-weight: bold;
    --card-title-padding: 0.5em 0;

    text-align: left;

    @media (max-width: $lg) {
      --card-title-margin: auto;
    }

    --icon-card-top: -30px;
    --icon-card-left: 30px;
  }
  &__hero {
    @media (max-width: $lg) {
      text-align: center;
      margin: 0 auto;
      justify-content: center;
      --hero-items-alignment: center;
      padding: 2em 0;
    }
  }
  &__main {
    max-width: 100vw;
    @media (max-width: $lg) {
      margin: 0 auto;
      width: 100%;
    }
  }

  app-card:nth-of-type(2n + 1) {
    transform: translate3d(0, 50px, 0);
    @media (max-width: $lg) {
      transform: none;
    }
  }

  &__desktop-chat {
    display: block;
    margin: auto;
    @media (max-width: $lg) {
      display: none;
    }
  }

  &__mobile-chat {
    display: none;
    @media (max-width: $lg) {
      display: block;

      .hero__buttons-row {
        margin: 0 auto;
      }
    }
  }
}

.xtrades-edge {
  padding: var(--section-padding);
  --icon-card-position: relative;

  &__hero {
    justify-content: center;
  }

  &__box-description {
    @media (max-width: $lg) {
      text-align: center;
    }
  }

  &__icon-card {
    padding: 0 0 1em 0;
    @media (max-width: $lg) {
      padding: 2em 0;
    }
  }

  .flex {
    padding: 0 0 3em 0;
    .column {
      width: 50%;
      padding: 0 1em;
      @media (max-width: $lg) {
        width: 100%;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.xtrades-alerts {
  padding: var(--section-padding);

  --icon-card-position: relative;
  --x-button-max-width: 100%;

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 1em;
    .column {
      width: 100%;
      padding: 0 1em;
      @media (max-width: $md) {
        padding: 0;
        margin: 0 auto;
        justify-content: center;
      }
    }
  }

  .gradient-overlay {
    width: 100%;
    height: 100%;
    max-width: 514px;
    max-height: 548px;
    margin: 0 auto;
  }

  &__card-wrapper {
    --card-title-margin: 40px auto 0 auto;
    --card-width: 100%;
    --card-height: 100%;

    min-width: 286px;
    max-width: 512px;
    max-height: 546px;

    text-align: center;
    background-size: cover;
    border: 1px solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 18px;
    display: flex;
    background-color: #0c1424;
    background-image: url("/assets/membership-card-bg.webp");
    background-repeat: no-repeat, no-repeat;
    background-position: top, top;

    max-width: 100vw !important;
  }

  &__hero {
    --hero-items-alignment: center;
    justify-content: center;

    width: 100%;
    .hero {
      align-items: center;
    }
  }

  .hero__buttons-row {
    margin-bottom: 40px;
  }

  &__hero-description {
    width: 60%;
    padding: 2em 0;
    text-align: center;
    @media (max-width: $lg) {
      width: 100%;
      text-align: center;
    }
  }

  &__box-description {
    @media (max-width: $lg) {
      text-align: center;
    }
  }

  &__icon-card {
    padding: 0 0 1em 0;
    @media (max-width: $lg) {
      padding: 2em 0;
    }
  }

  app-slider {
    width: 100%;
    max-width: 625px;
    margin: 0 auto;
  }

  .buttons-row__enter {
    display: flex;
    justify-content: center;
    --x-button-max-width: 100%;

    white-space: nowrap;
  }

  &__card-label {
    margin: 20px 0 0 0;
  }

  .buttons-row__pricing {
    font-size: 90px;
    font-weight: 500;
    line-height: 130%;
    padding: 60px 0;
    text-align: center;
    sup {
      font-size: 35px;
      color: var(--grey);
    }
  }
}

.testimonials {
  padding: var(--section-padding);

  &__hero {
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    --hero-items-alignment: center;
  }

  &__description {
    width: 70%;
    padding: 1em 0;
  }
}

.download-app {
  padding-left: 24px;
  @media (max-width: $md) {
    padding: 24px 0 0 0;
  }
}

.pull-down {
  padding-top: 24px;
}
