<app-header></app-header>
<div
  class="promo-wrapper pointer"
  data-aos="fade-down"
  *ngIf="showPromo"
  (click)="proceedPromoLink()"
>
  <div class="promo-text">
    Xtrades.net Is opening their first and only public investment round!
  </div>
  <div class="promo-sub-text">
    <span class="apply pointer" (click)="proceedPromoLink()">Apply Here </span>
    <span class="apply-text">to have a piece at the ground floor</span>
  </div>
</div>
<section
  class="hero flex grid-container relative"
  [class.responsive-main-container]="
    !(screenService.screenSize$ | async)?.isMobile
  "
>
  <div
    class="hero__main relative header-1 header-1-gradient-overlay main"
    data-aos="fade-up"
  >
    The Future <span class="hero__hero-detail">of Trader</span> Collaboration
  </div>
  <div image class="hero__mobile flex relative animation" data-aos="fade-up">
    <app-video-hero></app-video-hero>
  </div>
  <div class="column hero__joinnow hero-description">
    <div class="hero__description description" description data-aos="fade-up">
      Bringing Full Transparency to the Stocks and Options Signals Business
    </div>
    <div class="hero__buttons-row flex" buttons data-aos="fade-up">
      <app-x-button
        class="buttons-row__enter"
        [isColorInverted]="true"
        (click)="handleGoToBetaAppClick()"
      >
        14 Day Free Trial
      </app-x-button>
      <div class="download-app flex flex-row space-x-6">
        <app-mobile-app-link
          icon="ios"
          label="iOS"
          url="https://apps.apple.com/us/app/xtrades/id1619081753"
        ></app-mobile-app-link>
        <app-mobile-app-link
          icon="android"
          label="Android"
          url="https://play.google.com/store/apps/details?id=net.xtrades.app&hl=en&gl=US"
        ></app-mobile-app-link>
        <app-mobile-app-link
          icon="discord"
          label="Discord"
          url="https://discord.com/invite/xtrades"
        ></app-mobile-app-link>
      </div>
    </div>
  </div>
</section>
<section class="stats responsive-main-container column p-2">
  <div class="stats__cards">
    <h1 style="text-align: center; color: #fff" data-aos="fade-up">
      This place is like a gym for trading, I get better every day.
    </h1>
  </div>
</section>
<section class="stats responsive-main-container">
  <div class="stats__cards cards">
    <app-card
      class="stats__card-wrapper card-wrapper"
      data-aos="fade-up"
      [title]="'17,500+'"
      [subtitle]="'Active Members Daily'"
    >
    </app-card>
    <app-card
      class="stats__card-wrapper card-wrapper"
      data-aos="fade-up"
      [title]="'45+'"
      [subtitle]="'Vetted Analysts'"
    >
    </app-card>
    <app-card
      class="stats__card-wrapper card-wrapper"
      data-aos="fade-up"
      [title]="'$2.4M+'"
      [subtitle]="'Paid to Traders'"
    >
    </app-card>
  </div>
</section>
<app-separator [isAnimated]="true"></app-separator>
<section class="power-of-xtrades responsive-main-container column">
  <div class="flex">
    <app-hero class="power-of-xtrades__hero">
      <div
        class="power-of-xtrades__main header-1"
        data-aos="fade-up"
        data-aos-offset="100"
        data-aos-duration="400"
      >
        <span class="hero__hero-detail">The</span> Power
        <span class="hero__hero-detail">of</span> Xtrades
      </div>
      <div class="power-of-xtrades__description description" description>
        Utilizing strict price validation methods, we ensure signals are sent on
        time and actionable. Whether you’re a beginner looking for profitable
        signals, or an expert looking to be incentivized for providing insights,
        Xtrades is a great place to start!
      </div>
    </app-hero>
    <app-hero class="power-of-xtrades__desktop-chat">
      <div
        class="power-of-xtrades__description description"
        description
        data-aos="fade-up"
        data-aos-duration="500"
      >
        Give our discord integrated application a try:
      </div>
      <div class="hero__buttons-row" buttons>
        <app-x-button
          class="buttons-row__enter"
          [isColorInverted]="true"
          (click)="handleGoToBetaAppClick()"
        >
          14 Day Free Trial
        </app-x-button>
      </div>
    </app-hero>
  </div>
  <div class="power-of-xtrades__cards cards flex">
    <app-card
      class="power-of-xtrades__card-wrapper card-wrapper relative"
      data-aos="fade-up"
      data-aos-offset="200"
      [title]="'Learn'"
      [iconPath]="'/assets/learn.svg'"
      [iconAlt]="'Learn'"
    >
      <div subtitleContent>
        <ol>
          <li>1) 1000+ Video Training Archive</li>
          <li>2) Discover Strategies from Statistically Proven Traders</li>
          <li>
            3) Have your trades analyzed by our
            <a
              href="https://app.xtrades.net/x-stats/list?itemId=overallStats"
              target="_blank"
              >xStats System</a
            >
          </li>
          <li>4) Learn practices for optimal performance</li>
        </ol>
      </div>
    </app-card>
    <app-card
      class="power-of-xtrades__card-wrapper card-wrapper relative"
      data-aos="fade-up"
      [title]="'Earn'"
      [iconPath]="'/assets/earn.svg'"
      [iconAlt]="'Earn'"
    >
      <div subtitleContent>
        <ol>
          <li>1) Follow signals with strict price validation to profit</li>
          <li>2) Top the leaderboards and earn every week</li>
          <li>3) Become a ranked Xtrader and up to thousands monthly</li>
          <li>
            4) Sell Courses and Indicator in the
            <a
              href="https://app.xtrades.net/shop/list?category=featured"
              target="_blank"
              >Xtrades Shop</a
            >
          </li>
        </ol>
      </div>
    </app-card>
    <app-card
      class="power-of-xtrades__card-wrapper card-wrapper relative"
      data-aos="fade-up"
      [title]="'Collaborate'"
      [iconPath]="'/assets/build.svg'"
      [iconAlt]="'Build'"
    >
      <div subtitleContent>
        <ol>
          <li>
            1) Interact in real time on our
            <a href="http://discord.gg/xtrades" target="_blank"
              >Discord Channel</a
            >
          </li>
          <li>2) Share your own trades and build a track record</li>
          <li>
            3) Trade indicators, scripts, and coursework with other platfo
          </li>
        </ol>
      </div>
    </app-card>
  </div>
  <app-hero class="power-of-xtrades__mobile-chat" data-aos="fade-up">
    <div class="power-of-xtrades__description description" description>
      Give our discord integrated application a try:
    </div>
    <div class="hero__buttons-row" buttons>
      <app-x-button
        class="buttons-row__enter"
        [isColorInverted]="true"
        (click)="handleGoToBetaAppClick()"
      >
        Web Version
      </app-x-button>
    </div>
  </app-hero>
</section>
<app-separator></app-separator>
<section class="xtrades-edge responsive-main-container column">
  <app-hero class="xtrades-edge__hero flex">
    <div class="xtrades-edge__main header-1">
      <span class="hero__hero-detail">A</span> One Stop
      <span class="hero__hero-detail"> Shop for Traders</span>
    </div>
  </app-hero>
  <div class="flex">
    <div class="column">
      <a href="https://app.xtrades.net/"
        ><img
          lazy
          src="assets/xtrades-edge.webp?ts=20230206204000"
          alt="Xtrades Edge"
          data-aos="fade-up"
          width="590"
          height="430"
      /></a>
    </div>
    <div class="column">
      <div class="flex">
        <div class="box column">
          <app-icon-card
            [iconPath]="'/assets/track-and-trades.svg'"
            class="xtrades-edge__icon-card"
          >
          </app-icon-card>
          <div class="xtrades-edge__box-description description" description>
            Every user’s signaling history is searchable on our application,
            making it easy for you to decide whether or not someone is worth
            learning from during your trading journey
          </div>
        </div>
        <div class="box column">
          <app-icon-card
            [iconPath]="'/assets/internet-presence.svg'"
            class="xtrades-edge__icon-card"
          >
          </app-icon-card>
          <div class="xtrades-edge__box-description description" description>
            Signals are backed by a strict price validation system. Newly added,
            we’ve just begun even further endorsing trades with a Machine
            Learning Algorithm.
          </div>
        </div>
      </div>
      <div class="flex">
        <div class="box column">
          <app-icon-card
            [iconPath]="'/assets/passive-income.svg'"
            class="xtrades-edge__icon-card"
          >
          </app-icon-card>
          <div class="xtrades-edge__box-description description" description>
            With over $3.1M paid to 90+ traders in the last 4 years. You can
            also become an influencer at xtrades once you’ve integrated yourself
            into the community!
          </div>
        </div>
        <div class="box column">
          <app-icon-card
            [iconPath]="'/assets/bell.svg'"
            class="xtrades-edge__icon-card"
          ></app-icon-card>
          <div class="xtrades-edge__box-description description" description>
            Use the Xtrades Mobile App to fully customize your signal
            experience.
          </div>
        </div>
      </div>
      <div class="flex">
        <div class="box column">
          <app-icon-card
            [iconPath]="'/assets/push.svg'"
            class="xtrades-edge__icon-card"
          ></app-icon-card>
          <div class="xtrades-edge__box-description description" description>
            Access our 7+ Video Courses on Trading and 1000’s of Video Lessons
            available to Members Only. Join live webinar’s hosted by seasoned
            veterans.
          </div>
        </div>
        <div class="box column">
          <app-icon-card
            [iconPath]="'/assets/cart.svg'"
            class="xtrades-edge__icon-card"
          ></app-icon-card>
          <div class="xtrades-edge__box-description description" description>
            Purchase custom tools, indicators, and content from the users of our
            platform directly from the
            <a href="https://app.xtrades.net/shop" target="_blank">Shop</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-separator></app-separator>
<section class="xtrades-alerts responsive-main-container flex column">
  <app-hero class="xtrades-alerts__hero flex">
    <div class="xtrades-alerts__main header-1">
      <span class="hero__hero-detail">What is</span> Xtrades
      <span class="hero__hero-detail"> ?</span>
    </div>
    <div class="xtrades-alerts__hero-description description" description>
      Xtrades is pushing the boundaries of Social Trading on the internet. What
      we’ve done is allowed individuals to not only share trades in an honest
      and transparent way - but to gain incentives for doing so. We’ve created a
      place that is not only fun, but rewarding for your time. When you input
      trades into the system, not only do you gain statistics that you can
      analyze through our xStats training model, but also build a reputation
      which you can monetize as an eventual influencer of the platform. Are you
      ready to go from A-Z?
    </div>
  </app-hero>
  <div
    (click)="showReadMoreSection = !showReadMoreSection"
    class="center cursor-pointer"
  >
    {{ showReadMoreSection ? "Read less ..." : "Read more ..." }}
  </div>
  <app-homepage-content
    [ngClass]="showReadMoreSection ? '' : 'is-visible is-height'"
    class="p-2"
  ></app-homepage-content>
  <div class="flex">
    <div class="column">
      <div class="gradient-overlay">
        <app-card class="xtrades-alerts__card-wrapper" [title]="'Xtrades'">
          <app-label
            class="xtrades-alerts__card-label"
            [label]="'Elite member'"
          ></app-label>
          <div class="buttons-row__pricing relative">
            <sup>$</sup
            ><span
              id="membership-price"
              class="membership-price in-viewport"
              appInViewport
              [options]="counterAnimationOptions"
              (inviewport)="animateCounterValue($event)"
            ></span>
          </div>
          <div class="hero__buttons-row" buttons>
            <div class="text-container absolute">
              Sign up for 14 day free trial and get access to premium features!
            </div>
            <app-x-button
              class="buttons-row__enter"
              [isColorInverted]="true"
              (click)="handleGoToBetaAppClick()"
            >
              Sign Up
            </app-x-button>
          </div>
        </app-card>
      </div>
    </div>
    <div class="column">
      <app-slider
        [inputData]="sliderImages"
        [detailedNavigation]="true"
        [config]="config"
      >
      </app-slider>
    </div>
  </div>
</section>
<app-separator></app-separator>
<app-news></app-news>
<app-separator></app-separator>
<section class="testimonials responsive-main-container column">
  <app-hero class="testimonials__hero">
    <div class="testimonials__main header-1" data-aos="fade-up">
      Testimonials
    </div>
  </app-hero>
  <div class="testimonials__slider">
    <app-text-slider
      [testimonials]="testimonials"
      [config]="testimonialsSliderConfig"
    ></app-text-slider>
  </div>
</section>
<app-separator></app-separator>
<section class="faq responsive-main-container column">
  <app-hero class="faq__hero">
    <div class="faq__main header-1" data-aos="fade-up">
      Frequently <span class="faq__hero-detail">Asked</span> Questions
    </div>
  </app-hero>
  <div
    class="faq__questions column cursor-pointer"
    *ngFor="let item of faqs; let i = index"
    [attr.data-index]="i"
    appToggle
  >
    <app-hero class="faq__article-hero" data-aos="fade-up">
      <div class="flex space-between">
        <div class="faq__article-main">
          {{ item.question }}
        </div>
        <button
          aria-label="Toggle FAQ"
          class="faq__toggle-button cursor-pointer"
        ></button>
      </div>
      <div
        class="faq__article-description description"
        description
        [innerHTML]="item.answer"
      >
        <!-- {{ item.answer }} -->
      </div>
    </app-hero>
    <app-separator></app-separator>
  </div>
</section>

<app-mailing-list></app-mailing-list
><app-footer data-aos-offset="130" data-aos-delay="90000"></app-footer>
