Free Trial
Trial Phase 1, Day 1 
#start-here, #announcements, #testimonials, #winning-trades, #options-chat, #options-alerts, #main-stock-chat, #stock-alerts, #trialist-chat, #questions. 

Trial Phase 2, Day 2 
#education-posts, #discussion. 

Trial Phase 3, Day 3  
#account-challenge. 

Trial Phase 4, Day 4 
#options-plays, #stock-plays 

Trial Phase 5, Day 5 
#options-watchlists, #stock-watchlists. 

Trial Phase 6, Day 7  
All other Elite channels, with the exception of #options-elite, #stock-elite, and #investments.


Elite Plan
Elite: $48/month 
- Analyst Stock and Options Alerts 
- Members Plays 
- Fully Moderated Main Channels 
- Live Educational Webinars 
- Live Podcasts 
- Multiple Video Lessons a Week 
- Ability to Progress and Earn Money on Xtrades  - Xtrades Web/Mobile Application Access 
Elite Role on Discord


Elite Plus
Save 33% @ $388/Year
Elite+ 
- All Perks in Elite 
- Gold Color Name 
- Access to Custom Indicators and Scanners


Platinum Lifetime
Platinum Lifetime
- All of Elite+ Perks 
- Save Big with Lifetime Access 
- Access to More Courses and Indicators 
- 2 Hours of Mentorship