Trader Levels
Time + Activity in Chat = Experience Points To Gain Levels.
As traders build their tenure and contribute, they automatically level up as they reach certain thresholds:
Level 1 - 3 days and 75 qualified posts 
Level 2 - 7 days and 150 qualified posts 
Level 3 - 30 days and 300 qualified posts 
Level 4 - 90 days and 1200 qualified posts
Level 5 - 180 days and 2250 qualified posts 
Level 6 - 360 days and 4500 qualified posts 
Level 7 - 540 days and 15,000 qualified posts 
Level 8 - 600 days and 25,000 qualified posts 
Level 9 - 1300 days and 40,000 qualified posts
A Qualified Post is a message that contains a minimum of 13 words OR includes a ticker symbol (e.g. SPY).